.backstage-products-wrapper {
    display: flex;

    @include backstage; //引入後台版型

    @include backstageBtn (20%); //後台用btn

    @include td (30,30%); //td的寬度，class名稱要td_後面自己設名稱

    @include td (55,55%); //td的寬度，class名稱要td_後面自己設名稱

    @include pagination; //引入pagination

    @include td (75,75%);

    @include td (80,80%);

    @include td (md,80%);

    @include td (125,125%);

    @include td (100,100%);

    @include textarea (20px);

    .td_md {
        justify-content: flex-start !important;

    }

    .btnBox {
        display: flex;
        width : 70%;
        height: 100%;
        align-items: center;

        @include backstageBtn (50%); //後台用btn
    }

    .imgbox {
        justify-content: space-between !important;
        img {
            max-width : 300px;
        }
    }

    .input_status {
        font-size: 16px;
    }

    .fas {
        font-size: 30px;
        cursor: pointer;
    }

    .btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 25px;
        width:100%;
    }
    .bkbtn_Red{
        text-align:center;
    }
}