* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

nav > .Logo > img {
  width : 50%;
}

// ---------- base ---------- //
@import "base/var";

// ---------- mixin ---------- //
@import "mixin/mixin";

// ---------- modules ---------- //
@import "modules/button";

// ---------- layout ---------- //
@import "layout/header";
@import "layout/member";

// ---------- page ---------- //
// page_index
@import "page/index/all";

// page_moonMap
@import "page/moonMapList/all";
@import "page/moonMap/all";
@import "page/know/all";

//page_moonMatch
@import "page/moonMatch/all";
@import "page/moonMatch/large";
@import "page/moonMatch/medium";
@import "page/moonMatch/small";
@import "page/moonMatch/xsmall";

//page_moonShop
@import "page/moonShop/all";

// page_MyInfo
@import "page/MyInfo/all";

// page_MyInfo
@import "page/MyOrder/all";

// ---------- plugins ---------- //
@import "plugins/allplugin";
