* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0ded1;
}
img {
  width: 100%;
}

// ---------- base ---------- //
@import "base/var";

// ---------- mixin ---------- //
@import "mixin/mixin";

// ---------- modules ---------- //
@import "modules/button";

// ---------- layout ---------- //
@import "layout/header";

// ---------- page ---------- //
// page_index
@import "page/index/all";

// page_moonMap
@import "page/moonMap/all";

//page_moonMatch
@import "page/moonMatch/all";
@import "page/moonMatch/large";
@import "page/moonMatch/medium";
@import "page/moonMatch/small";
@import "page/moonMatch/xsmall";

// ---------- plugins ---------- //
@import "./plugins/allplugin";
