* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0ded1;
}
img {
  width: 100%;
}

//base
@import "base/var";

//mixin
@import "mixin/mixin";

//modules
@import "modules/button";

//layout
@import "layout/header";

//page
@import "page/index/all";
@import "page/moonMap/all";
@import "page/know/all";

//plugins
@import "plugins/allplugin";
