.body{
    margin:auto;
    width: 100%;
    background-image: url('/images/index/花紋.svg');
    background-repeat: repeat;
    background-position: center center;
    z-index: 0;
}
.shoppingCar-wrapper{
  
   
      #ad {
      padding-top: 180px;
      }
  
      #product {
      margin-top: 35px;
      }
      #adre{
          padding-top: 130px;
      }

      #moonthings{
          margin-top: 60px;
        //   border:2px solid green;
      }
      a{
          display:block;
          text-decoration: none;
      }
      img{
          cursor: pointer;
      }
      i{
          cursor: pointer;
      }
      #NonCusImages{
          padding:35px 0;
      }
 
    
      .container {
    //   border:3px solid blue;
      @include signToBox(300px, 10px, 5px, 20px);
      @include margin_auto();
      @include proToBox(1){
          width:100%;
      };
      max-width: $max-width;
      width: 100%;
         
         
          .orderImg {
          right: -60px;
          top: -185px;
          position: absolute;
          width: 280px;
          height: 280px;
        //   border: 2px solid red;
          z-index:-5;
          }
 
          //商品內容
          //商品標題
          .cart-title {
            width: 100%;
            background-color: #ac5454;
            padding: 5px;
        }
          //商品標題表格
          .cart-title td {
          width:16%;
          text-align:center;
         //  padding: 0 40px;
          color: #fff8ce;
          font-size: 16px;
          border:1px solid blue;
          }

          //購買商品內容
          .signBox_1 {
            position: relative;
            z-index: 5;
            }
          .product-title {
            width:100%;
            padding: 5px;
            background-color: #FFFFFF;
            }

           
            .product-title .pt{
                width:16%; 
           //  width:150px;
           //  height:150px;
           //  background-image: url(/images/moonShop/悠遊卡.png);
           //  padding:0px 30px 0px 30px;
           //  background-position: center;
           //  background-repeat: no-repeat;
           //  background-size:contain;
            }

            //悠遊卡開始
            .product-title tr:nth-child(1){
            width:100px;
            height:100px;
            background-image: url("images/moonShopCar/悠遊卡.png");
            border:5px solid red;
            background-position: center;
            background-size: cover;
            }
            
             
          .product-title .pt1{
         text-align:center;
          width:16%;
          color:black;
          font-size: 16px;
          border-right:1px solid red;
          border-left:1px solid red;
          }

        //   悠遊卡結束
         .product-title .pt2{
         text-align:center;   
         width:16%;
          color:black;
          font-size: 16px;
          border-right:1px solid red;
          }
          .product-title .pt3{
          text-align:center;
          width:16%;
          color:black;
          font-size: 16px;
          border-right:1px solid red; 
          }
          .product-title .pt4 {
          width:16%;
          color:#FFFFFF;
          border-radius: 10px;
          background-color:#ff7a7a;
          text-align:center;
      
         }
          .cart-item p {
          color:#FFFFFF;
          background-color: #ff7a7a;
          text-align: right;
          font-size: 20px;
          width: 100%;
          margin-top: 5px;
          }
 
         //  按鈕--------------------
         .btn_groups {
          position: absolute;
        //   bottom: 50px;
        //   right: 50px;
          }
          .btnBlue {
          @include btnN(10px, #7ed5ea, 0, 48px, 150px, 20px);
          margin-right: 20px;
          }
          .btnRed {
          @include btnN(10px, #ff7a7a, 0, 48px, 150px, 20px);
          }
 

        //   商品重新做scss-----------------------------------
        //招牌
        
            
        .adouter{
            display:flex;
            justify-content: center;
            background-image:  #ac5454;
            .adinner{
                // border-radius: 600px/200px;
                text-align:center;
                font-size:50px;
                color:  #ac5454;
                background-color: #fff8ce;             
                margin:auto;
            }
        }
    


        // 商品外框顏色

        .thingsContent{
            // background-color:#FFFFFF;
            border:5px solid #ac5454;
            border-radius:20px;
            box-shadow:0px 0px 0px 10px  #ff7a7a;         
             //商品標題
            .cars_titles {
                width: 100%;
                background-color: #ac5454;
                padding: 5px; 
                   //商品標題表格
                td {
                    width:16%;
                    text-align:center;
                    //  padding: 0 40px;
                    color: #fff8ce;
                    font-size: 16px;
                }
            }
            // 購物車內容-------------------------------
            .cars_contents{
                width:100%;
                padding: 5px;
                td{
                    width:16%;
                    text-align:center;
                } 
                td:nth-child(1){
                    width:16%;
                    height:100px;
                    background-image:url("/images/moonShop/悠遊卡.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    overflow: hidden;
                    border-right:2px solid #ff7a7a; 
                    cursor: pointer;  
                }  
                td:nth-child(2){
                    border-right:2px solid #ff7a7a; 
                }
                td:nth-child(3){
                    border-right:2px solid #ff7a7a; 
                }
                td:nth-child(4){
                    border-right:2px solid #ff7a7a; 
                }
                td:nth-child(5){
                    border-right:2px solid #ff7a7a; 
                }
                td:nth-child(6) p{
                    // border:1px solid  #ff7a7a;
                    border-radius: 25px;
                    background-color: #ff7a7a;
                    padding:10px;
                    margin:0 20px;   
                    color:#FFFFFF;    
                    cursor: pointer;             
                } 
                td:nth-child(6) p:hover{
                    background-color:#ac5454;
                }
            
            }
                //  以下要再放回去巢狀
               .cars_items p{
                    margin:0 10px;
                    text-align:right;
                    background-color: #ff7a7a;
                    color:#FFFFFF;
                    font-size:20px;
                }
                .carsbtn_groups{
                    margin:50px 10px 10px 0;
                    display:flex;
                    justify-content: flex-end;
                    // border:1px solid green;
                }
                .cars_btnBlue{
                    
                    background-color: #7ed5ea;
                    border-radius: 30px;
                    padding:10px 30px;
                    font-size:20px;
                    color:#FFFFFF;
                    margin-right:10px;
                    cursor: pointer;
                }
                .cars_btnBlue:hover{
                    background-color:#599aaa;
                }
                .cars_btnRed{
                
                    background-color:#ff7a7a;
                    border-radius:30px;
                    padding:10px 30px;
                    font-size:20px;
                    color:#FFFFFF;
                    cursor: pointer;
                }
                .cars_btnRed:hover{
                    background-color:#ac5454;
                }
           
            }
        // 重新推薦商品-------------
    .item_groups{
            border:1px solid red;
            @include item_groups();
                // 非客制化圖片
        .CusImage5 {
            padding:8px;
            @include customerImg();
            .easyCard {
                @include easyCard();
            }
            .ImagePrice1 {
                @include ImagePrice1();
            }
            .shopCars {
                @include shopCars();
                cursor: pointer;
            }
            .shopCars:hover{
                background-color:#ac5454;
            }
            .ImageContent1 {
                @include productsImg();
           
            }
            .qty {
                @include qty();
               vertical-align: text-bottom;
            }
            .proAmount {
                 text-align:center;
                bottom: 35px;
              
            }
            .proAmount i{
                margin-top:5px;
                color:#7ed5ea;
            }
            .qty_plus {
                @include qty_plus();
            }
            .qty_minus {
                @include qty_minus();
            }
        }
        .CusImage6 {
            padding:8px;
            @include customerImg();
            .easyCard {
                @include easyCard();
            }
            .ImagePrice1 {
                @include ImagePrice1();
            }
            .shopCars {
                @include shopCars();
                cursor: pointer;
            }
            .shopCars:hover{
                background-color:#ac5454;
            }
            .ImageContent1 {
                @include productsImg();
          
            }
            .qty {
                @include qty();
               vertical-align: text-bottom;
            }
            .proAmount {
                 text-align:center;
                bottom: 35px;
              
            }
            .proAmount i{
                margin-top:5px;
                color:#7ed5ea;
            }
            .qty_plus {
                @include qty_plus();
            }
            .qty_minus {
                @include qty_minus();
            }
        }
        .CusImage7 {
            padding:8px;
            @include customerImg();
            .easyCard {
                @include easyCard();
            }
            .ImagePrice1 {
                @include ImagePrice1();
            }
            .shopCars {
                @include shopCars();
                cursor: pointer;
            }
            .shopCars:hover{
                background-color:#ac5454;
            }
            .ImageContent1 {
                @include productsImg();
               
            }
            .qty {
                @include qty();
               vertical-align: text-bottom;
            }
            .proAmount {
                 text-align:center;
                bottom: 35px;
              
            }
            .proAmount i{
                margin-top:5px;
                color:#7ed5ea;
            }
            .qty_plus {
                @include qty_plus();
            }
            .qty_minus {
                @include qty_minus();
            }
        }
        .CusImage8 {
            padding:8px;
            @include customerImg();
            .easyCard {
                @include easyCard();
            }
            .ImagePrice1 {
                @include ImagePrice1();
            }
            .shopCars {
                @include shopCars();
                cursor: pointer;
            }
            .shopCars:hover{
                background-color:#ac5454;
            }
            .ImageContent1 {
                @include productsImg();
            }
            .qty {
                @include qty();
               vertical-align: text-bottom;
            }
            .proAmount {
                 text-align:center;
                bottom: 35px;
              
            }
            .proAmount i{
                margin-top:5px;
                color:#7ed5ea;
            }
            .qty_plus {
                @include qty_plus();
            }
            .qty_minus {
                @include qty_minus();
            }
        }
    }

      //----------------最後一次
        .moontotal{
            box-shadow:0px 0px 0px 10px  #ff7a7a; 
            border:5px solid #ac5454;
            width:100%;
            border-radius: 15px;
            background-color:#FFFFFF;
            .mtitle{
                display:flex;
                // border:1px solid blue;
                width:100%;
                padding:5px 0 5px 0;
                background-color: #ac5454;
                .mImage{
                    width:16%;
                    // border:1px solid green;
                    text-align:center;
                    color:#FFFFFF;
                }
                .mwords{
                    display:flex;
                    width:84%;
                    // border:1px solid orange;
                    div{
                        width:20%;
                        text-align:center;
                        color:#FFFFFF;
                    }
                }
            } 
            .mcontent{
                display:flex;
                // border:1px solid purple;
                width:100%;
                .pImage{
                    width:16%;
                    border:1px solid #ff7a7a;
                    background-color:#FFFFFF;
                    .ppicture{
                        width:80%;
                        height:90%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin: 10px auto 10px auto;
                        position: relative;
                        .eCard{
                            position: absolute;
                            width:80%;
                            height:80%;
                            left:0;
                            right:0;
                            top:0;
                            bottom:0;
                            margin:auto;
                            border:1px solid red;
                            .acceptPic{
                                width:100%;
                                height:100%;
                            }
                        }
                        
                    }
                }
                .pwords{               
                    width:34%;
                    // border:1px solid yellow;
                    background-color:#FFFFFF;
                    .pwords_inner{
                        display:flex;
                        width:100%;
                        div{
                            font-size:20px;
                            width:50%;
                            text-align:center;
                            line-height:110px;
                        }
                    }
                }
                .pwords2{              
                    width:34%;
                    background-color:#FFFFFF;
                    .pwords2_inner{                     
                        display:flex;
                        width:100%;
                        margin:auto;
                        .proAmount {                         
                            text-align:center;
                            bottom: 35px;
                            }
                        .proAmount i{
                            color:#7ed5ea;
                            font-size:30px;
                            }
                        .qty {
                            height: 35px;
                            width: 35px;
                            vertical-align: text-bottom;
                            }
                        .proAmount {
                            text-align: center;
                            bottom: 35px;
                            }
                        div{
                            font-size:20px;
                            width:50%;
                            text-align:center;
                            line-height: 110px;
                        }
                    }
                }
                .m_del{
                    background-color:#FFFFFF;
                    width:16%;
                    text-align:center;
                    // line-height: 110px;
                    p{
                        background-color:#ff7a7a;
                        border-radius: 30px;
                        margin:30px;
                        height:50px;
                        color:#FFFFFF;
                        line-height:50px;
                        font-size:20px;
                    }
                    p:hover{
                        background-color:#ac5454;
                        cursor: pointer;
                    }
                }
                .garbageCan{
                    display:none;
                }
            }
            // .mcontent2{
            //     margin:5px 0;
            //     display:flex;
            //     // border:1px solid purple;
            //     width:100%;
            //     .pImage2{
            //         width:16%;
            //         border:1px solid pink;
            //         background-color:#FFFFFF;
            //         .ppicture2{
            //             width:80%;
            //             height:90px;
            //             background-image:url(/images/moonShopCar/悠遊卡.png);
            //             background-position: center;
            //             background-repeat: no-repeat;
            //             background-size: cover;
            //             margin: 10px auto 10px auto;
                        
            //         }
            //     }
            //     .pwords2{
            //         display:flex;
            //         width:84%;
            //         // border:1px solid yellow;
            //         background-color:#FFFFFF;
            //         div{
            //             width:20%;
            //             text-align:center;
            //             line-height:110px;
            //         }
            //     }
            // }
        }
        .thingsPay{
            background-color: #ff7a7a;
            text-align:right;
            margin:5px;
            padding:5px;
            p{
                color:#FFFFFF;
                font-size:20px;
            }
        }
        .C_groups{
            margin:50px 10px 10px 0;
            display:flex;
            justify-content: flex-end;
            .C_btnBlue{
                background-color: #7ed5ea;
                border-radius: 30px;
                padding:10px 30px;
                font-size:20px;
                color:#FFFFFF;
                margin-right:10px;
                cursor: pointer;
            }
                .C_btnBlue:hover{
                    background-color:#599aaa;
                }
            .C_btnRed{
                background-color:#ff7a7a;
                border-radius:30px;
                padding:10px 30px;
                font-size:20px;
                color:#FFFFFF;
                cursor: pointer;
                }
                .C_btnRed:hover{
                    background-color:#ac5454;
                }
            }
        }
  


      // 輪播-------------
      .swiper-container {
        max-width:992px;
         padding:10px;
          width: 100%;
          height: 100%;
          margin-top:130px;
          display:flex;
          flex-wrap: wrap;
          margin-bottom:25px;
        }
      .swiper-slide {
      border: 5px solid #ac5454;
      background-color: #FFFFFF;
      box-shadow: 0px 0px 0px 10px #ff7a7a;
      border-radius: 15px;
      padding:10px;
      text-align: center;
      font-size: 18px;
      width:100%;
      max-height:320px; 
      height:350px;
      .easyCard {
          @include easyCard();
      }
      .ImagePrice1 {
          @include ImagePrice1();
      }
      .shopCars {
          @include shopCars();
          cursor: pointer;
        
      }
      .shopCars:hover{
          background-color: #ac5454;
      }
      .ImageContent1 {
          height: "130px";
          width: "150px";
         
      }
    
      .proAmount {
          text-align:center;
          bottom: 35px;
        
      }
      .proAmount i{
          color:#7ed5ea;
      }
      .qty {
          height: 35px;
          width: 35px;
          vertical-align: text-bottom;
      }
      .proAmount {
          text-align: center;
          bottom: 35px;
      }
  
      .shopCars {
          width:60%;
          margin: 0 auto;
          bottom: 2px;
          font-weight: bold;
          font-size: 20px;
          background-color: #FF7A7A;
          color: #FFFFFF;
          display:flex;
          justify-content: center;
          align-items:center;
          margin: auto;
          border-radius: 20px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          padding:20px 0;
          }
      }
  }