.bgColorDefault{
    background-color: #F0DED1;
}

.bgImgCloud{
    background-image: url('/images/index/花紋.svg');
    background-repeat: repeat;
    background-position: center center;
    background-size: 20%;
}

.bgImgHeart{
    background-image: url(../../images/moonMatch/愛心.png);
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
}