.bgColorDefault{
    background-color: #F0DED1;
}

.bgImgCloud{
    background-image: url(../images/index/pattern.svg);
    background-repeat: repeat;
    background-position: center center;
    background-size: 20%;
}

.bgImgHeart{
    background-image: url(../images/moonMatch/heart.png);
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
}