
.header {
  @include nav;

  .list.bars.barList.-on {
    right: 0;
  }

  .hamburger {
    &:focus {
      outline: none;
    }
    .hamburger-box {
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

// ====================以下為登入註冊燈箱=========================

@import '../mixin/mixin';

$btnwd : 25%;
$btnmg : 0 10px;

.login_pop { //燈箱
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0%;
  z-index: 9999;
}

@include display; //display none and block and flex

.login_pop_in { //燈箱內部
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .5);
  backdrop-filter: blur(2px);
}

@mixin account ($Box, $wd) { // 註冊和登入
  .account_#{$Box} {
    display: none;
    width: $wd;
    background-color: #ff7a7a;
    border-radius: 10px;
    justify-content: center;
    margin: auto;
    position: relative;
  }
}

@include account (login, 30%);
@include account (signup, 40%);

@include times-circle; //關閉按鈕

.fas.fa-times-circle { //關閉按鈕
  font-size: 40px;
  position: absolute;
  top: -25px;
  right: -20px;
}

.account_inbox { //註冊和登入內部
  width: 100%;
  margin: 2%;
  padding: 1%;
  background-color: #fff8ce;
  border: 10px solid #ac5454;
  border-radius: 10px;
}

@mixin account_text ($Box, $mg) { //註冊登入標題
  .account_text_#{$Box} {
    text-align: center;
    margin: $mg;
  } 
}

@include account_text (login, 10% auto);
@include account_text (signup, 5% auto);

.inputbox { //input區塊
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.inputbox_signup { //註冊input
  justify-content: center;
}

.input_text { //input文字
  display: inline-block;
  width: 25%;
  text-align: right;
  padding-right: 10px;
}

@mixin input ($Box, $wd) { //input大小
  .input_#{$Box} {
    width: $wd;
    height: 30px;
    font-size: 10px;
    display: inline-block;
  }
}

@include errorRed; //邊框文字錯誤警示

.str_clear {
  color:  #599aaa;
}


@include input (login, 60%);
@include input (signup, 40%);

.right_space { //input右方空白區域
  width: $btnwd;
  margin: $btnmg;
  text-align: center;
  font-size: 16px;
}

@include btn(Ver, $btnwd, 5px); //驗證信按鈕
@include input_number;     //input number按鈕移除

.btnBlue_Ver { //驗證信按鈕
  font-size: 16px;
  margin: $btnmg;
}

@include btn(signup, 33%, 7px); //註冊登入按鈕

@mixin submit ($Box, $jsf, $mg) { //登入註冊按鈕
  .submit_#{$Box} {
    display: flex;
    justify-content: $jsf;
    margin: $mg;
  }
}

@include submit(login, space-between, 35px 35px); //登入按鈕
@include submit(signup, center, 20px 35px); //註冊按鈕

.btn_signup { //註冊按鈕
  margin: 0 10px;
  font-size: 16px;
}

.str_error {
  font-size: 16px;
}

.h0{
  height: 0;
}