
.header {
  @include nav;

  .list.bars.barList.-on {
    right: 0;
  }

  .hamburger {
    &:focus {
      outline: none;
    }
    .hamburger-box {
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
