.mList {
    background-color: #F0DED1;
}

@mixin member{
    
    .list {
        text-align: center;
        list-style: none;
    }

    .list:hover {
        border-radius: 10px;
        background-color: #FF7A7A;
    }

    .Mcontainer {
        // border: 1px solid #000;
        height: calc(#{$bodyHeight} - #{$headerHeight});
        display: flex;
        justify-content: center;
    }
    
    aside {
        width: 15%;
        // border: $bd;
        margin: $CMargin;
        @include flexCenter;
        align-items: flex-start;
    
        .option {
            width: 100%;
            border: $bd;
            margin: 0 10%;
            background-color: #FFE5BA;
            border: 6px solid white;
            border-radius: 10px;
            padding-inline-start: 0;
        }

        .list {
            margin: 10% auto;
        }

        .list > * {
            color: #981A1A;
            text-decoration: none;
        }

        .listName {
            font-weight: 400;
        }

        .bold {
            font-weight: bold;
        }

    }
    
    main {
        margin: $CMargin;
        display: inline-block;
        width: 70%;
        height: 400px;
        // border: $bd;
    
    }

    // rwd

    
    @include rwd(large) {
        aside {
            width: 20%;
        }
        main {
          width : 80%;
        }
    }

    @include rwd(medium) {
        aside {
            width: 25%;
            margin: 4% 0;
        }
        main {
          width : 75%;
        }
    }

    @include rwd(small) {
        flex-direction: column;
        align-items: center;

        aside{
            width : 100%;
            margin: 0 10%;

            .option {
                display: flex;
                margin: 0 2%;
                border-radius: 10px 10px 0 0;
                border: none;

                li {
                    margin: 0;
                    width: 25%;

                    h3 {
                        line-height: 80px;
                    }

                    .bold {
                        border-radius: 10px 10px 0 0;
                        background-color: #981A1A;
                        color: white;
                    }

                    &:hover {
                        border-radius: 10px 10px 0 0;
                    }
                }
            }
        }

        main {
            width: 96%;
            margin: 0% 2%;
        }
    }

    @include rwd(xsmall) {
        aside {
            .option {

                & > li:nth-child(2) {
                    width :30%;
                }

                h3 {
                    font-size: 16px;
                }
            }
        }
    }


      
}

@mixin insideScroll {
    ::-webkit-scrollbar {
        width: 15px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background-color: #FF8181; 
        border-radius: 10px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #AC5454; 
        border-radius: 10px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background:#d65858; 
      }
}