.mList, .Mbody {
    background-color: #F0DED1;
    overflow-X: hidden;
    z-index: -3;

    // cloud

    .membercloud {
        position: fixed;
        z-index: -2;
        width: 100%;
        height : 100%;
        // border: 1px solid red;
        overflow: hidden;

        .cloud {
            position: absolute;
        }

        .cloud1, .cloud2 {
            top: 0;
            right: 0;
        }

        .cloud3 {
            left : 10%;
            top : 20%;
        }

        .cloud4 {
            left: 0%;
            top: 24%;
        }

        .cloud5 {
            right : 0;
            top : 60%;
        }

        .cloud6 {
            right: 10%;
            top : 65%;
        }

        .cloud7, .cloud8 {
            left: 0;
            bottom : 0;
        }

        img {
            max-width : 100%;
        }
    }
}

@mixin member{
    
    .list {
        text-align: center;
        list-style: none;
    }

    .list:hover {
        border-radius: 10px;
        background-color: #FF7A7A;
    }

    .Mcontainer {
        // border: 1px solid #000;
        height: calc(#{$bodyHeight} - #{$headerHeight});
        display: flex;
        justify-content: center;
    }
    
    aside {
        width: 15%;
        // border: $bd;
        margin: $CMargin;
        @include flexCenter;
        align-items: flex-start;
        position: fixed;
    
        .option {
            width: 100%;
            border: $bd;
            margin: 0 10%;
            background-color: #FFE5BA;
            border: 6px solid white;
            border-radius: 10px;
            padding-inline-start: 0;
        }

        .list {
            margin: 10% auto;
        }

        .list > * {
            color: #981A1A;
            text-decoration: none;
        }

        .listName {
            font-weight: 400;
            line-height: 50px;
        }

        .bold {
            font-weight: bold;
        }

    }
    
    main {
        margin: $CMargin;
        display: inline-block;
        width: 70%;
        height: 400px;
        margin-left: 25%;
    
    }

    // rwd

    
    @include rwd(large) {
        aside {
            width: 20%;
        }
        main {
          width : 80%;
        }
    }

    @include rwd(medium) {
        aside {
            width: 25%;
            margin: 3% 0;
        }
        main {
          width : 75%;
        }
    }

    @include rwd(small) {
        flex-direction: column;
        align-items: center;

        aside{
            width : 100%;
            margin: 0 10%;
            position: static;

            .option {
                display: flex;
                margin: 0 2%;
                border-radius: 10px 10px 0 0;
                border: none;

                li {
                    margin: 0;
                    width: 25%;

                    h3 {
                        line-height: 80px;
                    }

                    .bold {
                        border-radius: 10px 10px 0 0;
                        background-color: #981A1A;
                        color: white;
                    }

                    &:hover {
                        border-radius: 10px 10px 0 0;
                    }
                }
            }
        }

        main {
            width: 96%;
            margin: 0% 2%;
        }
    }

    @include rwd(xsmall) {
        aside {
            .option {

                & > li:nth-child(2) {
                    width :30%;
                }

                h3 {
                    font-size: 16px;
                }
            }
        }
    }


      
}

@mixin insideScroll {
    ::-webkit-scrollbar {
        width: 15px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background-color: #FF8181; 
        border-radius: 10px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #AC5454; 
        border-radius: 10px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background:#d65858; 
      }
}

@mixin mascot {

    .mascotimg {
        @include flexCenter;
        // border: 1px solid #000;
        position: relative;

        .tail {
            position: absolute;
            // border: 1px solid black;
            img {
                width : 100%;
            }
        }

        
        .dress {

            position: absolute;
            // border: 1px solid black;

            img {
                width : 100%;
            }
        }

        .head {
            width: 25%;
            position: absolute;
            // border: 1px solid black;

            img {
                width : 100%;
            }
        }

        .face {
            position: absolute;
            // border: 1px solid black;
            width: 35%;

            img {
                width : 100%;
            }
        }

        .monkey_face {
            top: 31%;
        }

        .fox_face {
            top: 33.3%;
        }

        .monkey_head {
            width: 25%;
            top: 18%;
        }

        .fox_head {
            top: 19%;
            left: 42%;
        }

        .monkey_dress {
            width: 41%;
            top: 43%;
        }

        .fox_dress {
            width: 48%;
            top: 36%;
        }

        .monkey_tail {
            width: 13%;
            top: 16%;
            left: 64%;
            height: 58%;
        }

        .fox_tail {
            width: 24%;
            top: 32.1%;
            left: 59.5%;
        }

        .rabbit_face {
            top: 34.2%;
        }

        .rabbit_head {
            width : 29%;
            top: 20%;
        }

        .rabbit_dress {
            width: 35%;
            top: 44%;
        }

        .rabbit_tail {
            width: 11%;
            top: 64%;
            left: 64%;
        }

        .chat {
            width: 50%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            background-color: white;
            padding: 5% 3%;
            border-radius: 20px;
            border: 10px solid #FF8484;
            position: absolute;
            bottom: 80%;
            left : 70%;

            h3 {
                color: #FF8484;
            }

            h4 {
                font-weight: 600;
            }
            
            .triangle {
                position: absolute;
                top: 100%;
                border-style: solid;
                border-width: 30px 35px 0 5px;
                border-color: #FF8484 transparent transparent transparent;
                left: 5%;
            }

            .trianglein {
                position: absolute;
                top: 99%;
                border-style: solid;
                border-width: 24px 25px 0 5px;
                border-color: white transparent transparent transparent;
                left: 7%;
            }


        }

        .mascots {
            width : 80%;
        }
    }

}