<!DOCTYPE html>
<html lang="zh-hant">
<head>
    <meta charset="UTF-8">
    <!-- icon -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="./js/bootstrap/dist/css/bootstrap.min.css">
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- jq -->
    <script src="./js/jquery/dist/jquery.min.js"></script>
    <!-- popper js -->
    <script src="./js/@popperjs/core/dist/umd/popper.min.js"></script>
    <!-- vue -->
    <script src="./js/vue.js"></script>
    <!-- 只要有套用backstage.js 會自動在當aside頁籤上fontWeight:bold -->
    <title>籤詩管理</title>

</head>
<body>

    <!------------------------------header---------------------------------->
    <header class="header">
        <nav class="nav navback" id="nav">
            <div class="title"><h1>月老求籤　|</h1><h2 class="smallTitle">　籤詩管理</h2></div>
            <div class="logout">
                <h3>
                    登出
                </h3>
            </div>
        </nav>
    </header>    
    <!-- wrapper請取自己的名稱，套用範例的格式 -->
    <div id="backend" class="backstage-wrapper"> 

            <!------------------------------內容---------------------------------->
            
                <!------------------------------側邊選單---------------------------------->
        <aside>

            <div class="Logo"><a href="./index.html"><img src="./images/logo.png"></a></div>

            <div class="username">
                <h2 class="text" v-model="username">登入者 : {{username}}</h2>
            </div>

            <ul class="option">
                <li class="list" v-for="list in lists">
                    <a href="#" >
                        <h3 class="listName" @click="backmenu(list)">
                            {{list}}
                        </h3>
                    </a>
                </li>
            </ul>
        </aside>
        <!------------------------------主要內容---------------------------------->

        <main>
            <div class="Bcontainer">

                <div class="editbar">
                    <div class="bkbtn_Blue"><h3>新增籤詩</h3></div>
                </div>

                <table>
                    <!-- 標題在thead class要按照下面方式寫才能吃到顏色-->
                    <thead>
                        <tr>
                            <!-- td_***是設定寬度 -->
                            <td class="thtd td_sexfat"><h3>1</h3></td>
                            <td class="thtd"><h3>2</h3></td>
                            <td class="thtd"><h3>3</h3></td>
                            <td class="thtd"><h3>4</h3></td>
                            <td class="thtd"><h3>5</h3></td>
                            <td class="thtd"><h3>6</h3></td>
                            <td class="thtd"><h3>7</h3></td>
                        </tr>
                    </thead>
                    <!-- 內容在tbody，如果要新增行數就加一組tr -->
                    <tbody>

                        <tr>
                            <td class="td_sexfat"><h4>列一</h4></td>
                            <td><h4>範例二</h4></td>
                            <td><h4>範例三</h4></td>
                            <td><h4>範例四</h4></td>
                            <td><h4>範例五</h4></td>
                            <td><h4>範例六</h4></td>
                            <td><h4>範例七</h4></td>
                        </tr>

                        <tr>
                            <td><h4>列二</h4></td>
                            <td><h4>範例二</h4></td>
                            <td><h4>範例三</h4></td>
                            <td><h4>範例四</h4></td>
                            <td><h4>範例五</h4></td>
                            <td><h4>範例六</h4></td>
                            <td><h4>範例七</h4></td>
                        </tr>

                        <tr>
                            <td><h4>列三</h4></td>
                            <td><h4>範例二</h4></td>
                            <td><h4>範例三</h4></td>
                            <td><h4>範例四</h4></td>
                            <td><h4>範例五</h4></td>
                            <td><h4>範例六</h4></td>
                            <td><h4>範例七</h4></td>
                        </tr>

                        <tr>
                            <td><h4>列四</h4></td>
                            <td><h4>範例二</h4></td>
                            <td><h4>範例三</h4></td>
                            <td><h4>範例四</h4></td>
                            <td><h4>範例五</h4></td>
                            <td><h4>範例六</h4></td>
                            <td><h4>範例七</h4></td>
                        </tr>

                        <tr>
                            <td><h4>列五</h4></td>
                            <td><h4>範例二</h4></td>
                            <td><h4>範例三</h4></td>
                            <td><h4>範例四</h4></td>
                            <td><h4>範例五</h4></td>
                            <td><h4>範例六</h4></td>
                            <td><h4>範例七</h4></td>
                        </tr>

                        <tr>
                            <td><h4>列六</h4></td>
                            <td><h4>範例二</h4></td>
                            <td><h4>範例三</h4></td>
                            <td><h4>範例四</h4></td>
                            <td><h4>範例五</h4></td>
                            <td><h4>範例六</h4></td>
                            <td><h4>範例七</h4></td>
                        </tr>

                        <tr>
                            <td><h4>列七</h4></td>
                            <td><h4>範例二</h4></td>
                            <td><h4>範例三</h4></td>
                            <td><h4>範例四</h4></td>
                            <td><h4>範例五</h4></td>
                            <td><h4>範例六</h4></td>
                            <td><h4>範例七</h4></td>
                        </tr>

                        <tr>
                            <td><h4>列八</h4></td>
                            <td><h4>範例二</h4></td>
                            <td><h4>範例三</h4></td>
                            <td><h4>範例四</h4></td>
                            <td><h4>範例五</h4></td>
                            <td><h4>範例六</h4></td>
                            <td><h4>範例七</h4></td>
                        </tr>

                        <tr>
                            <td><h4>列九</h4></td>
                            <td><h4>範例二</h4></td>
                            <td><h4>範例三</h4></td>
                            <td><h4>範例四</h4></td>
                            <td><h4>範例五</h4></td>
                            <td><h4>範例六</h4></td>
                            <td><h4>範例七</h4></td>
                        </tr>

                        <tr>
                            <td><h4>列十</h4></td>
                            <td><h4>範例二</h4></td>
                            <td><h4>範例三</h4></td>
                            <td><h4>範例四</h4></td>
                            <td><h4>範例五</h4></td>
                            <td><h4>範例六</h4></td>
                            <td><h4>範例七</h4></td>
                        </tr>
                        
                    </tbody>

                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>

            </div>

        </main>


    </div>

    <!-- 後台js -->
    <script src="./js/backstage.js"></script>
</body>
</html>