<!DOCTYPE html>
<html lang="zh-hant">
<head>
    <meta charset="UTF-8">
    <!-- icon -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- jq -->
    <script src="./js/jquery/dist/jquery.min.js"></script>
    <!-- popper js -->
    <script src="./js/@popperjs/core/dist/umd/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="./js/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- vue -->
    <script src="./js/vue.js"></script>
    <!-- axios js -->
    <script src="./js/axios/dist/axios.min.js"></script>
    <!-- 只要有套用backstage.js 會自動在當aside頁籤上fontWeight:bold -->
    <title>籤詩管理</title>

</head>
<body class="backStageBody">

    <!------------------------------header---------------------------------->
    <header class="header">
        <nav class="nav navback" id="nav">
            <div class="title">
                <h1>月老求籤　|</h1>
                <h2 class="smallTitle" v-if="title === 'menu'">　籤詩管理</h2>
                <h2 class="smallTitle" v-else-if="title === 'add'">　籤詩新增</h2>
                <h2 class="smallTitle" v-else="title === 'modify'">　籤詩修改</h2>
            </div>
            <div class="logout">
                <h3>
                    登出
                </h3>
            </div>
        </nav>
    </header>    
    <!-- wrapper請取自己的名稱，套用範例的格式 -->
    <div id="backend" class="backstage-draw-wrapper"> 

            <!------------------------------內容---------------------------------->
            
                <!------------------------------側邊選單---------------------------------->
        <aside>

            <div class="Logo"><a href="./index.html"><img src="./images/logo.png"></a></div>


            <div class="username">
                <h2 class="text">登入者 : <br> {{username}}</h2>
            </div>

            <ul class="option">
                <li class="list" v-for="(list,key) in lists" :key="key">
                    <a :href="list.href">
                        <h3 class="listName">
                            {{list.list}}
                        </h3>
                    </a>
                </li>
            </ul>
        </aside>
        <!------------------------------主要內容---------------------------------->

        <main>
            <div class="Bcontainer">

                <div class="editbar" v-if="menu">
                    <div class="bkbtn_Blue" @click="add('n')"><h3>新增籤詩</h3></div>
                </div>

                <table v-if="menu">
                    <!-- 標題在thead class要按照下面方式寫才能吃到顏色-->
                    <thead>
                        <tr>
                            <!-- td_***是設定寬度 -->
                            <td class="thtd td_55"><h3>編號</h3></td>
                            <td class="thtd td_80"><h3>籤號</h3></td>
                            <td class="thtd td_75"><h3>籤運</h3></td>
                            <td class="thtd td_125"><h3>籤詩</h3></td>
                            <td class="thtd td_125"><h3>聖意</h3></td>
                            <td class="thtd td_125"><h3>求得此籤</h3></td>
                            <td class="thtd td_75"><h3>狀態</h3></td>
                            <td class="thtd td_75"><h3>編輯</h3></td>
                        </tr>
                    </thead>
                    <!-- 內容在tbody，如果要新增行數就加一組tr -->
                    <tbody>

                        <tr is="row" v-for="(data,index) in pagedListdata" :id="data[0]" :num="data[1]" :lucky="data[2]" :content="data[3]" :detail="data[4]" :answer="data[5]" :status="data[6]" :index="index" @update="updateStatus"></tr>
                        
                    </tbody>

                </table>

                <table v-else="menu">

                        <tr>
                            <td class="td_30"><h4>籤號</h4></td>
                            <td class="td_md">
                                <textarea name="content" id="" cols="30" rows="1" class="editText" v-model="modify_data[1]">
                                </textarea>
                            </td>
                        </tr>
                    
                        <tr>
                            <!-- td_***是設定寬度 -->
                            <td class="td_30"><h4>籤種</h4></td>
                            <td class="td_md">                    
                                <select class="input_status" v-model="modify_data[2]">
                                    <option value="籤王">籤王</option>
                                    <option value="上上大吉">上上大吉</option>
                                    <option value="上吉">上吉</option>
                                    <option value="上上">上上</option>
                                    <option value="上平">上平</option>
                                    <option value="上">上</option>
                                    <option value="中上">中上</option>
                                    <option value="中平">中平</option>
                                    <option value="中">中
                                    </option>
                                    <option value="下">下
                                    </option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td class="td_30"><h4>籤句</h4></td>
                            <td class="td_md">
                                <textarea name="content" id="" cols="30" rows="10" class="editText" v-model="modify_data[3]">
                                </textarea>
                            </td>
                        </tr>

                        <tr>
                            <td class="td_30"><h4>聖意</h4></td>
                            <td class="td_md">
                                <textarea name="content" id="" cols="30" rows="10" class="editText" v-model="modify_data[4]">
                                </textarea>
                            </td>
                        </tr>

                        <tr>
                            <td class="td_30"><h4>求得此籤</h4></td>
                            <td class="td_md">
                                <textarea name="content" id="" cols="30" rows="10" class="editText" v-model="modify_data[5]">
                                </textarea>
                            </td>
                        </tr>
                                    
                </table>

                <paginate
                for="sql"
                :page-count="pageCount" 
                :margin-pages = "pageCount"
                :prev-text="'«'"
                :next-text="'»'"
                :click-handler="pageCallback"
                prev-class ="page-item"
                prev-link-class	="page-link"
                next-class ="page-item"   
                next-link-class	="page-link"         
                page-class ="page-item"
                page-link-class ="page-link"

                container-class="pagination" v-show="menu">
                </paginate>
              
                <div class="btn" v-show="menu == false">
                    <div class="bkbtn_Blue" @click="cancel"><h3>取消</h3></div>
                    <div class="bkbtn_Red" @click="change(modify_data[0])"><h3>送出</h3></div>
                </div>

            </div>

        </main>


    </div>

    <!-- vue paginate -->
    <script src="https://unpkg.com/vuejs-paginate@2.1.0"></script>
    <!-- 後台js -->
    <script src="./js/backstage-draw.js"></script>
</body>
</html>