<!DOCTYPE html>
<html lang="zh-hant">
<head>
    <meta charset="UTF-8">
    <!-- icon -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="./js/bootstrap/dist/css/bootstrap.min.css">
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- jq -->
    <script src="./js/jquery/dist/jquery.min.js"></script>
    <!-- popper js -->
    <script src="./js/@popperjs/core/dist/umd/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="./js/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- vue -->
    <script src="./js/vue.js"></script>
    <!-- axios js -->
    <script src="./js/axios/dist/axios.min.js"></script>
    <!-- 只要有套用backstage.js 會自動在當aside頁籤上fontWeight:bold -->
    <title>周邊景點管理</title>

</head>
<body class="backstage_mapList-body">

    <!------------------------------header---------------------------------->
    <header class="header">
        <nav class="nav navback" id="nav">
            <div class="title"><h1>月老地圖　|</h1>
                <h2 class="smallTitle" v-if="title === 'menu'">　周邊景點美食管理</h2>
                <h2 class="smallTitle" v-else="title === 'modify'">　周邊景點美食修改</h2>
            </div>
            <div class="logout" @click="logout">
                <h3>
                    登出
                </h3>
            </div>
        </nav>
    </header>    
    <!-- wrapper請取自己的名稱，套用範例的格式 -->
    <div id="backend" class="backstage-mapList-wrapper"> 

            <!------------------------------內容---------------------------------->
            
                <!------------------------------側邊選單---------------------------------->
        <aside>

            <div class="Logo"><a href="./index.html"><img src="./images/logo.png"></a></div>


            <div class="username">
                <h2 class="text">登入者 : <br> {{username}}</h2>
            </div>

            <ul class="option">
                <li class="list" v-for="(list,key) in lists" :key="key">
                    <a :href="list.href">
                        <h3 class="listName">
                            {{list.list}}
                        </h3>
                    </a>
                </li>
            </ul>
        </aside>
        <!------------------------------主要內容---------------------------------->

        <main>
            <div class="Bcontainer">

                <div class="editbar" v-if="menu">
                    <div class="bkbtn_Blue" @click="add('n')"><h3>新增周邊地點</h3></div>
                </div>

                <table v-if="menu">
                    <!-- 標題在thead class要按照下面方式寫才能吃到顏色-->
                    <thead>
                        <tr>
                            <!-- td_***是設定寬度 -->
                            <td class="thtd td_55"><h3>編號</h3></td>
                            <td class="thtd td_125"><h3>景點名稱</h3></td>
                            <td class="thtd td_75"><h3>廟宇名稱</h3></td>
                            <td class="thtd td_75"><h3>分類</h3></td>
                            <td class="thtd td_75"><h3>編輯</h3></td>
                        </tr>
                    </thead>
                    <!-- 內容在tbody，如果要新增行數就加一組tr -->
                    <tbody>

                        <tr is="row" v-for="(data,index) in pagedListdata" :id="data[0]" :num="data[1]" :lucky="data[2]" :content="data[3]" :detail="data[4]" :answer="data[5]"></tr>
                        
                    </tbody>

                </table>

                <table v-else="menu">

                        <tr>
                            <td class="td_30"><h4>景點名稱</h4></td>
                            <td class="td_md">
                                <textarea name="content" id="" cols="30" rows="1" class="editText" v-model="modify_data[1]">
                                </textarea>
                            </td>
                        </tr>
                    
                        <tr>
                            <!-- td_***是設定寬度 -->
                            <td class="td_30"><h4>廟宇名稱</h4></td>
                            <td class="td_md">                    
                                <select class="input_status" v-model="modify_data[2]">
                                    <option value="霞海城隍廟">霞海城隍廟</option>
                                    <option value="艋舺龍山寺">艋舺龍山寺</option>
                                    <option value="台中樂成宮">台中樂成宮</option>
                                    <option value="慈德慈惠堂">慈德慈惠堂</option>
                                    <option value="北港朝天宮">北港朝天宮</option>
                                    <option value="台南大天后宮">台南大天后宮</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td class="td_30"><h4>景點分類</h4></td>
                            <td class="td_md">
                                <select class="input_status" v-model="modify_data[3]">
                                    <option value="景點">景點</option>
                                    <option value="美食">美食</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td class="td_30"><h4>景點介紹</h4></td>
                            <td class="td_md">
                                <textarea name="content" id="" cols="30" rows="10" class="editText" v-model="modify_data[4]">
                                </textarea>
                            </td>
                        </tr>

                        <tr>
                            <td class="td_30"><h4>營業時間</h4></td>
                            <td class="td_md">
                                <input type="text" class="editText" v-model="modify_data[5]">
                            </td>
                        </tr>
                        <tr>
                            <td class="td_30"><h4>地址</h4></td>
                            <td class="td_md">
                                <input type="text" class="editText" v-model="modify_data[6]">
                            </td>
                        </tr>
                        <tr>
                            <td class="td_30"><h4>圖片路徑</h4></td>
                            <td class="td_md">
                                <input type="text" class="editText" v-model="modify_data[7]">
                            </td>
                        </tr>
                        <tr>
                            <td class="td_30"><h4>地圖連結</h4></td>
                            <td class="td_md">
                                <input type="text" class="editText" v-model="modify_data[8]">
                            </td>
                        </tr>
                        <tr>
                            <td class="td_30"><h4>狀態</h4></td>
                            <td class="td_md">
                                <select class="input_status" v-model="modify_data[9]">
                                    <option value=0>隱藏</option>
                                    <option value=1>顯示</option>
                                </select>
                            </td>
                        </tr>
                        <!-- <tr>
                            <td class="td_30">
                                <h4>上傳圖片</h4>
                            </td>
                            <td class="td_md imgbox">
                                <img v-if="imgPreview" id="imgPreview">
                                <img :src="'./images/moonShop/' + modify_data[3]" v-else="imgPreview" >
                                <input type="file" id="upload" style="display : none" accept="image/jpeg, image/png" @change="uploadImg" >
                                <div class="btnBox">
                                    <div class="bkbtn_Red" @click="upload">
                                        <h3>按此上傳圖片</h3>
                                    </div>    
                                </div>
                            </td>
                        </tr> -->
                        <tr>
                            <td class="td_100">
                                <div class="btn">
                                    <div class="bkbtn_Blue" @click="cancel">
                                        <h3>取消</h3>
                                    </div>
                                    <div class="bkbtn_Red" @click="change(modify_data[0])">
                                        <h3>完成</h3>
                                    </div>
                                </div>
                            </td>
                        </tr>    
                                        
                </table>

                <paginate
                for="sql"
                :page-count="pageCount" 
                :margin-pages = "pageCount"
                :prev-text="'«'"
                :next-text="'»'"
                :click-handler="pageCallback"
                prev-class ="page-item"
                prev-link-class	="page-link"
                next-class ="page-item"   
                next-link-class	="page-link"         
                page-class ="page-item"
                page-link-class ="page-link"

                container-class="pagination" v-show="menu">
                </paginate>

            </div>

        </main>


    </div>

    <!-- vue paginate -->
    <script src="https://unpkg.com/vuejs-paginate@2.1.0"></script>
    <!-- 後台js -->
    <script src="./js/backstage-mapList.js"></script>
</body>
</html>