<!DOCTYPE html>
<html lang="zh-hant">
<head>
    <meta charset="UTF-8">
    <!-- icon -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="./js/bootstrap/dist/css/bootstrap.min.css">
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- jq -->
    <script src="./js/jquery/dist/jquery.min.js"></script>
    <!-- popper js -->
    <script src="./js/@popperjs/core/dist/umd/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="./js/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- vue -->
    <script src="./js/vue.js"></script>
    <!-- 只要有套用backstage.js 會自動在當aside頁籤上fontWeight:bold -->
    <title>公版留言管理</title>

</head>
<body class="backstage_publicMsg-body">

    <!------------------------------header---------------------------------->
    <header class="header">
        <nav class="nav navback" id="nav">
            <div class="title"><h1>公版留言管理　|</h1>
                <h2 class="smallTitle">　留言檢舉管理</h2>
            </div>
            <div class="logout">
                <h3>
                    登出
                </h3>
            </div>
        </nav>
    </header>    
    <!-- wrapper請取自己的名稱，套用範例的格式 -->
    <div id="backend" class="backstage-publicMsg-wrapper"> 

            <!------------------------------內容---------------------------------->
            
                <!------------------------------側邊選單---------------------------------->
        <aside>

            <div class="Logo"><a href="./index.html"><img src="./images/logo.png"></a></div>


            <div class="username">
                <h2 class="text">登入者 : {{username}}</h2>
            </div>

            <ul class="option">
                <li class="list" v-for="(list,key) in lists" :key="key">
                    <a :href="list.href">
                        <h3 class="listName">
                            {{list.list}}
                        </h3>
                    </a>
                </li>
            </ul>
        </aside>
        <!------------------------------主要內容---------------------------------->

        <main>
            <div class="Bcontainer">

                <table v-if="menu">
                    <!-- 標題在thead class要按照下面方式寫才能吃到顏色-->
                    <thead>
                        <tr>
                            <!-- td_***是設定寬度 -->
                            <td class="thtd td_55"><h3>檢舉編號</h3></td>
                            <td class="thtd td_80"><h3>留言/回應編號</h3></td>
                            <td class="thtd td_75"><h3>檢舉人</h3></td>
                            <td class="thtd td_125"><h3>檢舉時間</h3></td>
                            <td class="thtd td_75"><h3>檢舉詳情</h3></td>
                        </tr>
                    </thead>
                    <!-- 內容在tbody，如果要新增行數就加一組tr -->
                    <tbody>

                        <tr is="row" v-for="data in sql" :id="data[0]" :num="data[1]" :lucky="data[2]" :answer="data[3]"></tr>
                        
                    </tbody>

                </table>

                <table v-else="menu">

                        <tr>
                            <td class="td_30"><h4>檢舉編號</h4></td>
                            <td class="td_md">
                                <h4>{{modify_data[0]}}</h4>
                            </td>
                        </tr>
                        <tr>

                        </tr>
                            <td class="td_30"><h4>檢舉人</h4></td>
                            <td class="td_md">
                                <h4>{{modify_data[2]}}</h4>
                            </td>
                        <tr>

                        </tr>
                            <td class="td_30"><h4>檢舉事由</h4></td>
                            <td class="td_md">
                                <h4>{{modify_data[4]}}</h4>
                            </td>
                        <tr>

                        </tr>
                            <td class="td_30"><h4>留言內容</h4></td>
                            <td class="td_md">
                                <h4>{{modify_data[5]}}</h4>
                            </td>
                        <tr>
                            <td class="td_30"><h4>5</h4></td>
                            <td class="td_md">                    
                                <select class="input_status" v-model="modify_data[6]">
                                    <option value="顯示">顯示</option>
                                    <option value="下架">下架</option>
                                </select>
                            </td>
                        </tr>            
                </table>

                <nav aria-label="Page navigation example" v-if="menu">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>

                <div class="btn" v-else="menu">
                    <div class="bkbtn_Blue" @click="menu = true"><h3>取消</h3></div>
                    <div class="bkbtn_Red" @click="change(modify_data[0])"><h3>送出</h3></div>
                </div>

            </div>

        </main>


    </div>

    <!-- 後台js -->
    <script src="./js/backstage-publicMsg.js"></script>
</body>
</html>