<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>月老牽線</title>
    
    <!-- vue -->
    <script src="./js/Vue.js"></script>
    <!-- TweenMax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
     <!-- JQ -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <!-- 加密 js -->
    <script src="node_modules/crypto-js/crypto-js.js"></script>
    <!-- 發信 js -->
    <script src="./js/smtp.js"></script>
    <!-- axios js -->
    <script src="./node_modules/axios/dist/axios.min.js"></script>
    <!-- hamburgers_css -->
    <link rel="stylesheet" href="./css/hamburgers.css">
    
    <!-- icon -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    
    <!--css -->
    <link rel="stylesheet" href="./css/style.css">
</head>
<body class="moonMatch-body bgColorDefault bgImgHeart">
    <header class="header">
        <nav class="nav" id="nav">
           <div class="Logo"><img src="./images/logo.png"></div>
           <ul class="navlist">
               <li class="user"><a href="#" @click="login"><i class="fas fa-user fa-2x"></a></i></li>
               <li class="car"><a href="#"><i class="far fa-shopping-cart fa-2x"></a></i></li>              
               <li class="bars">
                <button class="hamburger hamburger--collapse" type="button">
                    <span class="hamburger-box">
                      <span class="hamburger-inner"></span>
                    </span>
                  </button>
                   <!-- <a><i class="fas fa-bars fa-2x" id="icon"></i></a> -->
                    <ul class="barList">
                        <li><a href="#">月老地圖</a></li>
                        <li><a href="#">月老求籤</a></li>
                        <li><a href="#">月老牽線</a></li>
                        <li><a href="#">月老小知識</a></li>
                        <li><a href="#">月老商城</a></li>
                    </ul>
                  
                </li>
              
           </ul>
        </nav>
    </header>

    <!-- 登入登出 -->
    <div class="login_pop" v-bind:class="{block:pop_block}" id="pop">

        <div class="login_pop_in">

            <!-- 登入 -->
            <div class="account_login" v-bind:class="{flex:log_flex}">
                <i class="fas fa-times-circle fa-2x" @click="close"><i class="in_btn"></i></i>
                <div class="account_inbox">

                    <h1 class="account_text_login">會員登入</h1>
                    <form method="post" action="loginR.php" @submit="login($event,login_username,login_pwd,'login')">

                        <div class="inputbox">
                            <h3 class="input_text">帳號</h3>
                            <input class="input_login" type="text" name="username"  :placeholder = "lgUsp" id="input_log_username" :change="clearChinese('login_username')" v-model="login_username" :class="{inp_error : lgUser == 1}" @click="input_log_user">
                        </div>

                        <div class="inputbox">
                            <h3 class="input_text">密碼</h3>
                            <input class="input_login" type="password" name="password"  :placeholder="lgPsp" id="input_log_pwd" v-model="login_pwd" :class="{inp_error : lgPwd == 1}" @click="input_log_pwd">
                        </div>
                        
                        <div class="inputbox">
                            <span class="input_text"></span>
                            <p class="str_error h0" v-if="login_error">帳號或密碼錯誤<p>
                        </div>

                        <div class="submit_login">
                            <button class="btn_signup btnBlue_signup" @click="btn_signup">註冊</button>
                            <button class="btn_signup btnRed_signup">登入</button>
                        </div>

                    </form>
                </div>
            </div>
                    <!-- 註冊 -->
            <div class="account_signup" id="signup" v-bind:class="{flex:sign_flex}">
                <i class="fas fa-times-circle fa-2x" @click="close"><i class="in_btn"></i></i>
                <div class="account_inbox">
                    <h1 class="account_text_signup">註冊</h1>

                    <form method="post" action="signupR.php" @submit="signup($event,signup_username,signup_pwd,signup_repwd,signup_email,'signup')">

                        <div class="inputbox inputbox_signup">
                            <h3 class="input_text">帳號</h3>
                            <input class="input_signup" type="text" name="username"  :placeholder="siUsp" id="input_sign_username" :change="clearChinese('signup_username')" v-model="signup_username" :class="{inp_error : siUser == 1}" @click="input_sign_user" @keyup="checkUser(signup_username)">
                            <p class="right_space str_error" v-if="user_error == 2">此帳號有人使用</p>
                            <p class="right_space str_clear" v-else-if="user_error == '1'">此帳號可以使用</p>
                            <span class="right_space" v-else="user_error"></span>
                        </div>

                        <div class="inputbox inputbox_signup">
                            <h3 class="input_text">密碼</h3>
                            <input class="input_signup" type="password" name="password"  :placeholder="siPsp" id="input_sign_pwd" v-model="signup_pwd" :class="{inp_error : siPwd == 1}" @click="input_sign_pwd">
                            <input type="hidden" name="hide" id="hide" />
                            <span class="right_space"></span>
                        </div>

                        <div class="inputbox inputbox_signup">
                            <h3 class="input_text">確認密碼</h3>
                            <input class="input_signup" type="password" id="input_repwd" :placeholder="siRePsp" v-model="signup_repwd" :class="{inp_error : siRePwd == 1}" @click="input_sign_repwd">
                            <span class="right_space"></span>
                        </div>

                        <div class="inputbox inputbox_signup">
                            <h3 class="input_text">信箱</h3>
                            <input class="input_signup" type="email" name="email"  id="email" v-model="signup_email" :placeholder="email" :class="{inp_error : siEmail == 1}" @click="input_sign_email">
                            <button class="btnBlue_Ver" @click.prevent="submit_ver(signup_email)">{{send_email}}</button>
                        </div>

                        <div class="inputbox inputbox_signup">
                            <h3 class="input_text">驗證碼</h3>
                            <input class="input_signup" type="number" name="number"    :placeholder="ver" v-model="check_ver" :class="{inp_error : siVer == 1}" @click="siVer = 0">
                            <button class="btnBlue_Ver" @click.prevent="ver_check">確認驗證碼</button>
                        </div>

                        <div class="submit_signup">
                            <button type='submit' class="btn_signup btnRed_signup">送出</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 燈箱結束 -->

    <div class="moonMatch-wrapper">
        <section class="memberCards">
            <div class="scene">
                <div class="card card1">
                    <div class="card_front"><img src="./images/moonMatch/人物卡.png"></div>
                    <div class="card_back">
                    </div>
                </div>
            </div>
            <div class="scene">
                <div class="card card2">
                    <div class="card_front"><img src="./images/moonMatch/人物卡.png"></div>
                    <div class="card_back">
                        <div class="memberPic-container">
                            <img class="person_img" src="./images/10561547_1434602656822401_2771181283044187356_n.jpg">
                        </div>
                        <div class="memberProfile">
                            <div class="mRow">
                                <h2>張作霖</h2>
                            </div>
                            <div class="mRow">
                                <h4>這是強叔你知道的。</h4>
                            </div>
                            <div class="mRow">
                                <h3>年齡</h3>
                                <h4>18歲</h4>
                            </div>
                            <div class="mRow">
                                <h3>興趣</h3>
                                <h4>寫程式 ｜ 玩桌遊</h4>
                            </div>
                            <div class="mRow">
                                <h3>地區</h3>
                                <h4>台北市</h4>
                            </div>
                            <div class="mRow">
                                <h3>職業</h3>
                                <h4>待退士官</h4>
                            </div>
                            <div class="btnGroup">
                                <button class="btnBlue_choose"><h3>重選</h3></button>
                                <button class="btnRed_choose"><h3>私訊</h3></button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="scene">
                <div class="card card3">
                    <div class="card_front"><img src="./images/moonMatch/人物卡.png"></div>
                    <div class="card_back">
                    </div>
                </div>
            </div>
        </section>
        <section class="godSection">
            <div class="msgBox-container">
                <div class="msgBox">
                    <h2>讓月老了解<br>你的理想條件喔！</h2>
                </div>
            </div>
            <div class="loveGod" id="loveGod">
                <div class="exclamation">
                    <i class="fas fa-exclamation fa-3x"></i>
                    <i class="fas fa-exclamation fa-4x"></i>
                    <i class="fas fa-exclamation fa-2x"></i>
                </div>
                <img src="./images/moonMatch/月老.svg" class="god">
                <img src="./images/moonMatch/雲.svg" class="cloud"> 
            </div>
            <div class="queryBox" id="qBox">
                <form action="">
                    <div class="qRow">
                        <h3>年齡：</h3>
                        <select name="ages">
                            <option v-for="age in ageRange">
                                {{age}}
                            </option>
                        </select>
                    </div>
                    <div class="qRow row_mult">
                        <h3 class="name">
                            興趣：
                        </h3>
                        <div class="check_box">
                            <interests v-for="interest in interests" :the-text="interest.interest" :checked="interest.checked" @click.native="checkInt(interest.interest)"></interests>
                        </div>
                    </div>
                    <div class="qRow">
                        <h3 class="name more">
                            地區：
                        </h3>
                        <select name="area">
                        　  <option v-for="city in area">
                                {{city}}
                            </option>
                        </select>
                    </div>
                    <div class="qRow">
                        <h3 class="name more">
                            職業：
                        </h3>
                        <select name="area">
                        　  <option v-for="job in jobs">
                                {{job}}
                            </option>
                        </select>
                    </div>
                    <div class="qRow">
                        <h3 class="name more">
                            學歷：
                        </h3>
                        <select name="area">
                            <option v-for="education in educations">
                                    {{education}}
                            </option>
                        </select>
                    </div>
                    <div class="btnGroup">
                        <button class="btnBlue_queryBox" @click.prevent="conditionQuery"><h3>完成</h3></button>
                        <button class="btnRed_queryBox" @click.prevent="defaultQuery"><h3>預設篩選</h3></button>
                    </div>
                </form>
            </div>
        </section>
        

    </div>

    <script src="./js/moonMatch.js"></script>
    <script src="./js/login.js"></script>
    
</body>
</html>