<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- TweenMax -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
     integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w=="
     crossorigin="anonymous"></script>
     <!-- ScrollMagic -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
     
    <!-- vue -->
    <script src="./js/Vue.js"></script>
     <!-- JQ -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
     <!-- Swiper css -->
     <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
     <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- 加密 js -->
    <script src="node_modules/crypto-js/crypto-js.js"></script>
    <!-- 發信 js -->
    <script src="./js/smtp.js"></script>
    <!-- axios js -->
    <script src="./node_modules/axios/dist/axios.min.js"></script>


     <!--css -->
    <link rel="stylesheet" href="./css/style.css">
    
    <!-- hamburgers_css -->
     <link rel="stylesheet" href="./css/hamburgers.css">
     
     <!-- icon -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>moonMapList</title>
</head>
<body class="bgColorDefault">
    
   <!------------------------------header---------------------------------->
   <header class="header">
    <nav class="nav" id="nav">
        <a href="./index.html" class="Logo"><img src="./images/logo.png"></a>
       <ul class="navlist">
           <li class="user"><a href="#" @click="login"><i class="fas fa-user fa-2x"></a></i></li>
           <li class="car"><a href="#"><i class="fas fa-shopping-cart fa-2x"></a></i></li>              
           <li class="bars">
            <button class="hamburger hamburger--collapse" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
               <!-- <a><i class="fas fa-bars fa-2x" id="icon"></i></a> -->
                <ul class="barList">
                    <li><a href="./moonMapList.html">月老地圖</a></li>
                    <li><a href="./moondrawl.html">月老求籤</a></li>
                    <li><a href="./moonMatch.html">月老牽線</a></li>
                    <li><a href="./know.html">月老小知識</a></li>
                    <li><a href="./moonShop.html">月老商城</a></li>
                </ul>
              
            </li>
          
       </ul>
    </nav>
    </header>

    <!-- 登入登出 -->
    <div class="login_pop" v-bind:class="{block:pop_block}" id="pop">

        <div class="login_pop_in">

            <!-- 登入 -->
            <div class="account_login" v-bind:class="{flex:log_flex}">
                <i class="fas fa-times-circle fa-2x" @click="close"><i class="in_btn"></i></i>
                <div class="account_inbox">

                    <h1 class="account_text_login">會員登入</h1>
                    <form method="post" action="loginR.php" @submit="login($event,login_username,login_pwd,'login')">

                        <div class="inputbox">
                            <h3 class="input_text">帳號</h3>
                            <input class="input_login" type="text" name="username"  :placeholder = "lgUsp" id="input_log_username" :change="clearChinese('login_username')" v-model="login_username" :class="{inp_error : lgUser == 1}" @click="input_log_user">
                        </div>

                        <div class="inputbox">
                            <h3 class="input_text">密碼</h3>
                            <input class="input_login" type="password" name="password"  :placeholder="lgPsp" id="input_log_pwd" v-model="login_pwd" :class="{inp_error : lgPwd == 1}" @click="input_log_pwd">
                        </div>
                        
                        <div class="inputbox">
                            <span class="input_text"></span>
                            <p class="str_error h0" v-if="login_error">帳號或密碼錯誤<p>
                        </div>

                        <div class="submit_login">
                            <button class="btn_signup btnBlue_signup" @click="btn_signup">註冊</button>
                            <button class="btn_signup btnRed_signup">登入</button>
                        </div>

                    </form>
                </div>
            </div>
                    <!-- 註冊 -->
            <div class="account_signup" id="signup" v-bind:class="{flex:sign_flex}">
                <i class="fas fa-times-circle fa-2x" @click="close"><i class="in_btn"></i></i>
                <div class="account_inbox">
                    <h1 class="account_text_signup">註冊</h1>

                    <form method="post" action="signupR.php" @submit="signup($event,signup_username,signup_pwd,signup_repwd,signup_email,'signup')">

                        <div class="inputbox inputbox_signup">
                            <h3 class="input_text">帳號</h3>
                            <input class="input_signup" type="text" name="username"  :placeholder="siUsp" id="input_sign_username" :change="clearChinese('signup_username')" v-model="signup_username" :class="{inp_error : siUser == 1}" @click="input_sign_user" @keyup="checkUser(signup_username)">
                            <p class="right_space str_error" v-if="user_error == 2">此帳號有人使用</p>
                            <p class="right_space str_clear" v-else-if="user_error == '1'">此帳號可以使用</p>
                            <span class="right_space" v-else="user_error"></span>
                        </div>

                        <div class="inputbox inputbox_signup">
                            <h3 class="input_text">密碼</h3>
                            <input class="input_signup" type="password" name="password"  :placeholder="siPsp" id="input_sign_pwd" v-model="signup_pwd" :class="{inp_error : siPwd == 1}" @click="input_sign_pwd">
                            <input type="hidden" name="hide" id="hide" />
                            <span class="right_space"></span>
                        </div>

                        <div class="inputbox inputbox_signup">
                            <h3 class="input_text">確認密碼</h3>
                            <input class="input_signup" type="password" id="input_repwd" :placeholder="siRePsp" v-model="signup_repwd" :class="{inp_error : siRePwd == 1}" @click="input_sign_repwd">
                            <span class="right_space"></span>
                        </div>

                        <div class="inputbox inputbox_signup">
                            <h3 class="input_text">信箱</h3>
                            <input class="input_signup" type="email" name="email"  id="email" v-model="signup_email" :placeholder="email" :class="{inp_error : siEmail == 1}" @click="input_sign_email">
                            <button class="btnBlue_Ver" @click.prevent="submit_ver(signup_email)">{{send_email}}</button>
                        </div>

                        <div class="inputbox inputbox_signup">
                            <h3 class="input_text">驗證碼</h3>
                            <input class="input_signup" type="number" name="number"    :placeholder="ver" v-model="check_ver" :class="{inp_error : siVer == 1}" @click="siVer = 0">
                            <button class="btnBlue_Ver" @click.prevent="ver_check">確認驗證碼</button>
                        </div>

                        <div class="submit_signup">
                            <button type='submit' class="btn_signup btnRed_signup">送出</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 燈箱結束 -->
<!---------------- 台灣地圖區  ------------------------>
    <div class="moonMapAll-wrapper">
        <div class="Taiwan-block" id="Taiwan">
            
            <!-- 手機板600px -->
            <div class="twMap-phone">
                <a href="./moonMap.html" class="temple-link"><img src="./images/moonMapList/temple_01.jpg"></a>
                <a href="./moonMap.html" class="temple-link"><img src="./images/moonMapList/temple_01.jpg"></a>
                <a href="./moonMap.html" class="temple-link"><img src="./images/moonMapList/temple_01.jpg"></a>
                <a href="./moonMap.html" class="temple-link"><img src="./images/moonMapList/temple_01.jpg"></a>
                <a href="./moonMap.html" class="temple-link"><img src="./images/moonMapList/temple_01.jpg"></a>
                <a href="./moonMap.html" class="temple-link"><img src="./images/moonMapList/temple_01.jpg"></a>                            
            </div>

            <!-- 網頁版 -->
            <div class="twMap"><embed src="./images/moonMapList/地圖.svg" type="image/svg+xml" />          
                <!-- 月老 -->
                <div class="YueLao_block">             
                        <div class="dialog">
                            <h3>全台六大月老廟
                                請點選廟宇進入
                                內有廟宇介紹、景點美食介紹
                                還有各大留言板！</h3>
                        </div>
                        
                    
                    <div class="YueLao"><img src="./images/index/月老.svg" alt="月老"></div>
                    <div class="YueLaoCloud"><img src="./images/moonMap/月老座雲.svg" alt="月老座雲"></div>
                </div> 
            </div>
           
        </div>


    </div>
    <script src="./js/nav.js"></script>   
    <script src="./js/srcoll.js"></script>
    <script src="./js/login.js"></script>
</body>
</html>