@import 'sass/normalize';
@import 'sass/mixins';

@import 'sass/header';
@import 'sass/login';
@import 'sass/member';
@import 'sass/var';

@include header;

$CMargin: 4% 2%;
$bwd: 25%;
$phg: 2%;

header {
    border: $bd;
}

nav {
    border: $bd;
}

.member {
    border: $bd;
}

body {
    height: $bodyHeight;
    background-color: $backGround;
}

@include member;

@include pinkBox(account, 100%);

.pinkBox_account {
    border: 8px solid #ac5454;
    height: 100%;
}

.ALeft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40% !important;
    border: 6px solid #ac5454 !important;

    .mascot {
        max-width: 80%;
    }
}

.ARight {
    width: 60% !important;
    border: 6px solid white !important;
    position: relative;

    @include btn(submit, $bwd, $phg) ;

    .submit {
        position: absolute;
        right: 10%;
        bottom: 5%;
    }

    form {
        height: 100%;
        overflow-y: scroll;
        display: flex;
    }

    @include insideScroll;

    .mainInfo {
        display: inline-block;
        width: 65%;
        border: 1px solid #000;

        .inputRow {
            display: flex;
        }

        .member_input {
            display: none;
        }
    }

    .profile {
        display: inline-block;
        width: 30%;
        border: 1px solid #000;

        div.inprofile {
            position: relative;
            display: inline-block;
        }
        
        div.img {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            border: 1px solid #000;
            position: relative;
            display: inline-block;
            overflow: hidden;
        }
        
        #newImg {
            max-width: 100%;
        }
        
        .imgNone {
            display: none;
        }
        
        .crop {
            border: none !important;
            overflow: visible !important;
        }
        
        div.upload_btn { 
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: transparent; 
            width: 40px;
            height: 40px;
            border-radius: 100%; 
            border: 1px solid #000;
            cursor: pointer; 
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        div.crop_img {
            display: inline-block;
        }
        
        
        i.fas {
            font-size: 20px;
            cursor: pointer;
        }    
    }    
    

}  
