<!DOCTYPE html>
<html lang="zh-hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./favicon.ico"/>
    <link rel="bookmark" href="./favicon.ico"/>
    <!-- TweenMax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
    integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w=="
    crossorigin="anonymous"></script>        
    <!-- icon -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- 裁減圖片css -->
    <link rel="stylesheet" href="./js/croppie/croppie.css">
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- hamburgers_css -->
    <link rel="stylesheet" href="./css/hamburgers.css">
    <!-- jq -->
    <script src="./js/jquery/dist/jquery.min.js"></script>
    <!-- vue -->
    <script src="./js/vue.js"></script>
    <!-- axios js -->
    <script src="./js/axios/dist/axios.min.js"></script>

    <title>留言板</title>

</head>
<body class="mList">

   <!------------------------------header---------------------------------->
   <header class="header">
    <nav class="nav" id="nav">
        <a href="./main.html" class="Logo"><img src="./images/logo.png"></a>
        <ul class="navlist">

           <!-- 換登出圖 -->
           <li class="username" v-if="userid != null" @click="logout"></li>
            <div class="log_out"></div>
           
           <!-- 換會員圖 -->
           <li class="user" v-if="userid != null"><a :href="member">
               <!-- <i class="fas fa-user fa-2x"> 原本方法-->
               <!-- <img src="images/header/member_icon.png">  img方法不行-->
               <div class="userlog"><img :src=navimg></div> <!--背景圖方法可行-->
               </a></li>

           <!-- 換會員圖 -->
           <li class="user" v-else="userid == null"><a href="#" @click="login">
               <!-- <i class="fas fa-user fa-2x"> 原本方法-->
               <!-- img方法試試<img src="images/header/member_icon.png">  img方法不行-->
               <div class="user"></div> <!--背景圖方法可行-->
               </a></li>

           <!-- 換購物車圖 -->
           <li class="car"><a href="./moonShopCar.html"> 
                <!-- <i class="fas fa-shopping-cart fa-2x"></i>  原本方法-->
                <!-- <img src="../images/header/shopping_cart_55.png"> img方法不行-->
                <div class="shop_cart"></div> <!--背景圖方法可行-->
                </a></li>


           <li class="bars">
            <button class="hamburger hamburger--collapse" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
               <!-- <a><i class="fas fa-bars fa-2x" id="icon"></i></a> -->
                <ul class="barList">
                    <li><a href="./moonMapList.html">月老地圖</a></li>
                    <li><a href="./moondrawl.html">月老求籤</a></li>
                    <li v-if="userid != null"><a href="./moonMatch.html">月老牽線</a></li>
                    <li v-else="userid == null" @click="warning"><a href="#">月老牽線</a></li>
                    <li><a href="./know.html">月老小知識</a></li>
                    <li><a href="./moonShop.html">月老商城</a></li>
                </ul>
              
            </li>
          
       </ul>
    </nav>
</header>

    <!-- 登入登出 -->
    <div class="login_pop" v-bind:class="{block:pop_block}" id="pop">

        <div class="login_pop_in">

            <!-- 登入 -->
            <div class="account_login" v-bind:class="{flex:log_flex}">
                <i class="fas fa-times-circle fa-2x" @click="close"><i class="in_btn"></i></i>
                <div class="account_inbox">

                    <h1 class="account_text_login">會員登入</h1>
                    <form method="post" action="./php/loginR.php">

                        <div class="inputbox">
                            <h3 class="input_text">帳號</h3>
                            <input class="input_login" type="text" name="username"  :placeholder = "lgUsp" id="input_log_username" :change="clearChineseLogin('login_username')" v-model="login_username" :class="{inp_error : lgUser == 1}" @click="input_log_user"  @keydown.enter.prevent>
                        </div>

                        <div class="inputbox">
                            <h3 class="input_text">密碼</h3>
                            <input class="input_login" type="password" name="password"  :placeholder="lgPsp" id="input_log_pwd" v-model="login_pwd" :class="{inp_error : lgPwd == 1}" @click="input_log_pwd" @keydown.enter.prevent>
                        </div>
                        
                        <div class="inputbox">
                            <span class="input_text"></span>
                            <p class="str_error h0" v-if="login_error">帳號或密碼錯誤<p>
                        </div>

                        <div class="submit_login">
                            <button class="btn_signup btnBlue_signup" @click="btn_signup">註冊</button>
                            <button class="btn_signup btnRed_signup" @click="login($event,login_username,login_pwd,'login')">登入</button>
                        </div>

                    </form>
                </div>
            </div>
                    <!-- 註冊 -->
            <div class="account_signup" id="signup" v-bind:class="{flex:sign_flex}">
                <i class="fas fa-times-circle fa-2x" @click="close"><i class="in_btn"></i></i>
                <div class="account_inbox">
                    <h1 class="account_text_signup">註冊</h1>

                    <form method="post" action="./php/signupR.php" @submit="signup($event,signup_username,signup_pwd,signup_repwd,signup_email,'signup')">

                        <div class="inputbox inputbox_signup">
                            <h3 class="input_text">帳號</h3>
                            <input class="input_signup" type="text" name="username"  :placeholder="siUsp" id="input_sign_username" :change="clearChinese('signup_username')" v-model="signup_username" :class="{inp_error : siUser == 1}" @click="input_sign_user" @keyup="checkUser(signup_username)" @keydown.enter.prevent>
                            <p class="right_space str_error" v-if="user_error == 2">此帳號有人使用</p>
                            <p class="right_space str_clear" v-else-if="user_error == '1'">此帳號可以使用</p>
                            <span class="right_space" v-else="user_error"></span>
                        </div>

                        <div class="inputbox inputbox_signup">
                            <h3 class="input_text">密碼</h3>
                            <input class="input_signup" type="password" name="password"  :placeholder="siPsp" id="input_sign_pwd" v-model="signup_pwd" :class="{inp_error : siPwd == 1}" @click="input_sign_pwd" @keydown.enter.prevent>
                            <input type="hidden" name="hide" id="hide" />
                            <span class="right_space"></span>
                        </div>

                        <div class="inputbox inputbox_signup">
                            <h3 class="input_text">確認密碼</h3>
                            <input class="input_signup" type="password" id="input_repwd" :placeholder="siRePsp" v-model="signup_repwd" :class="{inp_error : siRePwd == 1}" @click="input_sign_repwd" @keydown.enter.prevent>
                            <span class="right_space"></span>
                        </div>

                        <div class="inputbox inputbox_signup">
                            <h3 class="input_text">信箱</h3>
                            <input class="input_signup" type="email" name="email"  id="email" v-model="signup_email" :placeholder="email" :class="{inp_error : siEmail == 1}" @click="input_sign_email">
                            <button class="btnBlue_Ver" @click.prevent="submit_ver(signup_email)">{{send_email}}</button>
                        </div>

                        <div class="inputbox inputbox_signup" v-if="checked_mail != ''">
                            <h3 class="input_text">驗證碼</h3>
                            <input class="input_signup" type="number" name="number"    :placeholder="ver" v-model="check_ver" :class="{inp_error : siVer == 1}" @click="siVer = 0" @keydown.enter.prevent>
                            <button class="btnBlue_Ver" @click.prevent="ver_check">確認驗證碼</button>
                        </div>

                        <div class="submit_signup">
                            <button type='submit' v-if="result" class="btn_signup btnRed_signup">送出</button>
                            <button type='submit' v-else="result" @click.prevent="remind" class="btn_signup btnRed_signup" style="background-color: gray;">送出</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 燈箱結束 -->
    
        <!-- 背景雲 -->
        
        <div class="membercloud">
            <div class="cloud cloud1" id="rtct">
                <img src="./images/style/rtct.png">
            </div>
            <div class="cloud cloud2" id="rtcb">
                <img src="./images/style/rtcb.png">
            </div>
            <div class="cloud cloud3" id="ltcr">
                <img src="./images/style/ltcr.png">
            </div>
            <div class="cloud cloud4" id="ltcl">
                <img src="./images/style/ltcl.png">
            </div>
            <div class="cloud cloud5" id="rbcr">
                <img src="./images/style/rbcr.png">
            </div>
            <div class="cloud cloud6" id="rbcl">
                <img src="./images/style/rbcl.png">
            </div>
            <div class="cloud cloud7" id="lbcb">
                <img src="./images/style/lbcb.png">
            </div>
            <div class="cloud cloud8" id="lbct">
                <img src="./images/style/lbct.png">
            </div>
        </div>

        <div id="member" class="MyMsg-wrapper"> 

           <!-- 背景漂浮雲 -->
           <div class="cloud_one"></div>
           <div class="cloud_second"></div>
           <!-- 背景漂浮雲結束 -->

                <!------------------------------內容---------------------------------->
                
                    <!------------------------------側邊選單---------------------------------->
            <aside>
                <ul class="option">
                    <li class="list" v-for="(list,key) in lists" :key="key">
                        <a :href="list.href">
                            <h3 class="listName">
                                {{list.list}}
                            </h3>
                        </a>
                    </li>
                </ul>
            </aside>
           <!------------------------------主要內容---------------------------------->

           <main>

                <div class="pinkBox_MyMsg" v-if="MsgMenu">

                    <div class="inBox_MyMsg" v-if="relationship">

                        <message v-for="(message, index) in messages" :id="message.id" :name="message.name" :msg="message.msg" :image="message.image" :index="index" :newnum="message.newnum" @update="selfUpdate"></message>

                    </div>

                    <div class="inBox_MyMsg noRelationShip" v-else="relationship">

                        <h2>還沒有跟任何人建立關係哦 ! <br> 快使用月老牽線尋找對象吧 !</h2>

                        <button class="btnBlue_Link"><a :href="link.href" >{{link.name}}</a></button>

                    </div>

                    <div class="block_pop" v-bind:class="{block:block_block}" id="pop">

                        <div class="block_pop_in">
                            <div class="blockPerson">
                                <div class="inbox">
                                    <h2 class="title">
                                        封鎖
                                    </h2>
                                    <h3 class="string">
                                        請填寫封鎖的理由
                                    </h3>
                                    <form action="">
                                        <i class="fas fa-times-circle fa-2x" @click="block_block = false"><i class="in_btn"></i></i>
                                        <textarea class="text" name="" id="report" cols="30" rows="5"></textarea>
                                        <button class="btnRed_submit" @click="report(block_id)"><h3>送出</h3></button>
                                    </form>
                                </div>
                            </div>          
                        </div>
                    </div>  

                </div> 
           
                <div class="pinkBox_inMsg" v-else="MsgMenu">
                   <div class="inBox_inMsg">

                        <div class="msgbox">

                            <!-- <receive v-for="Msg in frMsg" :name="Msg.name" :msg="Msg.msg" :image="Msg.image" :time="Msg.time" ref="msg"></receive>

                            <send v-for="Msg in myMsg" :msg="Msg.msg" :image="Msg.image" :time="Msg.time"></send> -->

                            <msg v-for="msg in msgs" :from="msg.from" :name="msg.nickname" :msg="msg.msg" :time="msg.time" :image="msg.image"></msg>

                        </div>

                        <div class="input_send">
                            <form class="send_form" @submit.prevent="">
                                <input type="text" class="msg_input" v-model="newText">
                                <button class="sending_btn" @click="submit(newText)">
                                    <i class="fas fa-location-arrow"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
           
            </div>

          </main>

        </div>

    <!-- header -->
    <script src="./js/1_new.js"></script> 
    <!-- 登入註冊，需要再新增登入成功後介面 -->
    <script src="./js/login.js"></script>
    <!-- scroll.js -->
    <script src="./js/srcoll.js"></script>
    <!-- 留言板js -->
    <script src="./js/MyMsg.js"></script>
</body>
</html>



