@import 'sass/normalize';
@import 'sass/mixins';

@import 'sass/header';
@import 'sass/login';
@import 'sass/var';

@include header;

header {
    border: $bd;
}

nav {
    border: $bd;
}

.member {
    border: $bd;
}

