// 991px-768px


//768
@include rwd(small) {

    // ============= 小知識粉紅區域呼叫 ==============================
    @include know_pinkBox(1 , 100% , 92%);

    // ============= 書的order順序顛倒 ==============================
    .know_wrapper_bk_color{

        .know_wrapper{
            max-width: 700px;
            margin: 0 auto;
            // border: 1px solid blue;
            
            .pinkBox_1{
                .order_2{
                    order:2;
                }
            }

        }

    }
  



// ============= 小知識第一頁左邊 ==============================
.know_wrapper_bk_color{
    .know_wrapper{

        .pinkBox_1{

            //Question大標背景色
            .box_1200{
                margin: 0 auto;
                h3{
                    width: 65%;  

                }

                .img_circle{
                    max-width: 135px;
                    display: flex;
                    // flex-wrap:wrap;

                    img{
                        width: 100%;
                        margin: 20px 15px;
                        
                    }

                }
            }
        
        }

    }
}

 // ============= 小知識第一頁右邊 ==============================
 .know_wrapper{
        
    .know_one_right{

        //祈願Q&A大標背景色
        h2{
            width:25%;
        }

        .love_god_whole{
              
            .love_god{
                width:280px;
                right:-20px;
                bottom:-820px;

                img{
                    width:100%;
                }
           
            }

            .love_god_cloud{
                width:280px;
                right:-20px;
                bottom:-820px;

                img{
                    width:100%;
                }

                
            }
        }
    }
    
    

}

// <!--------小知識第二頁左邊 -------------------------->

.know_wrapper{
    .box_second_left{

        //祈願Q&A大標背景色
        h2{
            width:30%;
        }
    }
}

  // <!--------小知識第二頁右邊 -------------------------->

  .know_wrapper{
    .know_second_right{

        //祈願Q&A大標背景色
        h2{
            width:25%;
        }
    }
}

// <!--------------小知識第三頁左邊 -------------------------------------------->
.know_wrapper{
    .box_text_short{
       
        div{
            text-align: center;
            .love_light{
                max-width:524px;
                margin: 40px 0px 0px 0px;
            }
        }
    }

}

  // <!--------小知識第三頁右邊 -------------------------->
    
  .know_wrapper{
    .box_third_right{

        //祈願Q&A大標背景色
        h2{
            width:15%;
            text-align: center;
        }
    
    }

    .love_god_whole{
     
        .love_god_right_third{
            width:280px;
            right:10px;
            bottom:-20px;

            img{
                width:100%;
            }

        }

        .love_god_cloud_right_third{
            width:280px;
            right:10px;
            bottom:-20px;

            img{
                width:100%;
            }
            
        }
    }





  }




};

@include rwd(695px) {
    //第一頁右邊月老變小跟移動
    .know_wrapper{
        .know_one_right{

            .love_god_whole{
              
                .love_god{
                    width:260px;
                    right:-17px;
                    bottom:-830px;

                    img{
                        width:100%;
                    }
               
                }

                .love_god_cloud{
                    width:260px;
                    right:-17px;
                    bottom:-830px;

                    img{
                        width:100%;
                    }

                    
                }
            }
        }
    }
}


@include rwd(675px) {
    // ============= 小知識第一頁左邊 ==============================
    //圓圈圖調margin
.know_wrapper_bk_color{
    .know_wrapper{

        .pinkBox_1{

            //Question大標背景色
            .box_1200{
                .img_circle{
                    max-width: 135px;
                    display: flex;
                    // flex-wrap:wrap;

                    img{
                        width: 100%;
                        margin: 20px 8px;
                        
                    }

                }
            }
        
        }

    }
}
    // ============= 小知識第一頁右邊 ==============================
    //月老調位置
    .know_wrapper{
        
        .know_one_right{

            .love_god_whole{

                .love_god{
                    width:260px;
                    right:-17px;
                    bottom:-830px;
    
                    img{
                        width:100%;
                    }
               
                }
    
                .love_god_cloud{
                    width:260px;
                    right:-17px;
                    bottom:-830px;
    
                    img{
                        width:100%;
                    }
    
                    
                }
            }
        
           
    
        }

    }

}


@include rwd(630px) {
     // ============= 小知識第一頁左邊 ==============================
     .know_wrapper_bk_color{
        .know_wrapper{

            .pinkBox_1{

                //Question大標背景色
                .box_1200{
                    h3{
                        width: 85%;  

                    }

                }
            
            }

        }
    }

 // ============= 小知識第一頁右邊 ==============================
    .know_wrapper{
        
        .know_one_right{

            //祈願Q&A大標背景色
            h2{
                width:40%;
            }

            .love_god_whole{
              
                .love_god{
                    width:260px;
                    right:-17px;
                    bottom:-830px;
    
                    img{
                        width:100%;
                    }
               
                }
    
                .love_god_cloud{
                    width:260px;
                    right:-17px;
                    bottom:-830px;
    
                    img{
                        width:100%;
                    }
    
                    
                }
            }
        
           
    
        }

    }

// <!--------小知識第二頁左邊 -------------------------->

    .know_wrapper{
        .box_second_left{

            //祈願Q&A大標背景色
            h2{
                width:40%;
            }
        }
    }


    // <!--------小知識第二頁右邊 -------------------------->

    .know_wrapper{
        .know_second_right{

            //祈願Q&A大標背景色
            h2{
                width:40%;
            }
        }
    }

  // <!--------小知識第三頁右邊 -------------------------->
    
    .know_wrapper{
        .box_third_right{
            // position: relative;

            //祈願Q&A大標背景色
            h2{
                width:40%;
                text-align: center;
            }
        }

       
    }


};




@include rwd(640px) {

    // ============= 小知識第一頁右邊 ==============================
    //月老調位置
    .know_wrapper{
        
        .know_one_right{

            .love_god_whole{
              
                .love_god{
                    width:260px;
                    right:-17px;
                    bottom:-830px;
    
                    img{
                        width:100%;
                    }
               
                }
    
                .love_god_cloud{
                    width:260px;
                    right:-17px;
                    bottom:-830px;
    
                    img{
                        width:100%;
                    }
    
                    
                }
            }
        
           
    
        }

    }


    // <!--------小知識第三頁右邊 -------------------------->
    .know_wrapper{
        .love_god_whole{
        
            .love_god_right_third{
                width:250px;
                right:26px;
                bottom:-20px;

                img{
                    width:100%;
                }

            }

            .love_god_cloud_right_third{
                width:250px;
                right:26px;
                bottom:-20px;

                img{
                    width:100%;
                }
                
            }
        }
    }


};




@include rwd(610px) {
    // ============= 小知識第一頁左邊 ==============================
    //圓圈圖調margin
.know_wrapper_bk_color{
    .know_wrapper{

        .pinkBox_1{

            //Question大標背景色
            .box_1200{
                .img_circle{
                    max-width: 93px;
                    display: flex;
                    // flex-wrap:wrap;

                    img{
                        width: 100%;
                        margin: 20px 8px;
                        
                    }

                }
            }
        
        }

    }
}

    // ============= 小知識第一頁右邊 ==============================
    //月老調位置
    .know_wrapper{
        
        .know_one_right{

            .love_god_whole{
              
                .love_god{
                    width:250px;
                    right:-20px;
                    bottom:-850px;
    
                    img{
                        width:100%;
                    }
               
                }
    
                .love_god_cloud{
                    width:250px;
                    right:-20px;
                    bottom:-850px;
    
                    img{
                        width:100%;
                    }
    
                    
                }
            }
        
           
    
        }

    }

    // <!--------小知識第三頁右邊 -------------------------->
    .know_wrapper{
        .love_god_whole{
        
            .love_god_right_third{
                width:220px;
                right:26px;
                bottom:-20px;

                img{
                    width:100%;
                }

            }

            .love_god_cloud_right_third{
                width:220px;
                right:26px;
                bottom:-20px;

                img{
                    width:100%;
                }
                
            }
        }
    }

};


@include rwd(550px) {

      // ============= 小知識第一頁左邊 ==============================
    //圓圈圖調margin
    .know_wrapper_bk_color{
        .know_wrapper{

            .pinkBox_1{

                //Question大標背景色
                .box_1200{
                    .img_circle{
                        max-width: 80px;
                        display: flex;
                        // flex-wrap:wrap;

                        img{
                            width: 100%;
                            margin: 20px 2px;
                            
                        }

                    }
                }
            
            }

        }
    }

     // ============= 小知識第一頁右邊 ==============================
    //月老調位置
    .know_wrapper{
        
        .know_one_right{

            .love_god_whole{
              
                .love_god{
                    width:200px;
                    right:-15px;
                    bottom:-855px;
    
                    img{
                        width:100%;
                    }
               
                }
    
                .love_god_cloud{
                    width:200px;
                    right:-15px;
                    bottom:-845px;
    
                    img{
                        width:100%;
                    }
    
                    
                }
            }
        
           
    
        }

    }

    // <!--------小知識第三頁右邊 -------------------------->
    .know_wrapper{
        .love_god_whole{
        
            .love_god_right_third{
                width:200px;
                right:26px;
                bottom:-20px;

                img{
                    width:100%;
                }

            }

            .love_god_cloud_right_third{
                width:200px;
                right:26px;
                bottom:-20px;

                img{
                    width:100%;
                }
                
            }
        }
    }


};


@include rwd(445px){

        // ============= 小知識第一頁左邊 ==============================
    //圓圈圖調margin
    .know_wrapper_bk_color{
        .know_wrapper{

            .pinkBox_1{

                //Question大標背景色
                .box_1200{
                    .img_circle{
                        max-width: 80px;
                        display: flex;
                        // flex-wrap:wrap;

                        img{
                            width: 100%;
                            margin: 20px 4px;
                            
                        }

                    }
                }
            
            }

        }
    }
     // ============= 小知識第一頁右邊 ==============================
    //月老調位置
    .know_wrapper{
        
        .know_one_right{

            .love_god_whole{
              
                .love_god{
                    width:180px;
                    right:-15px;
                    bottom:-890px;
    
                    img{
                        width:100%;
                    }
               
                }
    
                .love_god_cloud{
                    width:180px;
                    right:-15px;
                    bottom:-880px;
    
                    img{
                        width:100%;
                    }
    
                    
                }
            }
        
           
    
        }

    }
};



@include rwd(440px){

      // ============= 小知識第一頁右邊 ==============================
    //月老調位置
    .know_wrapper{
        
        .know_one_right{

            .love_god_whole{
                display: none;
              
                .love_god{
                  
                    img{
                        width:100%;
                    }
               
                }
    
                .love_god_cloud{
               
    
                    img{
                        width:100%;
                    }
    
                    
                }
            }
        
           
    
        }

    }

}