$cardWidth: 330px;
$cardHeight: 600px;
.moonMatch-body{
    overflow: hidden;
}
.moonMatch-wrapper{
    overflow: hidden;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        width: 100%;
    }
    // 背景雲
    .backCloud {
        position: fixed;
        opacity: 0.7;
        z-index: 0;

      }
      .backCloud1{ bottom: 0; }
      .backCloud2 { top: 0; transform: rotate(-180deg);}

    .memberCards{
        // border: 1px solid green;
        margin-top: 10px;
        display: flex;
        z-index: 1;
        .scene{

            width: $cardWidth;
            height: $cardHeight;
            
            /* 透視 */
            perspective: 800px;

            z-index: 1;

            .card {
                // border: 1px solid red;
                position: relative;
                width: 100%;
                height: 100%;
                cursor: pointer;
                
                transform-style: preserve-3d;
                transform-origin: center center;
                
                transition: transform 1s; /* 轉場 */

                .card_front, .card_back {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    
                    backface-visibility: hidden; /* 設定背後看不到 */
                    -webkit-backface-visibility: hidden;//再设置隐藏
                }
                .card_front {
                    display: flex;
                    justify-content: center;
                    img{
                        width: 70%;
                    }
                }
                  
                .card_back {
                    background-color: white;
                    background-image: url(../images/moonMatch/中選人物卡.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    transform: rotateY(180deg); /* 預設旋轉 180deg */
                    
                    @include flexCenter;
                    flex-direction: column;
                    justify-content: flex-start;

                    .memberPic-container{
                        margin-top: 40px;
                        @include profileImg (person,190px);
                    }
                    .memberProfile{
                        // border: 5px solid orange;
                        width: 100%;
                        .mRow{
                            // border: 1px solid red;
                            margin: 10px auto;
                            padding: 0 40px;
                            @include flexCenter;
                            justify-content: flex-start;
                            h3{
                                margin-right: 20px;
                            }
                        }
                        .mRow.username,
                        .mRow.introduction{
                            justify-content: center;
                        }

                        @include btn(choose, 30%, 5px);

                        .btnGroup{
                            // border: 1px solid red;
                            width: 100%;
                            margin-top: 20px;
                            @include flexCenter;
                            justify-content: space-around;
                            .btnRed_choose{
                                text-decoration: none;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            &:nth-child(1){
                transform: translateY(-30%);
            }
            &:nth-child(2){
                transform: translateY(-10%);
            }
            &:nth-child(3){
                transform: translateY(-20%);
            }
            .card.flipped {
                transform: rotateY(-180deg) scale(1.2) translateY(20%);
            }
        }


    }

    .godSection{
        // border: 1px solid red;
        width: 100%;
        z-index: 2;
        position: relative;
        bottom: 0;


        .loveGod{
            // border: 1px solid red;
            position: fixed;
            bottom: 0;
            right: 100px;
            z-index: 0;
    
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 350px;
            }
            .exclamation{
                opacity: 0;
                .fa-exclamation{
                    color: #d65858;
                }
            }
            .god{
                margin-bottom: -100px;
            }
        }
    
        .msgBox-container{
            // border: 1px solid yellow;
            visibility: hidden;
            opacity: 0;
            transition: opacity $msgBoxShow;
            @include flexCenter;
            z-index: 1;
            width: 330px;
            height: 250px;
            background-image: url(../images/moonMatch/對話框.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            position: fixed;
            bottom: 150px;
            right: 400px;
            
            .msgBoxContent{
                color: #A22A18;
                text-align: center;
                display: none;
                h3{ 
                    font-size: 20px;
                    margin-top: 20%;
                }
                .btnRed_query{
                    font-size: 20px;
                    color: white;
                    padding: 10px 20px;
                    border-radius: 48px;
                    align-items: center;
                    outline-style: none;
                    border: 0;
                    background-color: #ff7a7a;
                    cursor: pointer;
                    margin-top: 10px;

                    &:hover{
                        background-color: #ac5454;
                    }
                }

            }
            .msgBoxContent.-on{
                display: inline;
            }
        }
        .msgBox-container.-on{
            opacity: 1;
            visibility: visible;
        }

        .queryBox{
            display: none;
            opacity: 0;
            transition: opacity $msgBoxShow;

            position: fixed;
            right: 50px;
            bottom: 350px;
            // transform: translateY(50%);
            form{
                border: 10px solid white;
                border-radius: 30px;
                margin: 0 auto;
                background-color: #FFEEA8;
                width: 400px;
                height: 450px;

                // transform: translate(-200px, -400px);

                @include btn(queryBox, 30%, 5px);
                display: flex;
                flex-direction: column;


                .qRow {
                    width: 80%;
                    // border: 1px solid red;
                    display: flex;
                    align-items: center;
                    margin: 15px auto;

                    h3{
                        margin-right: 15px;;
                    }

                    select{
                        width: 60%;
                        text-align: center;
                        outline: none;
                        font-size: 20px;
                        border: 3px solid #FF7A7A;
                    }

                    .check_box {
                        display: flex;
                        flex-wrap: wrap;
                        width: 60%;
    
                        .check_list {
                            // border: 1px solid green;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 10px;
                        }
                    }

                    
                }
                .btnGroup{
                    width: 100%;
                    margin-top: 20px;
                    @include flexCenter;
                    button{
                        width: 30%;
                        margin: 0 10px;
                    }
                }

                
            }
        }
        .queryBox.-on{
            display: block;
            opacity: 1;
        }

    }

    

}