@include rwd(1440px) {
    .moonMatch-wrapper{
        .memberCards{
            .scene{
                width: $cardWidth * 0.67;
                height: $cardHeight * 0.67;
    
                .card {    
                    .card_back {                        
                        .memberPic-container{
                            margin-top: 30px;
                            @include profileImg (person,130px);
                        }
                        .memberProfile{
                            $h5: 8px;
                            h2{ font-size: $h5 * 2.5; }
                            h3{ font-size: $h5 * 2; }
                            h4{ font-size: $h5 * 1.5; }
                            .mRow{
                                margin: 5px auto;
                                padding: 0 30px;
                            }
    
                            @include btn(choose, 25%, 5px);
    
                            .btnGroup{
                                margin-top: 10px;
                            }
                        }
                    }
                }
                .card.flipped {
                    transform: rotateY(-180deg) scale(1.3) translateY(25%);
                }
            }
    
    
        }

        .godSection{
            .loveGod{
                right: 50px;
                bottom: -3px;
                img{
                    width: 320px;
                }
                .god{
                    margin-bottom: -80px;
                }
            }
        
            .msgBox-container{
                width: 310px;
                height: 250px;
    
                bottom: 100px;
                right: 330px;
            }
            
    
            .queryBox{
                form{
                    
                    // width: 400px;
                    // height: 450px;
    
                    @include btn(queryBox, 30%, 5px);
                    display: flex;
                    flex-direction: column;
    
    
                    .qRow {
                        width: 70%;
                        display: flex;
                        align-items: center;
    
                        h3{
                            margin-right: 15px;;
                        }
    
                        select{
                            width: 60%;
                            text-align: center;
                            outline: none;
                            font-size: 20px;
                            // background-color:transparent;
                            border: 3px solid #FF7A7A;
                        }
    
                        .check_box {
                            display: flex;
                            flex-wrap: wrap;
                            width: 60%;
        
                            .check_list {
                                // border: 1px solid green;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-right: 10px;
                            }
                        }
    
                        
                    }
                    .btnGroup{
                        width: 100%;
                        margin-top: 20px;
                        @include flexCenter;
                        button{
                            width: 30%;
                            margin: 0 10px;
                        }
                    }
    
                    
                }
            }
            .queryBox.-on{
                display: block;
                opacity: 1;
            }
    
        }
    }
}

@include rwd(large) {
    .moonMatch-wrapper{
        .memberCards{
            .scene{
                width: $cardWidth * 0.67;
                height: $cardHeight * 0.67;
    
                .card {    
                    .card_back {                        
                        .memberPic-container{
                            margin-top: 30px;
                            @include profileImg (person,130px);
                        }
                        .memberProfile{
                            $h5: 8px;
                            h2{ font-size: $h5 * 2.5; }
                            h3{ font-size: $h5 * 2; }
                            h4{ font-size: $h5 * 1.5; }
                            .mRow{
                                margin: 5px auto;
                                padding: 0 30px;
                            }
    
                            @include btn(choose, 25%, 5px);
    
                            .btnGroup{
                                margin-top: 10px;
                            }
                        }
                    }
                }
                .card.flipped {
                    transform: rotateY(-180deg) scale(1.3) translateY(25%);
                }
            }
    
    
        }

        .godSection{
            .loveGod{
                right: 10px;
                bottom: -3px;
                img{
                    width: 300px;
                }
                .god{
                    margin-bottom: -80px;
                }
            }
        
            .msgBox-container{
                width: 290;
                height: 230px;
    
                right: 300px;
            }
    
            .queryBox{
                display: none;
                opacity: 0;
                transition: opacity $msgBoxShow;
    
                position: fixed;
                right: 50px;
                bottom: 350px;
                // transform: translateY(50%);
                form{
                    border: 10px solid white;
                    border-radius: 30px;
                    margin: 0 auto;
                    background-color: #FFEEA8;
                    // width: 400px;
                    // height: 450px;
    
                    // transform: translate(-200px, -400px);
    
                    @include btn(queryBox, 30%, 5px);
                    display: flex;
                    flex-direction: column;
    
    
                    .qRow {
                        width: 70%;
                        // border: 1px solid red;
                        display: flex;
                        align-items: center;
    
                        h3{
                            margin-right: 15px;;
                        }
    
                        select{
                            width: 60%;
                            text-align: center;
                            outline: none;
                            font-size: 20px;
                            // background-color:transparent;
                            border: 3px solid #FF7A7A;
                        }
    
                        .check_box {
                            display: flex;
                            flex-wrap: wrap;
                            width: 60%;
        
                            .check_list {
                                // border: 1px solid green;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-right: 10px;
                            }
                        }
    
                        
                    }
                    .btnGroup{
                        // border: 1px solid red;
                        width: 100%;
                        margin-top: 20px;
                        @include flexCenter;
                        button{
                            width: 30%;
                            margin: 0 10px;
                        }
                    }
    
                    
                }
            }
            .queryBox.-on{
                display: block;
                opacity: 1;
            }
    
        }
    }
}

@include rwd(1280px){
    .moonMatch-wrapper{
        .godSection{
            .loveGod{
                right: 10px;
                bottom: -3px;
                img{
                    width: 280px;
                }
                .god{
                    margin-bottom: -80px;
                }
            }
        
            .msgBox-container{
                width: 280px;
                height: 216px;
    
                bottom: 100px;
                right: 250px;
            }
    
            .queryBox{
                display: none;
                opacity: 0;
                transition: opacity $msgBoxShow;
    
                position: fixed;
                right: 50px;
                bottom: 350px;
                // transform: translateY(50%);
                form{
                    border: 10px solid white;
                    border-radius: 30px;
                    margin: 0 auto;
                    background-color: #FFEEA8;
                    // width: 400px;
                    // height: 450px;
    
                    // transform: translate(-200px, -400px);
    
                    @include btn(queryBox, 30%, 5px);
                    display: flex;
                    flex-direction: column;
    
    
                    .qRow {
                        width: 70%;
                        // border: 1px solid red;
                        display: flex;
                        align-items: center;
    
                        h3{
                            margin-right: 15px;;
                        }
    
                        select{
                            width: 60%;
                            text-align: center;
                            outline: none;
                            font-size: 20px;
                            // background-color:transparent;
                            border: 3px solid #FF7A7A;
                        }
    
                        .check_box {
                            display: flex;
                            flex-wrap: wrap;
                            width: 60%;
        
                            .check_list {
                                // border: 1px solid green;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-right: 10px;
                            }
                        }
    
                        
                    }
                    .btnGroup{
                        // border: 1px solid red;
                        width: 100%;
                        margin-top: 20px;
                        @include flexCenter;
                        button{
                            width: 30%;
                            margin: 0 10px;
                        }
                    }
    
                    
                }
            }
            .queryBox.-on{
                display: block;
                opacity: 1;
            }
    
        }
    }
}

@include rwd(1090px) {
    .moonMatch-wrapper{
        .memberCards{
            .scene{
                width: $cardWidth * 0.55;
                height: $cardHeight * 0.55;
    
                .card {    
                    .card_back {                        
                        .memberPic-container{
                            margin-top: 20px;
                            @include profileImg (person,90px);
                        }
                        .memberProfile{
                            $h5: 5px;
                            h2{ font-size: $h5 * 2.5; }
                            h3{ font-size: $h5 * 2; }
                            h4{ font-size: $h5 * 1.5; }
                        }
                    }
                }
                .card.flipped {
                    transform: rotateY(-180deg) scale(1.3) translateY(25%);
                }
            }
    
    
        }

        .godSection{
            .loveGod{
                right: 10px;
                bottom: -3px;
                img{
                    width: 260px;
                }
                .god{
                    margin-bottom: -80px;
                }
            }
        
            .msgBox-container{
                width: 260px;
                height: 200px;
    
                bottom: 100px;
                right: 220px;
            }
    
            .queryBox{
                display: none;
                opacity: 0;
                transition: opacity $msgBoxShow;
    
                position: fixed;
                right: 50px;
                bottom: 350px;
                // transform: translateY(50%);
                form{
                    border: 10px solid white;
                    border-radius: 30px;
                    margin: 0 auto;
                    background-color: #FFEEA8;
                    // width: 400px;
                    // height: 450px;
    
                    // transform: translate(-200px, -400px);
    
                    @include btn(queryBox, 30%, 5px);
                    display: flex;
                    flex-direction: column;
    
    
                    .qRow {
                        width: 70%;
                        // border: 1px solid red;
                        display: flex;
                        align-items: center;
    
                        h3{
                            margin-right: 15px;;
                        }
    
                        select{
                            width: 60%;
                            text-align: center;
                            outline: none;
                            font-size: 20px;
                            // background-color:transparent;
                            border: 3px solid #FF7A7A;
                        }
    
                        .check_box {
                            display: flex;
                            flex-wrap: wrap;
                            width: 60%;
        
                            .check_list {
                                // border: 1px solid green;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-right: 10px;
                            }
                        }
    
                        
                    }
                    .btnGroup{
                        // border: 1px solid red;
                        width: 100%;
                        margin-top: 20px;
                        @include flexCenter;
                        button{
                            width: 30%;
                            margin: 0 10px;
                        }
                    }
    
                    
                }
            }
            .queryBox.-on{
                display: block;
                opacity: 1;
            }
    
        }
    }
}