@include rwd(medium) {
    .moonMatch-wrapper{
        .memberCards{
            .scene{
                width: 220px;
                height: 400px;
    
                .card {               
                    .card_back {
                        .memberPic-container{
                            margin-top: 20px;
                            @include profileImg (person,130px);
                        }
                        .memberProfile{
                            width: 100%;
                            .mRow{
                                margin: 5px auto;
                                padding: 0 30px;
                                h2{font-size: 20px;}
                                h3{font-size: 16px;}
                                h4{font-size: 14px;}
                            }
    
                            @include btn(choose, 35%, 5px);
                            .btnGroup{
                                margin-top: 20px;
                                h3{
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
                &:nth-child(1){
                    transform: translateY(-30%);
                }
                &:nth-child(2){
                    transform: translateY(-10%);
                }
                &:nth-child(3){
                    transform: translateY(-20%);
                }
            }
    
    
        }

        .godSection{
            // border: 1px solid red;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
    
            >div{
                width: 33.3%;
                // border: 1px solid red;
            }
    
    
            .loveGod{
                // margin: 0 auto;
                position: fixed;
                bottom: 100px;
                right: 0;
                z-index: 0;
    
        
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    // border: 1px solid red;
                    width: 150px;
                }
                .exclamation{
                    opacity: 0;
                    .fa-exclamation{
                        color: #d65858;
                    }
                }
                .god{
                    margin-bottom: -40px;
                }
            }
        
            .msgBox-container{
                opacity: 0;
                transition: opacity $msgBoxShow;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                z-index: 1;
    
                .msgBox{
                    // border: 1px solid yellow;
                    width: 200px;
                    height: 125px;
                    @include flexCenter;
    
                    background-image: url(../images/moonMatch/對話框.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
    
                    transition: left 1s;
    
                    position: fixed;
                    bottom: 10px;
                    left: 10%;

                }
                .msgBox.-on{
                    // transform: translateX(900px);
                    left: 50%;
                }
    
                
                .msgBoxContent{
                    // border: 1px solid black;
                    color: #A22A18;
                    text-align: center;
                    display: none;

                    font-size: 16px;
                    h3{
                        font-size: 16px;
                    }
                    .btnRed_query{
                        font-size: 16px;
                        padding: 5px 10px;
                        border-radius: 30px;
                        align-items: center;
                        outline-style: none;
                        border: 0;
                        background-color: #ff7a7a;
                        cursor: pointer;
                        margin-top: 10px;
    
                        &:hover{
                            background-color: #ac5454;
                        }
                    }
    
                }
                .msgBoxContent.-on{
                    display: inline;
                }
            }
            .msgBox-container.-on{
                opacity: 1;
            }
    
            .queryBox{
                display: none;
                opacity: 0;
                transition: opacity $msgBoxShow;

                right: 50%;
                transform: translate(25%, 50%);
                // bottom: 50%;
                // transform: translateY(50%);
                form{
                    border-radius: 30px;
                    margin: 0 auto;
                    
                    background-color: #FFEEA8;
                    width: 400px;
                    height: 450px;
    
    
                    @include btn(queryBox, 30%, 5px);
                    display: flex;
                    flex-direction: column;
    
    
                    .qRow {
                        width: 70%;
                        // border: 1px solid red;
                        display: flex;
                        align-items: center;
                        margin: 15px auto;
    
                        h3{
                            margin-right: 15px;;
                        }
    
                        select{
                            width: 60%;
                            text-align: center;
                            outline: none;
                            font-size: 20px;
                        }
    
                        .check_box {
                            display: flex;
                            flex-wrap: wrap;
                            width: 60%;
        
                            .check_list {
                                // border: 1px solid green;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-right: 10px;
                            }
                        }
    
                        
                    }
                    .btnGroup{
                        // border: 1px solid red;
                        width: 100%;
                        margin-top: 20px;
                        @include flexCenter;
                        button{
                            width: 30%;
                            margin: 0 10px;
                        }
                    }
    
                    
                }
            }
            .queryBox.-on{
                display: block;
                opacity: 1;
            }
    
        }
    }
}