@include rwd(medium) {
    .moonMatch-wrapper{
        .memberCards{
            margin-top: 20px;
            .scene{
    
                .card {    
                    .card_back {                        
                        .memberPic-container{
                            @include profileImg (person,60px);
                        }
                        .memberProfile{
                            .mRow{
                                margin: 3px auto;
                                padding: 0 18px;
                            }
                            $h5: 4px;
                            h2{ font-size: $h5 * 2.4; }
                            h3{ font-size: $h5 * 2.2; }
                            h4{ font-size: $h5 * 2; }
                        }
                    }
                }
                .card.flipped {
                    transform: rotateY(-180deg) scale(1.5) translateY(25%);
                }
            }
    
    
        }

        .godSection{
            .loveGod{
                right: 10px;
                bottom: -3px;
                img{
                    width: 240px;
                }
                .god{
                    margin-bottom: -50px;
                }
            }
        
            .msgBox-container{
                width: 240px;
                height: 180px;
    
                bottom: 100px;
                right: 200px;
    
                .msgBoxContent{
                    h3{ 
                        font-size: 16px;
                    }
                    .btnRed_query{
                        font-size: 16px;
                    }
                    
                }
                .msgBoxContent.-on{
                    display: inline;
                }
            }
            .msgBox-container.-on{
                opacity: 1;
            }
    
            .queryBox{
                display: none;
                opacity: 0;
                transition: opacity $msgBoxShow;
    
                position: fixed;
                right: 50px;
                bottom: 350px;
                // transform: translateY(50%);
                form{
                    border: 10px solid white;
                    border-radius: 30px;
                    margin: 0 auto;
                    background-color: #FFEEA8;
                    width: 400px;
                    height: 450px;
    
                    // transform: translate(-200px, -400px);
    
                    @include btn(queryBox, 30%, 5px);
                    display: flex;
                    flex-direction: column;
    
    
                    .qRow {
                        width: 70%;
                        // border: 1px solid red;
                        display: flex;
                        align-items: center;
                        margin: 15px auto;
    
                        h3{
                            margin-right: 15px;;
                        }
    
                        select{
                            width: 60%;
                            text-align: center;
                            outline: none;
                            font-size: 20px;
                            // background-color:transparent;
                            border: 3px solid #FF7A7A;
                        }
    
                        .check_box {
                            display: flex;
                            flex-wrap: wrap;
                            width: 60%;
        
                            .check_list {
                                // border: 1px solid green;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-right: 10px;
                            }
                        }
    
                        
                    }
                    .btnGroup{
                        // border: 1px solid red;
                        width: 100%;
                        margin-top: 20px;
                        @include flexCenter;
                        button{
                            width: 30%;
                            margin: 0 10px;
                        }
                    }
    
                    
                }
            }
            .queryBox.-on{
                display: block;
                opacity: 1;
            }
    
        }
    }
}