.moonMap-wrapper {
  // background-color: #f0ded1;
  // position: relative;
  // height: 115vh;
  img {
    width: 100%;
  }
  // 粉色整體外框
  .moonMap-block {
    margin: 0 auto;
    position: relative;
    top: 60px;
    // border: 1px solid black;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 11;

    //===============回到地圖=============
    // @include times-circle {
    //   top: 0%;
    //   right: 0%;
    // }

    //==============招牌===============
    @include signBox(map, 30%, 98%) {
      top: 0%;
      left: 10%;
    }

    //==============頁籤==============
    @include list(map, 10%);
    ul.list_map li {
      font-size: 20px;
    }
    //=============頁籤定位顏色============
    ul.list_map {
      margin: 0;
      li.tab.on {
        background-color: #ff7a7a;
      }
    }

    //==============切換頁籤內容==============
    div.inBox_map {
      display: none;
    }

    div.inBox_map.on {
      display: block;
    }

    //==============頁籤內容=================
    @include pinkBox(map, 96%);

    // 回地圖
    .returnMap {
      position: absolute;
      top: 70px;
      right: 100px;
      // border: 1px solid red;
      a {
        text-decoration: none;
        font-size: 20px;
        display: block;
        font-size: 20px;
        color: black;
        &::before{
          content: "";
          position: absolute;
          background-color: rgb(255, 0, 51);
          width: 80%;
          height: 2px;        
          bottom: 0;
          transform: scale(0);
        }
        i {
          margin-left: 5px;
          color: #7ed5ea;
          border-radius: 50%;
          background-color: white;
        }
      }
      &:hover{
        a{         
          color: #ff0000;
          position: relative;
          &::before{         
            transform: scale(1);
            transition: all .2s;
          }
        }
      }
    }
    //==============按鈕===========================
    // @include btn(1, 200px, 10px);

    //============= 廟宇介紹區 =========================

    // 月老廟照片
    .roundImgBlock {
      // border: 1px solid red;
      width: 100%;
      padding: 5%;
      display: flex;
      margin-top: 6%;
      justify-content: space-around;
      @include roundImg(temp1, 20%, #ffffff, #7ae6f7);
      @include roundImg(temp2, 20%, #ffffff, #a9f031);
      @include roundImg(temp3, 20%, #ffffff, #fa92ee);
    }

    @mixin titleH3 {
      h3 {
        font-size: 20px; //標題文字
        margin: 0;
        margin-left: 15px;
        padding: 5px 15px;
        color: white;
        background-color: #ac8874;
        @content;
      }
    }

    @mixin pEmpleContent {
      p.empleContent {
        font-size: 16px; //內文文字
        @content;
      }
    }

    @mixin empleHr {
      hr {
        border: 1px solid #8a0000;
        width: 100%;
        @content;
      }
    }

    @mixin imgSz {
      .img_sz {
        width: 50px;
        @content;
      }
    }

    //月老廟介紹
    .empleMessage {
      // border: 1px solid red;

      // 標題
      .title {
        display: flex;
        align-items: center;
        @include imgSz;
        @include titleH3;
      }

      @include empleHr;

      // 廟宇內文介紹
      .empleContent_block {
        // border: 1px solid blue;

        @include pEmpleContent {
          margin-top: 15px;
        }
      }
    }

    // 交通資訊區塊
    .empletraffic_block {
      display: flex;
      margin-top: 50px;
      margin-bottom: 50px;
      // 廟宇交通地圖
      .goMap {
        width: 70%;
        img {
          box-shadow: 0 0 3px 3px #ccc;
        }
      }

      // 交通資訊
      .empleContent_block {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        // 標題
        .title {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          @include imgSz;
          @include titleH3;
        }
        @include empleHr;
        @include pEmpleContent {
          margin: 5px 0;
        }
      }
    }

    // 美食景點內文
    .sceneMap {
      margin-top: 60px;
      width: 100%;
      box-shadow: 0 0 5px 2px #ccc;
      // border: 1px solid green;
    }

    .sceneNew_map {
      margin-top: 20px;
      width: 100%;
      height: 500px;
      overflow-y: scroll;
      // border: 3px solid blue;
      // ::-webkit-scrollbar-thumb {
      //   background-color: yellow;
      //   border-radius: 10px;
      // }

      .newInBox_map {
        margin: 20px 0;
        font-size: 20px;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        padding: 15px;
        box-shadow: 0 0 5px 2px #ccc;
        .roundImg_map {
          width: 20%;
          // border: 1px solid black;
        }
        .sceneText {
          width: 70%;
          margin-left: 30px;
          // border: 1px solid black;
          h3 {
            color: #4d0810;
            font-size: 20px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }

    // =============== 公版留言區 ==================

    // 使用者發布貼文區
    .userForm {
      margin-top: 60px;
      width: 100%;
      border-radius: 10px;
      background-color: white;
      border: 1px solid #ccc;
      // @include roundImg(user,20%,white,#FF7A7A);
      .user_block {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 15px;
        .userImg_block {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 20%;
          .userImg {
            font-size: 0;
            width: 80%;
            margin: 15px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: 0 0 0 4px white, 0 0 0 6px #ff7a7a;
          }
          .userName {
            padding: 5px 15px;
            border-radius: 48px;
            background-color: #ff7a7a;
            color: white;
          }
        }

        // 使用者新增貼文
        .user-messBlock {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          width: 70%;

          #user-message {
            width: 100%;
            height: 100px;
            resize: none;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 5px;
            outline: none;
            &:focus{
              box-shadow: 0 0 4px 0px rgb(170, 170, 170);
            }
          }
          .imgBlock {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .imgList {
              max-width: 300px;
              margin-top: 10px;
              // border: 1px solid green;
              list-style: none;
              padding: 0;
              display: flex;
              justify-content: center;
              align-items: flex-end;
              .aboutImg {
                font-size: 0;
                margin-left:5px;
                max-width: 100px;
                // border: 1px solid blue;
                border-radius: 5px;
                overflow: hidden;
              }
              .imgBut{
                position: relative;
                #addImg {
                  position: relative;
                  transform: scale(1);
                  margin-left: 5px;
                  width: 43px;
                  height: 40px;
                  outline: none;
                 &::after{
                   content: "";
                   position: absolute;
                   background-image: url("../images/moonMap/camera-solid.svg");
                   background-color:white;
                   background-position: center;
                   background-repeat: no-repeat;
                   background-size: cover;
                   width: 100%;
                   height: 100%;
                
                   left: 0;
                   
                 }
                  // border: 1px solid blue;
                }
                &:hover{
                  #addImg{
                    cursor: pointer;
                    transform: scale(1.1);
                  }
                }
           
              }

             
            }

            // 貼文區圖片
            .imgList2 {
              margin-top: 10px;
              max-width: 1000px;
              
              // border: 1px solid green;
              list-style: none;
              font-size: 0;
              padding: 0;
              display: flex;
              justify-content: center;
              align-items: flex-end;
              .aboutImg {
               
                // border: 1px solid blue;
                margin-left: 10px;
                max-width: 250px; 
                font-size: 0;         
                border-radius: 5px;
                overflow: hidden;
              }
            }

            #sumBut {
              width: 20%;
              margin-right: 10px;
              padding: 10px;
              border-radius: 48px;
              background-color: #ff7a7a;
              color: white;
              border: 0;
              outline: none;
              transform: scale(1);
              cursor: pointer;
              &:hover{
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }

    // 貼文區
    .message_block {
      margin-top: 20px;
      overflow-y: scroll;
      height: 500px;
      // border: 1px solid black;
      .userForm {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        // 使用者已貼文
        #user-message02 {
          width: 100%;
          height: 100px;
        }

        #edit {
          color: #ccc;
          margin-right: 10px;
        }

        .end {
          //user貼文的!位置
          margin-top: 10px;
          align-self: flex-end;
        }
        //  訪客留言輸入框
        .input-block {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          // border: 1px solid black;

          .visitors-input {
            font-size: 20px;
            padding: 10px;
            margin-bottom: 10px;
            align-self: center;
            width: 95%;
            border-radius: 48px;
            outline-style: none;
            border: 1px solid #ff7a7a;
          }
          // 輸入鍵icon
          .arrow-but {
            position: absolute;
            top:5px;
            right: 30px;
            color: white;
            transform: rotate(-90deg);
            background-color: #ff7a7a;
            padding: 10px;
            border-radius: 50%;
          }
        }

        //  訪客留言區
        ul.visitors-block {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          width: 100%;
          // border: 1px solid red;
          // overflow-y: scroll;
          .visitors-messagelist {
            margin: 15px 0;
            width: 95%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            box-shadow: 0px 1px 2px 1px #ccc;
            // border: 1px solid blue;
            .visitors-img {
              font-size: 0;
              width: 10%;
              margin: 15px;
              border-radius: 50%;
              overflow: hidden;
              box-shadow: 0 0 0 4px white, 0 0 0 6px #ccc;
            }
            .visitors-message {
              width: 70%;
              padding: 10px;
              border-radius: 48px;
              border: 1px solid #ccc;
            }
          }
        }
      }
    }

    // 月老
    div.YueLao_block.on {
      display: block;
      position: absolute;
      bottom: -6%;
      right: -10%;
      width: 35%;
     
      .YueLao {
        position: relative;
        width: 70%;
        margin: 0 auto;
      }
      .YueLaoCloud {
        position: absolute;
        bottom: 10px;
        right: 10%;
        width: 80%;
      }
    }

    div.YueLao_block {
      display: none;
      z-index: 1;
      
    }

    div.YueLao_block.tab2 {
      z-index: -1;
      .YueLao {
        width: 60%;
        z-index: -1;
        top: -25px;
        right: -20%;
        transform: rotate(25deg);
        
      }
    }

    div.YueLao_block.tab3 {
      z-index: -1;
      .YueLao {
        width: 60%;
        z-index: -1;
        top: -30px;
        right: -20%;
        transform: rotate(30deg);
        
      }
    }
  }

  // ======== 卷軸樣式 =================
  #style-1::-webkit-scrollbar {
    //捲軸寬度
    width: 15px;
  }

  #style-1::-webkit-scrollbar-thumb {
    //捲軸本體顏色
    background-color: #ac5454;
    border-radius: 10px;
  }

  #style-1::-webkit-scrollbar-track {
    background-color: #ff8181;
    border-radius: 10px;
  }

  //背景熱氣球飄移動畫
  .ball{
    background-image: url(../images/moonMap/cloud_moonmap_inside_ball.png);
    position: absolute;
    top:10%;
    height: 98%;
    width: 98%;
    background-size:contain;
    animation: swing ease-in-out 2s infinite alternate;
    z-index: -2;
    opacity: .8;

    @keyframes swing {
        0% { transform: rotate(1deg);}

        100% { transform: rotate(-1deg);}
    }
  }
  //背景熱氣球飄移動畫結束

  //背景雲飄移動畫
  .cloud_one{
    background-image: url(../images/moonMap/cloud_moonmap_inside_one.png);
    position: absolute;
    top:0px;
    height: 100%;
    width: 100%;
    background-size:cover;
    animation: move 100s infinite linear alternate;
    z-index: -3;
    opacity: .6;

    @keyframes move{
        100%{bckground-position: 500% 0;}
    }
  }

  .cloud_second{
    background-image:url(../images/moonMap/cloud_moonmap_inside_second.png);
    position: absolute;
    top:0px;
    height: 100%;
    width: 100%;
    background-size:cover;
    animation: move 100s infinite linear alternate;
    z-index: -2;
    opacity: .5;


    @keyframes move{
        100%{background-position: 500% 0;}
    }

  }
  //背景雲飄移動畫結束
  
}

// ----------RWD----------------
@mixin moonMap-block($moonwid) {
  .moonMap-block{
    width:$moonwid;
  }
}

@mixin signfont($fontsize) {
  .moonMap-block{
    .signBox_map{
      .signInbox_map{
        font-size:$fontsize
      }
    }
  }
}

@mixin lilist($liwid,$lisize) {
  .moonMap-block{
    .signBox_map{
        ul.list_map {
          li {
            width: $liwid;
            font-size: $lisize;
          }
        }
    }
  }
}

@include rwd(1550px){
  .moonMap-wrapper{
    @include moonMap-block(75%);
    @include signfont(49px);
  }
}

@include rwd(1527px){
  .moonMap-wrapper{
    @include signfont(48px);
  }
}

@include rwd(1470px){
  .moonMap-wrapper{
    @include signfont(46px);
  }
}


@include rwd(1415px){
  .moonMap-wrapper{
    @include signfont(44px);
  }
}

