// 外框大小
@mixin moonMap-block($moonwid) {
    .moonMap-block{
      width:$moonwid;
    }
  }
//  招牌字大小 
  @mixin signfont($fontsize) {
    .moonMap-block{
      .signBox_map{       
        .signInbox_map{
          font-size:$fontsize
        }
      }
    }
  }

//   招牌大小
  @mixin signBox_map($signbox) {
    .moonMap-block{
        .signBox_map{
            width: $signbox;
        }
    }
  }
  
//   頁籤
  @mixin lilist($liwid,$lisize) {
    .moonMap-block{  
        ul.list_map {
          li {
            width: $liwid;
            font-size: $lisize;
          }
        }
      
    }
  }

    //   回到地圖
    @mixin returnMap($top,$right,$font) {    
        .moonMap-block{
            .returnMap{
                top:$top;
                right: $right;
                a{
                  font-size: $font;
                }
            }
        }
    }

    // 廟宇照片
@mixin roundImg($Imgwid) {
    .moonMap-block{
      .roundImgBlock{
        .roundImg_temp1{
          width:$Imgwid;
        }
        .roundImg_temp2{
          display: none;
        }
        .roundImg_temp3{
          display: none;
        }
      }
    }
  }

// 月老
  @mixin YueLao{
    .moonMap-block{
        div.YueLao_block.on{
            display: none;
        }
    }
}


// 標籤3內容
@mixin sumBut($width,$font) {
    .moonMap-block{
      .userForm{
        .user_block{
          .user-messBlock{
            .imgBlock{
              #sumBut{
                width: $width;
                h3{
                  font-size: $font;
                }
              }
            }
          }
        }
      }
    }
  }
  
  @mixin fa-plus($font) {
    .moonMap-block {
      .fas.fa-plus-square.fa-5x{
        font-size: $font;
      }
    }
  }

  //訪客留言輸入鍵   
@mixin arrow-but($right) {
    .moonMap-block{
        .message_block{

            .userForm{

                .input-block{

                    #arrow-but{
                        right: $right;
                    }
                } 
            } 
        } 

    } 
}
  

@include rwd(medium) {
    .moonMap-wrapper {
   
        @include signfont(30px);
      }
}

@include rwd(959px){
    .moonMap-wrapper { 
        @include signfont(28px);
      }
} 

@include rwd(951px){
    .moonMap-wrapper{
        @include sumBut(22%,16px);
        @include fa-plus(3em);
      }
}

@include rwd(929px){
    .moonMap-wrapper {
        @include returnMap(70px,60px,15px);
        @include YueLao;
        @include signBox_map(30%);
        @include lilist(15%,17px);
        @include signfont(28px);
      }
}


@include rwd(913px){
  .moonMap-wrapper {
    @include sumBut(23%,16px);
    }
}

@include rwd(902px){
    .moonMap-wrapper{
        @include signfont(26px);
    }
}


@include rwd(876px){
    .moonMap-wrapper{
        @include sumBut(23%,15px);
       
      }
}



@include rwd(845px){
    .moonMap-wrapper{
        @include signfont(25px);
        @include sumBut(24%,15px);
    }
}



@include rwd(817px){
    .moonMap-wrapper{
        @include roundImg(50%);
        @include signBox_map(35%);
        @include signfont(25px);
        
    }
}


@include rwd(808px){
  .moonMap-wrapper{
    @include sumBut(25%,15px);
      
  }
}

@include rwd(791px){
    .moonMap-wrapper{
        @include sumBut(25%,15px);
       
      }
}


@include rwd(779px){
  .moonMap-wrapper{
     @include sumBut(26%,15px);
     
    }
}




