

// !------------------------------內文開始----------------------------------
$cwd:698px;
.moonDrawLots_bk_color{
    // background-color: #F0DED1;
    // height: 1080px;
    img{
        width:100%;         
     }



     .front_cloud{
        max-width: 1920px;
        // display: flex;
        // border:1px solid green;
        // width: 100%;
        position: relative;
        // bottom: -90px;
        // justify-content: space-between;
        .cloud_left{
            position: absolute;
            left:-200px;
            top:400px;
            width:  $cwd;
            // height:650px;
            // left: 0%;
            // transform:translateX(-30%);
        //    z-index: 10;
        //    border: 1px solid red;
            // 
        }
        .cloud_right{
             width:  $cwd;
             right:-200px;
             top:400px;
             position: absolute;
            // height:650px;
            // margin-left: 1000px;
            // border: 1px solid red;
            // transform:translateX(105%);

        }
    }
    

    .box_moonDrawLots_1200{
        // border:1px solid red;
        margin:0 auto;
        max-width: 1200px;
       
       

        .lantern{
            max-width: 1200px;
            display: flex;
            justify-content: space-between;
            .lantern_group1{
                // border:1px solid green;
                max-width: 275px;
                display: inline-flex;
                .lantern_simple1{
                    // border:1px solid red;
                    max-width: 118px;
                    
                }
                .lantern_simple2{
                    // border:1px solid red;
                    max-width: 102px;
                    margin-left:40px;
                    
                }
            }
            .lantern_group2{
                // border:1px solid green;
                max-width: 275px;
                display: inline-flex;
                .lantern_simple3{
                    // border:1px solid red;
                    max-width: 102px;
                    
                }
                .lantern_simple4{
                    // border:1px solid red;
                    max-width: 118px;
                    margin-left:40px;
                    
                }
            }
        }   

        .duelbox{
            display: none;
            margin:0 auto;

            max-width: 583px;
           
            // text-align: center;
            // border:1px solid blue;
            // position: relative;
            // text-align: center;
            
            

            .cloud{
                max-width: 583px;
                // position: absolute;
                // bottom:-200px;
                // z-index: -1;
                // border: 1px solid green;
                // margin-top:200px;
                // top:300px;
                transform: translateY(250px);
                
            }

            .duel_case{
                margin: auto;
                max-width: 206px;
                transform: translateY(-300px);
                // border: 1px solid red;
                // margin:0 auto;       
                // z-index: 97;
                // position: absolute;
                // right:30%;
            }
        
            // .throw{
            //     max-width: 206px;
            //     margin:0 auto;
                
            //     right:30%;
            // }
            .result_page{
                width: 936px;
                height: 511px;
            }

            .btn_go{
                transform: translateY(-270px);
               font-size: 30px;
               padding: 10px 30px;
               border-radius:48px;
               
                background-color: #FF7A7A;
                color:white;
                border:none;
                cursor: pointer;
                margin-left:220px;
                // z-index:98;
                // position: absolute;
                // margin-top: 40px;
                // right:37%;
                // top: 380px;
            }
         
        }
            // ---------------------------------結果頁（兩頁）------------------------------
        .duelboxer{
            display: none;
                margin:0 auto;
            .result_letter{
                margin:0 auto;
            
                .two_line1{
                    // border:3px solid green;
                    width: 936px;
                    height: 530px;
                    margin:0 auto;
            
                    box-sizing: border-box;
                    display: flex;
                    justify-content: flex-start;
  
                    background-image: url(../images/moonDrawLots/step_1/two_line.png);
                    .area1{
                        // border:3px solid black;
                        display: inline-flex;
                        justify-content: flex-start;
                        width:calc(100% - 275px);
                        .aside{
                            // border:1px solid blue;
                            width: 195px;
                            display: inline-block;
                            vertical-align: top;
                            box-sizing: border-box;
                            height: 100%;
                        
                        }
                        .result{
                            // border:1px solid orchid;
                            width:100%;
                            margin-top:132px;
                            height: 48%;
                            display: inline-flex;
                            justify-content: flex-start;
                            display: flex;
                                align-items:center;
                                justify-content: center;

                            .result_luck{
                                width: 175px;
                                height:100%;
                                background-image: url(../images/moonDrawLots/step_1/text1.png);
                                background-repeat: no-repeat;
                                display: flex;
                                align-items:center;
                                justify-content: center;
                                
                            
                                h1{
                                    font-size: map-get($font_size, 'h1');
                                    color: white;
                                    writing-mode: vertical-lr;
                                    background-color: #FF7A7A;
                                    height: 168px;

                                }
                                
                            }   
                            .result_text{
                                // border:1px solid purple;
                                width:calc(100% - 175px);
                                h1{
                                    font-size: map-get($font_size, 'h1');
                                    color:black;
                                    display: flex;
                                    align-items:center;
                                    justify-content: center;
                                    
                                    
                                
                                    // height: 168px;
                                }
                            }


                            
                        }
                    }
                
                      
                             
                                
                               
                  
                    .area2{

                        .result_full_text{
                            width:100%;
                            
                        }
                        .block_aside{
                            // border:1px solid purple;
                            width: 190px;
                            display: inline-block;
                            margin-right:54px;
                            margin-left: 30px;
                            box-sizing: border-box;
                            height:174px;
                            margin-top:354px;
                            background-repeat: no-repeat;
                            background-image: url(../images/moonDrawLots/step_1/block_none.png);
                            
                        }
                    }
                    
                }
                .two_line2{
                    // border:3px solid green;
                    width: 936px;
                    height: 530px;
                    margin:0 auto;
            
                    display: flex;
                    flex-wrap: no-wrap; /* no-wrap(預設) | wrap | wrap-reverse */
                    flex-direction: column;
                    
                    
                    align-items: stretch; 
  
                    background-image: url(../images/moonDrawLots/step_1/two_line.png);
                    .area3{
                        
                        border:3px solid black;
                        display: inline-flex;
                        justify-content: flex-start;
                        width:100%; 
                        
                        .aside{
                            border:4px solid blue;
                            width: 385px;
                            display: inline-flex;
                            vertical-align: top;
                            box-sizing: border-box;
                            justify-content: flex-start;
                            height: 337px;
                            
                            .block{
                                border:1px solid red;
                                display: inline-flex;
                                vertical-align: top;
                                box-sizing: border-box;
                                justify-content: flex-start;
                            }
                           
                            
                        
                        }
                        .result{
                            border:1px solid orchid;
                            width:calc(100% - 385px);
                            // margin-top:132px;
                            height: 100%;
                            display: inline-flex;
                            justify-content: flex-start;
                            display: flex;
                                align-items:center;
                                justify-content: center;

                            .result_luck{
                                width: 175px;
                                margin-top: 120px;
                                height:100%;
                                background-image: url(../images/moonDrawLots/step_1/text1.png);
                                background-repeat: no-repeat;
                                display: flex;
                                align-items:center;
                                justify-content: center;
                                
                            
                                h1{
                                    font-size: map-get($font_size, 'h1');
                                    color: white;
                                    writing-mode: vertical-lr;
                                    background-color: #FF7A7A;
                                    
                                    
                                    height: 168px;

                                }
                                
                            }   
                            .result_text{
                                border:1px solid purple;
                                width:calc(100% - 175px);
                                
                                h1{
                                    font-size: map-get($font_size, 'h1');
                                    color:black;
                                    margin-top: 50px;
                                    // display: flex;
                                    // align-items:center;
                                    // justify-content: center;
                                    
                                    
                                
                                    // height: 168px;
                                }
                            }


                        }
                        

                    }


                    .area4{
                        width:100%;
                        display: inline-flex;
                        justify-content: flex-start;
                        display: flex;
                            // align-items:center;
                            justify-content: center;

                        .result_full_text{
                            border: 3px solid pink;
                            width: 679px;
                            
                            height:190px;
                            display: inline-flex;
                        justify-content: flex-start;
                        display: flex;
                        margin-left: 56px;

                        .title{
                        //     display: inline-flex;
                        // justify-content: flex-start;
                        // display: flex;
                        width:672px;
                        border:1px solid green;
                        color: #FF7A7A;
                        }
                            
                        .text_word{
                            // display: inline-flex;
                            // justify-content: flex-start;
                            // display: flex;
                            // width:672px;
                            border:1px solid green;
                        }
                        
                        
                        .block_aside{
                            border:1px solid purple;
                            width: 282px;
                            display: inline-block;
                            margin-right:54px;
                            margin-left: 30px;
                            box-sizing: border-box;
                            display: inline-flex;
                            height:174px;
                            // margin-top:354px;
                            background-repeat: no-repeat;
                            
                            background-image: url(../images/moonDrawLots/step_1/block_none.png);
                            
                        }

                    }

                   

                }
            }   
                
        }
        .duelbox.-on,
        .duelboxer.-on{
            display: block;
        }


    }

    // .1200_god_fix{

        .god_talk1{
            display: inline-flex;
            display: none;
            // border:1px solid blue;
            transform: translate(620px, -230px);
        
            // transform: translateY(-50%);

            // justify-self: center;

            .talk{
                // border: 1px solid red;
                background-image:url(../images/moonDrawLots/step_1/talk.png);
                width: 260px;
                height: 200px;
                display: flex;
                align-items:center;
                justify-content: center;
                transform: translate(90px, -60px);
        

                h3{
                    font-size: map-get($font_size, 'h3');
                    color: #A22A18;
                }
            }
        

            .MoonOfGod{
                .god{
                    // border:1px solid yellow;
                    max-width: 392px;
                    z-index: 20;
                    
                    transform: rotate(-8deg);
                    // float:right;
                    // display: flex;
                    // margin-top: -250px;
                    // margin-left: 800px;
                    // transform: translateY(-40%);
                    // position: absolute;
                }
            }
        }
        .god_talk2{
            display: inline-flex;
            display: none;
            // border:1px solid blue;
            transform: translate(200px, -10px);
        
            // transform: translateY(-50%);

            // justify-self: center;

            .talk{
                // border: 1px solid red;
                background-image:url(../images/moonDrawLots/step_1/talk.png);
                width: 260px;
                height: 200px;
                display: flex;
                align-items:center;
                justify-content: center;
                transform: translate(90px, -60px);
        

                h3{
                    font-size: map-get($font_size, 'h3');
                    color: #A22A18;
                }
            }
        

            .MoonOfGod{
                .god{
                    // border:1px solid yellow;
                    max-width: 392px;
                    z-index: 20;
                    
                    // transform: rotate(-8deg);
                    // float:right;
                    // display: flex;
                    // margin-top: -250px;
                    // margin-left: 800px;
                    // transform: translateY(-40%);
                    // position: absolute;
                }
            }
        }

        .god_talk1.-on,
        .god_talk2.-on{
            display: inline-flex;
        }


    }
    
}