.Mymember-wrapper {

         //背景雲飄移動畫
         .cloud_one{
            // border: 1px solid red;
            background-image: url(../images/MyMember/MyOrder_cloud_one.png);
            position: absolute;
            top:0px;
            height: 100%;
            width: 100%;
            background-size:cover;
            animation: move 100s infinite linear alternate;
            z-index: -5;
            opacity: .8;
            
            @keyframes move{
                100%{bckground-position: 500% 0;}
            }
        }
    
        .cloud_second{
            // border: 1px solid blue;
            background-image:url(../images/MyMember/MyOrder_cloud_second.png);
            position: absolute;
            top:0px;
            height: 100%;
            width: 100%;
            background-size:cover;
            animation: move 120s infinite linear alternate;
            z-index: -2;
            opacity: .4;
        
        
            @keyframes move{
                100%{background-position: 500% 0;}
            }
        }
        //背景雲飄移動畫結束

    img {
        width: 100%;
    }

    .temple01 {
        margin: 0 auto;
        position: fixed;
        width: 70vw;
        height: 70vh;
        top: (100vh - 70vh) / 2;
        left: (100vw - 70vw) / 2;    

        .roof {
            width: 100%;
            position: absolute;
            // border: 1px solid red;
            top: -310 * 100vw / 1920;
            z-index: 3;
            // ========= 燈籠 ==============
            .lantern.left {
              position: absolute;
              width: 10%;
              z-index: -1;
              bottom: -100px;
              left: 0px;
            }
            .lantern.right {
              position: absolute;
              width: 10%;
              z-index: -1;
              bottom: -100px;
              right: 0px;
            }      
          // ==========燈籠光暈=============
          .light {
            border-radius: 50%;
            box-shadow: 0px 0px 80px 30px #ffef61;
          }
        }
    }

    main {


        .option {
            width: 70%;
            height: 70vh;
            display: flex;
            justify-content: center;
            align-items: center ;
            flex-wrap: wrap;
            margin: 0 auto;
            // border: 1px solid #000;
            position: relative;
            z-index: 1;
    
            li {
                margin: 0 auto;
                list-style: none;
    
                a {
                    text-decoration: none;                
                    @include flexCenter;
                    flex-direction: column;
                }

                img {
                    width: 100%;
                }
    
                @include btn(list,100%,2%);
    
                .btnRed_list {
                    display: flex;
                    justify-content: center;
                    margin: 10% auto;
                }
                
                &:hover {
                    .icon {
                        animation-name: hover;
                        animation-duration: 2s;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
    
                        @keyframes hover {
                            0% {
                                transform: translateY(0);
                            }
                            25% {
                                transform: translateY(-10%);
                            }
                            50% {
                                transform: translateY(0);
                            }
                            75% {
                                transform: translateY(10%);
                            }
                            100% {
                                transform: translateY(0);
                            }
                        }
                    }
                    .btnRed_list {
                        background-color: #ac5454;
                    } 
                }
            }
        }
    }





            // .mascot {
            //     width: 300px;
            //     // border: 1px solid #000;
            //     position: absolute;
            //     top :0;
            //     right: 0;
            //     transform: translate(90%,0%);
            //     @include flexCenter;
            //     flex-direction: column;

            //     .chat {
            //         width: 100%;
            //         @include flexCenter;
            //         flex-direction: column;
            //         background-color: #FFEEA8;
            //         padding: 10% 3%;
            //         border-radius: 20px;
            //         border: 10px solid white;
            //         position: relative;
            //         margin-bottom: 5%;

            //         @include btn (create,80%,2%);

            //         h4, .btnRed_create {
            //             margin: 3% auto;
            //         } 

            //         .btnRed_create {
            //             @include flexCenter;

            //             a{
            //                 text-decoration: none;
            //                 color: white;
            //             }
            //         }

            //         .triangle {
            //             position: absolute;
            //             top: 100%;
            //             border-style: solid;
            //             border-width: 30px 30px 0 30px;
            //             border-color: white transparent transparent transparent;
            //         }

            //         .trianglein {
            //             position: absolute;
            //             top: 99%;
            //             border-style: solid;
            //             border-width: 25px 20px 0 20px;
            //             border-color: #FFEEA8 transparent transparent transparent;
            //         }
            //     }
        
            //     img {
            //         width: 100%;
            //     }
            // }


    .clouds {
        position: fixed;
        width: 1920px;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        bottom: -8%;
        // border: 1px solid red;
        z-index: -1;
        // display: none;

        .cloud {
            // border: 1px solid #000;
        }

        img {
            width: 140%;
        }
    }

}