@include rwd(large) {
  .Mymember-wrapper {
    //============= 廟宇======================
    .temple01 {

    }

    main {
      .option {
          width : 100%;
      }
    }

    .clouds {
      width: 1366px;
      bottom: 8%;
    }

  }
}
