@include rwd(small) {
    // --------------- 廟宇 --------------------------------
    .Mymember-wrapper{
        //============= 廟宇======================
       .temple01 {
      


            .roof {
                top : -20.14583vw;
            }
        
            .option {

                margin : 15% auto;

                li {
                    width: 40%;

                    img {
                        width: 85%;
                    }
                }
            }
       }

   }
}