// =============== 酪梨姊姊 ===============================================

$liwd: 200px; //header_nav連結的寬  mixin-82
$nomove: -235px; //點擊出現的nav頁位移  mixin-68
$logoWd: 100px; //logo 大小 mixin-115
$x: 2%; //內框要減的寬度 mixin-161

$temWd: 100%; //廟整體比 header-38
$lanWd: 10%; //燈籠大小  header-56

// =============== 酪梨姊姊end =============================================


// =============== 太田der ===============================================

$bd : 1px solid black; //切版用黑邊

$bodyHeight: 100vh; //設定body高度為vh;

$headerHeight: 54px; //設定header高度

$backGround : #F0DED1; //背景

$pinkBorder : 1px solid #FF8181;

$pinkBorder2x : 2px solid #FF8181;

$CMargin: 4% 2%; //會員中心asideMargin

$BMargin: 1% 5%; //後台asideMargin

$MHeight: 450px; //會員中心高度

// select預設設定

$Swd : 100px;
$Spd : 1%;
$SpdL: 5px;
$SpdR: 30px;

// 以上


// =============== 太田end =============================================


// =================== 宗耘的var ======================================
  
  //字體map
  $font_size:(
    'h1' : 50px,  
    'h2' : 30px,
    'h3' : 20px,
    'h4' : 16px,
    'h5' : 10px,
);

//font_margin var
$margin_font: 25px 0px 0px 0px;
// $margin_h1:25px 0px;


// =================== 宗耘end ======================================
// =============== Dennis add for RWD breakpoint ===========================

$screen-xs: 480px;  // Phone
$screen-sm: 768px;  // Tablet
$screen-md: 992px;  // Desktop
$screen-lg: 1366px; // Big screen deskdop 

// =============== Dennis add for RWD breakpoint end ========================
//===================chan start================
//變數數字
$a: 10px; //數字
//網頁邊框
$max-width:982px;
//文字至中
$text-align:center;
$margin: auto; //list
$null: null; //null
$true: true; //true
$aa: false;
//字體大小
//===================chan end================


// =============== Dennis add for moonMatch ===========================
$msgBoxShow: 2s;
// =============== Dennis add for moonMatch end =======================