.moonMapAll-wrapper{
    background-color: #F0DED1;
    img{
        width: 100%;
    }
    // 台灣地圖區
    .Taiwan-block{
        margin: 0 auto;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;        
        border: 1px solid red;
        .twMap{
            position: relative;
            display: flex;
            justify-content: center;
            max-width: 1200px;
                    
            margin: 50px auto 0px;
            border: 1px solid rgb(108, 17, 255);
            embed{
                width: 95%;
                
            }
            // 月老
            .YueLao_block {
                position: absolute; 
                bottom: 0%;
                right: 0%;
                border: 1px solid black;
                width: 30%;
                // 對話框
                .dialog{
                    position: absolute;
                    top: -65%;
                    left: 15%;
                    width: 280px;
                    
                    background-color: #FFEEA8;
                    box-shadow: 0 0 0 8px white;
                    border-radius: 30px;
                    padding: 40px;
                .h3{
                  
                    word-break: break-word;
                }
                
                // 箭頭
                &::before,&::after{
                position: absolute;
                top:100%;
                left:50px;
                border: solid transparent;
                content: "";
                height: 0;
                width: 0;
                pointer-events: none;
                }
                &::after{
                    border-color: transparent;
                    border-top-color: #FFEEA8;
                    border-width: 15px;
                    margin-left: 60px;
                }
                &::before{
                    border-color: transparent;
                    border-top-color: white;
                    border-width: 30px;
                    margin-left: 45px; 
                }
                }
            
                
    
                .YueLao {
                  width: 90%;
                }
                .YueLaoCloud {
                  position: absolute;
                  bottom: 0px;
                  right: 30px;
                  width: 100%;
                }
              }
                   
        }

    }
}