@mixin dialog($top,$left,$width,$font,$pad) { //頂 左 寬 字 padd
    .Taiwan-block{

        .twMap{

            .YueLao_block{

                .dialog{
                    top:$top;
                    left: $left;
                    width: $width;
                    padding: $pad;                
                   h3{
                       font-size: $font;
                   }
                }
            } 
        } 
    } 
}

@include rwd(medium) {//992
    .moonMapAll-wrapper{
        
        .Taiwan-block{
            .twMap{

                // top: calc((100vh - 90vh) / 2);
                // left: calc((100vw - 90vw) / 2);
                width: 920px;
                height: 920px;
            }
        }
        @include dialog(-190px,0px,230px,17px,35px); //頂 左 寬 字 padd

        
    }
}

@include rwd(940px) {
    .moonMapAll-wrapper{
        
        .Taiwan-block{
            .twMap{

                // top: calc((100vh - 90vh) / 2);
                // left: calc((100vw - 90vw) / 2);
                width: 850px;
                height: 850px;
            }
        }
        @include dialog(-150px,25px,200px,17px,20px);

        
    }
}

@include rwd(880px) {
    .moonMapAll-wrapper{
        
        .Taiwan-block{
            .twMap{

                // top: calc((100vh - 90vh) / 2);
                // left: calc((100vw - 90vw) / 2);
                width: 800px;
                height: 800px;
            }
        }
        @include dialog(-150px,25px,200px,17px,20px);

        
    }
}


@include rwd(820px) {
    .moonMapAll-wrapper{
        
        .Taiwan-block{
            .twMap{

                // top: calc((100vh - 90vh) / 2);
                // left: calc((100vw - 90vw) / 2);
                width: 750px;
                height: 750px;
                bottom: 20%;
                .YueLao_block{
                    transform:translate(0,20%);
                   
                } 
            }
        }
        @include dialog(-150px,25px,190px,16px,20px);

        
    }
}


