@mixin dialog($top,$left,$width,$font) {
    .Taiwan-block{

        .twMap{

            .YueLao_block{

                .dialog{
                    top:$top;
                    left: $left;
                    width: $width;
                   h3{
                       font-size: $font;
                   }
                }
            } 
        } 
    } 
}

@include rwd(small) {
    .moonMapAll-wrapper{
        
        .Taiwan-block{
            .twMap{

                // top: calc((100vh - 90vh) / 2);
                // left: calc((100vw - 90vw) / 2);
                width: 650px;
                height: 550px;
            }
        }
        @include dialog(-185px,0px,180px,12px);

        
    }
}


@include rwd(655px) {
    .moonMapAll-wrapper{
        
        .Taiwan-block{
            .twMap{

                // top: calc((100vh - 90vh) / 2);
                // left: calc((100vw - 90vw) / 2);
                width: 600px;
                height: 500px;
                .YueLao_block{

                    .dialog{
                       padding: 30px;
                       
                    }
                } 
            }
        }
        @include dialog(-165px,0px,170px,10px);

        
    }
}

@include rwd(600px) {
    .moonMapAll-wrapper{
        .Taiwan-block{
            .twMap{
                display: none;
            }
            
        } 
        .Taiwan-block{
            .twMap-phone{
                display: flex;
            }
        }

        // .Taiwan-block{
        //     .twMap{

        //         // top: calc((100vh - 90vh) / 2);
        //         // left: calc((100vw - 90vw) / 2);
        //         width: 650px;
        //         height: 550px;
        //     }
        // }
        // @include dialog(-185px,0px,180px,12px);

        
    }
}