div.MyMascot-wrapper {

    //背景雲飄移動畫
    .cloud_one{
        // border: 1px solid red;
        background-image: url(../images/MyMascot/MyMascot_cloud_one.png);
        position: absolute;
        top:0px;
        height: 100%;
        width: 100%;
        background-size:cover;
        animation: move 100s infinite linear alternate;
        z-index: -1;
        opacity: .25;
        
        @keyframes move{
            100%{bckground-position: 500% 0;}
        }
    }

    .cloud_second{
        // border: 1px solid blue;
        background-image:url(../images/MyMascot/MyMascot_cloud_second.png);
        position: absolute;
        top:0px;
        height: 100%;
        width: 100%;
        background-size:cover;
        animation: move 120s infinite linear alternate;
        z-index: -2;
        opacity: .5;
    
    
        @keyframes move{
            100%{background-position: 500% 0;}
        }
    }
    //背景雲飄移動畫結束

    
    height: 100vh;
    padding-top: 130px;
    padding-bottom : 50px;
    overflow-x: hidden;

    @include member;

    display: flex;
    @include display;

    @include pop(mascot);
    @include pinkBox(maspop, 50%);

    .pinkBox_maspop {
        .inBox_maspop{
            width : 95%;            
        }
    }

    .pinkBox_maspop {
        position: relative;
        .customimg {
            @include flexCenter;

            img {
                width : 50%;
            }
        }

        h2 {
            color: #981A1A;
            text-align: center;
            margin: 2% auto;
        }

        @include btn (shop,40%,4%);
        @include times-circle;
        @include times-circle-position(50px, -25px, -20px);

        a {
            text-decoration: none;
            color : white;
        }    
    }


    $bwd: 25%;
    $phg: 2%;

    @include pinkBox(mascot, 100%);

    .pinkBox_mascot {
        border: 8px solid #ac5454;
        margin-bottom: 50px;
    }

    .ALeft {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30% !important;
        padding: 0 !important;
        background-color: transparent !important;
        border: none !important;

        .access {
            // border: 1px solid black;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            width: 65%;
            height: 100%;
            border: 6px solid white;
            background-color: #AC5454;
            border-radius: 20px;

            .cus {
                width: 80%;
                display: flex;
                flex-direction: column;
                // border: 1px solid #000;
                background-color: #FFF8CE;
                border-radius: 10px;
                padding: 10%;
                cursor: pointer;
                height: 20%;
                overflow: hidden;

                img {
                    max-width: 100%;                    
                }

            }
        }
        
        .list {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 35%;
            height: 100%;
            padding-top: 5%;

            .page {
                width: 100%;
                display: flex;
                flex-direction: column;
                border: 5px solid white;
                border-left: none;
                background-color: #AC5454;
                border-radius: 0 10px 10px 0;
                padding: 5%;
                margin: 5%;
                cursor: pointer;

                h3 {
                    color : white;
                }

                &:hover {
                    background-color: #ff7a7a;
                }
            }

            .choice {

                background-color: white;

                h3 {
                    color : #AC5454;
                }

                &:hover {
                    background-color: white;

                    h3 {
                        color : #AC5454;
                    }
                }
            }
        }
    }

    .ARight {
        display: flex;
        width: 70% !important;
        justify-content: center;
        flex-direction: column;
        border: 6px solid white !important;
        position: relative;

        .smallMascot {
            width: 25%;
            // border: 1px solid #000;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            
            .smallMas {
                cursor: pointer;
                img {
                    width : 100%;
                }
            }

            .opacity {
                opacity: .5;
            }
        }

        .Mascot {
            width: 70%;
            // border: 1px solid #000;
            @include flexCenter;
            margin: 0 auto;

            .mascotimg {
                @include flexCenter;
                // border: 1px solid #000;
                position: relative;
        
                .tail {
                    position: absolute;
                    // border: 1px solid black;
                    img {
                        width : 100%;
                    }
                }
        
                
                .dress {
        
                    position: absolute;
                    // border: 1px solid black;
        
                    img {
                        width : 100%;
                    }
                }
        
                .head {
                    width: 25%;
                    position: absolute;
                    // border: 1px solid black;
        
                    img {
                        width : 100%;
                    }
                }
        
                .face {
                    position: absolute;
                    // border: 1px solid black;
                    width: 35%;
        
                    img {
                        width : 100%;
                    }
                }
        
                .monkey_face {
                    top: 31%;
                }
        
                .fox_face {
                    top: 33.3%;
                }
        
                .monkey_head {
                    width: 25%;
                    top: 18%;
                }
        
                .fox_head {
                    top: 19%;
                    left: 42%;
                }
        
                .monkey_dress {
                    width: 41%;
                    top: 43%;
                }
        
                .fox_dress {
                    width: 48%;
                    top: 36%;
                }
        
                .monkey_tail {
                    width: 13%;
                    top: 16%;
                    left: 64%;
                    height: 58%;
                }
        
                .fox_tail {
                    width: 24%;
                    top: 32.1%;
                    left: 59.5%;
                }
        
                .rabbit_face {
                    top: 34.2%;
                }
        
                .rabbit_head {
                    width : 29%;
                    top: 20%;
                }
        
                .rabbit_dress {
                    width: 35%;
                    top: 44%;
                }
        
                .rabbit_tail {
                    width: 11%;
                    top: 64%;
                    left: 64%;
                }
        
                .chat {
                    width: 50%;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    background-color: white;
                    padding: 5% 3%;
                    border-radius: 20px;
                    border: 10px solid #FF8484;
                    position: absolute;
                    bottom: 80%;
                    left : 70%;
        
                    h3 {
                        color: #FF8484;
                    }
        
                    h4 {
                        font-weight: 600;
                    }
                    
                    .triangle {
                        position: absolute;
                        top: 100%;
                        border-style: solid;
                        border-width: 30px 35px 0 5px;
                        border-color: #FF8484 transparent transparent transparent;
                        left: 5%;
                    }
        
                    .trianglein {
                        position: absolute;
                        top: 99%;
                        border-style: solid;
                        border-width: 24px 25px 0 5px;
                        border-color: white transparent transparent transparent;
                        left: 7%;
                    }
        
        
                }
        
                .mascots {
                    width : 80%;
                }
            }
        

        }


        .Mrightspace {
            display: flex;
            justify-content: space-between;
            width: 100%;
            // border: 1px solid #000;
            
            @include btn (reset,25%,2%);
            @include btn (submit,25%,2%);
        }

    }

}