@include rwd(large) {

  div.MyMascot-wrapper {

    .pinkBox_maspop {
      width : 65%;

    }



    main {
      .pinkBox_mascot {
          .inBox_mascot {
              min-height: 450px;

              .Mascot {
                margin: 0 auto;
              }

              .mascotimg {



                .head {
                  top: 20%;
                }


                .face {
                  top: 33%;
                }

                .monkey_head {
                  width: 30%;
                }

                .monkey_dress {
                  width: 52%;
                }

                .monkey_tail {
                  top: 17%;
                  left: 68%;
                }

                .fox_head {
                  top: 21%;
                }

                .fox_dress {
                  width: 57%;
                }

                .fox_face {
                  top : 35.8%
                }

                .fox_tail {
                  width: 29.6%;
                  top: 32.6%;
                  left: 62.2%;
                }

                .rabbit_face {
                  width : 45%;
                  top: 34.2%;
               }

               .rabbit_head {
                  width: 37%;
               }

               .rabbit_dress {
                width: 48%;
                top: 43%;
              }

              .rabbit_tail {
                width: 13%;
                top: 65%;
                left: 68%;
              }

                .chat {
                  width : 65%;
                  padding: 3% 3%;
                }
                .mascots {
                  width : 100%;
                }
              }
          }
      }
    }

  }
  
}
