@include rwd(xsmall) {

   div.MyMascot-wrapper {

      .pinkBox_maspop {
 
         h2 {
            font-size: 20px;
         }
 
         a {
            font-size: 20px;
         }

         .customimg {
            img {
               width: 100%;
            }
         }
         
         .btnBlue_shop {
            width: 70%;
            padding: 8%;
        }

     }
 

      .pinkBox_mascot {

            .ARight {
               .Mascot {
                  .mascotimg {
                     .chat {
                        width: 80%;
                        bottom: 110%;
                        left: 55%;
                     }
                  }
               }
            } 
         }

      }
   
}