
h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 10px;
}

// =================== 酪梨姊姊的mixin ======================================

// ======= header_icon ========== 
  //header的總nav(會員,購物車icon)
  @mixin navlist {
    .navlist {
      display: flex;
      list-style: none;
      text-align: center;
      padding: 0;
      .username {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #58150d;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 0 2px #58150D;
        border-radius: 50%;           
        width: 50px;
        height: 50px;
        cursor: pointer;

        &:hover {
          transform: scale(1.2);
        }
      }
      li {
        margin-left: 30px;
 
        &:hover {
          a {
            i {
              transform: scale(1.2);
            }
          }
        }        
        a {
          display: flex;
          text-decoration: none;
  
          i {
            padding-top: 10px;
            color: #58150d;
            background-color: rgb(255, 255, 255);
            box-shadow: 0 0 0 2px #58150D;
            border-radius: 50%;           
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
  
  //=============== nav的hover底線效果 ===============
  @mixin hover2 {   
    &:hover {
      a {
        color: red;
        font-weight: bold;
        position: relative;
        &::after {
          position: absolute;
          bottom: 0;
          content: "";
          height: 1px;
          width: 50%;
          border-radius: 10px;
          transform: scale(1);
          transition: all ease 0.5s;
          background-color: rgb(255, 255, 255);
          box-shadow: 0 0 5px 1px rgb(255, 129, 129);
        }
      }
    }
  }
  


  //點擊出現的nav
  @mixin barList {  
    .bars {
      position: relative;
      .barList {
        // display: none;
        position: absolute;
        top: 80px;
        // right: 10px;
        right: $nomove;  //連結頁位移
        transition: all ease 0.5s;
        list-style: none;
        background-color: rgb(250, 250, 250);
        box-shadow: 0 0 5px 3px rgb(255, 154, 154);
        background-image: url('../images/籤風格01.jpg'); 
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;   
        border-radius: 15px;
        padding: 50px 0;
        li {
          font-size: 20px;
          margin: 0;
          width: $liwd;
  
          @include hover2;
          a {
            // border: 1px solid black;
            color: #851e13;
            padding: 15px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            &::after {
              content: "";
              transform: scale(0);
            }
          }
        }
      }
    }
  }
 
 
// ============= header_nav ==============================
@mixin nav{
  .nav{
    z-index: 999;
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top:8px;
    right: 15px;
    
    .Logo{
      position: absolute;
      top:10px;
      left: 30px;
      width: $logoWd; //100px
      transform:scale(1);
      transform-origin: center;
      background-color: rgba(#ffffff, 1);
      box-shadow: 0 0 5px 5px #fff9d7;
      border-radius: 50%;
      &:hover{
        transform: scale(1.1);      
        transition: all 0.1s;
      }
      img{
        width: 100%;
      }
    }  
    @include navlist;
    @include barList;
  }
}




  //=============== 頁籤元件 ================================
  @mixin list($i, $wd) {  //名稱,頁籤寬度
  
    ul.list_#{$i} {
      display: flex;
      justify-content: flex-end;
      width: 95%;
      li {
        margin: 0 5px;
        padding: 5px;
        text-align: center;
        width: $wd;
        color: white;
        list-style: none;
        background-color: #ac5454;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }


//=============== 粉紅框架元件 ===============================



@mixin pinkBox($Box, $wd, $i: null) {
  //名稱,整體寬度,margin左右間距
  .pinkBox_#{$Box} {
    width: $wd;
    background-color: #ff7a7a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    .inBox_#{$Box} {
      width: $wd - $x;
      margin: 2% $i;
      padding: 1%;
      background-color: #fff8ce;
      border: 8px solid #ac5454;
      border-radius: 10px;
      @content;
    }
  }
}

//============ 景點介紹 ========================
@mixin sceneNew($sNn, $sNwd, $sNiwd) {
  .sceneNew_#{$sNn} {
    width: $sNwd;
    height: 50%;
    overflow-y: scroll;
    ::-webkit-scrollbar-thumb {
      background-color: yellow;
      border-radius: 10px;
    }
    .newInBox_#{$sNn} {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 20px;
      width: $sNiwd;
      background-color: white;
    }
  }
}

//==========藍與紅button(命名規則要取btnBlue_自訂或BtnRed_自訂 才吃得到CSS)======

@mixin btn($bn, $bwd, $phg) {  //名稱,寬,padding左右間距
 
  $color: (
    "Blue": #7ed5ea,
    "Red": #ff7a7a,
  );

  @each $key, $var in $color {
    .btn#{$key}_#{$bn} {
      font-size: 30px;
      color: white;
      width: $bwd;
      padding: $phg;
      border-radius: 48px;
      align-items: center;
      outline-style: none;
      border: 0;
      background-color: $var;
      cursor: pointer;
      &:hover {
        @if $var==#7ED5EA {
          background-color: #599aaa;
        } @else {
          background-color: #ac5454;
        }
      }
    }
  }
}

//=======================招牌(花紋還未做)==================
@mixin signBox($sn, $swd, $swd2) {
  //自訂名稱,招牌寬度
  .signBox_#{$sn} {
    position: absolute;
    width: $swd;
    border-radius: 12px;
    border: 5px solid #ac5454;
    background-color: #ff7a7a;
    display: flex;
    justify-content: center;
    @content;
    .signInbox_#{$sn} {
      font-size: 50px;
      border-radius: 12px;
      border: 5px solid #ac5454;
      text-align: center;
      margin: 2%;
      padding: 1%;
      width: $swd2;
      position: relative;
      background-color: #fff8ce;
      background-image: url("/images/index/招牌花紋.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 98%;     
    }
  }
}

//================= 圓形照片(照片需正方形) =================================
@mixin roundImg($rn, $rwd, $inB, $outB) {
  //自訂名稱,園大小,園內框顏色,圓外框顏色
  .roundImg_#{$rn} {
    width: $rwd;
    border-radius: 50%;
    font-size: 0;
    box-shadow: 0px 0px 0px 10px $inB, 0px 0px 0px 15px $outB;
    overflow: hidden;
    .temple_#{$rn} {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}

//===================藍色關閉鍵(X)==============================
@mixin times-circle {
  .fas.fa-times-circle {
    position: absolute;
    @content;
    color: #7ed5ea;
    z-index: 0;
    &:hover {
      color: #599aaa;
    }
    .in_btn {
      position: absolute;
      background-color: white;
      width: 90%;
      height: 90%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      border-radius: 100%;
    }
  }
}

// ====================太田加碼送 關閉鍵定位在右上角Fsize(icon大小,top,right)

@mixin times-circle-position ($Fsize,$top,$right) {

  .fas.fa-times-circle { //關閉按鈕
    font-size: $Fsize;
    position: absolute;
    top: $top;
    right: $right;
    cursor: pointer;
  }
  
}

//====================== 酪梨姊姊end ============================================

//=======================太田der==============================================

//============= display =================================
@mixin display {
  
  .block {
    display: block !important;
  }

  .flex {
    display: flex !important;
  }

  .none {
    display: none !important;
  }

}

//============= input number按鈕移除 =================================
@mixin input_number {
    /* input number按鈕移除 */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}

//============= 錯誤警示用 =================================

@mixin errorRed { 
  .inp_error { //邊框紅色
    border: 2px solid red;
  }
  
  .str_error { //顏色紅色
    color: red;
    font-size: 16px;
  }
}

//============= //display flex置中 =================================

@mixin flexCenter { 
  display:flex;
  justify-content: center;
  align-items: center;
}

//============= //燈箱 =================================

@mixin pop($i) {

  .#{$i}_pop { //燈箱
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0%;
    z-index: 9999;
  }

  .#{$i}_pop_in { //燈箱內部
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(2px);
  }
}

@mixin profileImg ($name,$wd) { //會員中心circle頭像
  .#{$name}_img {
      width: $wd;
      height : $wd;
      border-radius: 50%;
  }
}

@mixin backstageBtn ($wd:null) { //後台btn

  $color: (
    "Blue": #7ed5ea,
    "Red": #ff7a7a,
  );

  @each $key, $var in $color {
  .bkbtn_#{$key} {
      width: $wd;
      margin: 0 2%;
      padding: 1%;
      border-radius: 10px;
      background-color: $var;
      cursor: pointer;
        h3 {
          color: white;
        }
      &:hover {
        @if $var==#7ED5EA {
          background-color: #599aaa;
        } @else {
          background-color: #ac5454;
        }
      }
    }
  }
}

@mixin input_text { //input type text layout (input class要設定type_text)
  .type_text {
    outline: 1px solid #7ED5EA;
    border: none;

    &:focus {
        transition: outline .2s;
        outline: 3px solid #7ED5EA;
    }
  }
}

@mixin select ($Swd,$Spd,$SpdL,$SpdR) { //選單layout

  // 因為icon是代入背景圖，寬度和padding需要自行調整。
  // 預設var帶入為以下設定，可以在include的時候決定代入var或自行代入參數
  // $Swd : 100px; width
  // $Spd : 1%; padding
  // $SpdL: 5px; paddoing-left
  // $SpdR: 30px; padding-right

  select {
    border: 1px solid #7ED5EA;

    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    -khtml-appearance:none;
    &::-ms-expand { display: none;}

    width: $Swd; 
    padding: $Spd;
    padding-left: $SpdL;
    padding-right: $SpdR;
    background: url("../../../images/style/input_arrow.png") no-repeat right center;
    background-color: white;

    option {
        &:hover {
            background-color: #7ED5EA;
        }
    }

    &:focus {
        outline: 2px solid #7ED5EA;
    }
  }  
}

@mixin checkbox { //checkboxlayout

  // 因為checbox需要用span取代整組樣式，請代入下面的html

  // <label class="checkbox">
  //   <input type="checkbox" class="checkbox" name=""> //這裡放原始checkbox，只要class一樣其他自行設定
  //   <span class="checkbox__control">
  //   <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden="true" focusable="false">
  //       <path fill='none' stroke='currentColor' stroke-width='3' d='M1.73 12.91l6.37 6.37L22.79 4.59' /></svg>
  //   </span>
  // </label>

  .check_box {
    input {
        display: none;

        &:focus + .checkbox__control {
            box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
        }
    
        &:checked + .checkbox__control svg {
            transform: scale(1.5);
        }
    
    }
  }

  .checkbox {
      display: grid;
      grid-template-columns: min-content auto;
      grid-gap: 0;
      font-size: 1rem;
      color:  #7ED5EA;
  }

  .checkbox__control {
    display: inline-grid;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    background-color: white;

    svg {
        transition: transform 0.1s ease-in 25ms;
        transform: scale(0);
        transform-origin: bottom left;
    }
  }
}

//=======================太田end==============================================



// =================== 宗耘的mixin ======================================

// ============= 頁籤元件 ==============================
@mixin know_list($i, $wd) {
  //名稱,頁籤寬度
    ul.list_#{$i}{
      font-size:30px;
      display: flex;
      justify-content: flex-end;
      width: 98%;
      margin:0px;

        li{
          &:hover {
            cursor: pointer;
          }

        }

        .tab.on {
            margin: 0px;
            padding: 15px 0px;
            text-align: center;
            width: $wd;
            color: white;
            list-style: none;
            background-color: #AC5454;
           
            
        }

        .tab{
            margin: 0px;
            padding: 15px 0px;
            text-align: center;
            width: $wd;
            color: white;
            list-style: none;
           
            background-color:darken(#AC5454, 20);
            border: 4px solid #AC5454;
           
        }
        
    }
};



// ============= 粉紅框架元件 ==============================
@mixin know_pinkBox($Box, $wd, $inside_w ,$i: null) {
//名稱,整體寬度,margin左右間距
.pinkBox_#{$Box} {
  width: $wd;
  background-color: #AC5454;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;

  .inBox_#{$Box} {
    width: $inside_w;
    flex-wrap:wrap;
    align-items: center; 
    margin: 1% 0% ;
    padding: 1%;
    background-color: #fff8ce;
    border: 8px solid #FF7A7A;
    display: none;
  }

  .inBox_#{$Box}.on {
      display: block;
  }

}
};

// =================== 宗耘end ======================================
// ===================== Dennis add for RWD =======================

@mixin rwd($breakpoint) {
  @if $breakpoint=="large" {
      @media all and (max-width: $screen-lg ) {
          @content;
      }
  }
  @else if $breakpoint=="medium" {
      @media all and (max-width: $screen-md ) {
          @content;
      }
  }
  @else if $breakpoint=="small" {
      @media all and (max-width: $screen-sm) {
          @content;
      }
  }
  @else if $breakpoint=="xsmall" {
      @media all and (max-width: $screen-xs) {
          @content;
      }
  }
  @else {
      @media all and (max-width: $breakpoint) {
          @content;
      }
  }
}

// ===================== Dennis add for RWD end ===================







// ===================== chan start ===================
@mixin margin_auto() {
  margin: 0 auto;
}

@mixin item_groups() {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

@mixin container() {
  max-width: $max-width;
  width: 100%;
  margin: auto;
}



// -------------------------------------
//客製化吉祥物圖片
@mixin customerPic() {
  height: 290px;
  width: 252px;
  background-color: #7ed5ea;
  border: 10px solid #FFFFFF;
  position: relative;
  border-radius: 30px;
}




//吉祥物圖片專用
@mixin customerPic3() {
  height: 235px;
  width: 235px;
  background-color: #ffeea8;
  border: 10px solid #FFFFFF;
  position: relative;
  border-radius: 30px;
}

@mixin PicContent1 {
  width: 160px;
  height: 140px;
  border-radius: 15px;
}

@mixin PicContent2() {
  width: 200px;
  height: 200px;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;

}

//客製化和非客製化專用
@mixin customerImg() {
  height: 260px;
  width: 200px;
  background-color: #FFFFFF;
  border: 5px solid #ac5454;
  box-shadow: 0 0 0px 5px#ff7a7a;
  position: relative;
  border-radius: 15px;
}

//手機板480px客製化和非客製化專用外框大小


//客製化和非客製化商品名稱
@mixin easyCard {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

//客製化和非客製化價格
@mixin ImagePrice1 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top:15px;
}

//數量增加按鈕
@mixin qty_plus {
  width: 30px;
  height: 22px;
  background: #7ed5ea;
  border-radius: 15%;
}

//數量減少按鈕
@mixin qty_minus {
  width: 30px;
  height: 22px;
  background: #7ed5ea;
  border-radius: 15%;
}

//中間數量顯示
@mixin qty {
  height: 30px;
  width: 30px;
}

//商品圖
@mixin productsImg() {
  height: 90px;
  width: 140px;
  margin: 5px auto 0 auto;

  // left: 0;
  // right: 0;
  // top: -50px;
  // bottom: 0;
  // margin: auto;
}

//商城-加入購物車按鈕
@mixin shopCars() {
  margin: 0 auto;
  bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  width:111px;
  height:29px;
  text-align:center;
  padding: 6px;
  background-color: #FF7A7A;
  color: #FFFFFF;
  display: inline-block;
  margin: auto;
  border-radius: 20px;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  line-height: 17px;
}

$fontSize-basic:10px;
@mixin fontSize($fontSize-basic) {
  h1 {
      font-size: $fontSize-basic * 5;
  }
  h2 {
      font-size: $fontSize-basic * 3;
  }
  h3 {
      font-size: $fontSize-basic *2;
  }
  h4 {
      font-size: $fontSize-basic *1.6;
  }
  h5 {
      font-size: $fontSize-basic * 1;
  }
}

//招牌
@mixin signToBox( $sign_width, $sign_margin, $sign_padding, $a) {
  //自訂名稱,招牌寬度
  .signBox_1 {
      @include margin_auto();
      width: $sign_width;
      border-radius: 15px;
      border: 5px solid #ac5454;
      background-color: #ff7a7a;
      display: flex;
      justify-content: center;
      z-index: 5;
      .signBox_2 {
          margin: $sign_margin;
          padding: $sign_padding;
          border-radius: 15px;
          border: 5px solid #ac5454;
          width: $sign_width - $a;
          background-color: #fff8ce;
          z-index: 5;
          .signBox_3 {
              @include margin_auto();
              margin: $sign_margin;
              background-color: #ac5454;
              z-index: 5;
              .signBox_4 {
                  @include margin_auto();
                  font-size: 50px;
                  border-radius: 250px/150px;
                  width: $sign_width - $a*3;
                  background-color: #fff8ce;
                  text-align: center;
                  color: #ac5454;
                  z-index: 5;
              }
          }
      }
  }
}

// 商品內容
@mixin proToBox($Box, $i:null) {
  //自訂名稱,招牌寬度
  .proBox#{$Box} {
      @include margin_auto();
      border-radius: 15px;
      background-color: #ff7a7a;
      display: flex;
      justify-content: center;
      position: relative;
     
      .proInBox#{$Box} {
        margin: 10px;
        border-radius: 10px;
        border: 8px solid #ac5454;
        background-color: #fff8ce;
        @content;
      }
    @content;
  }
}

//按鈕(padding寬度,背景顏色,邊框顏色,邊框角度,寬度,字體大小)
@mixin btnN($w, $bgc, $borderColor, $bdr, $width, $font-size) {
  padding: 10px $w;
  background-color: $bgc;
  border: 1px solid $borderColor;
  border-radius: $bdr;
  width: $width;
  font-size: $font-size;
  text-align: $text-align;
  cursor: pointer;
  display: inline-block;
  color: white;
}

@mixin signBoxShop( $sign_width, $sign_margin, $sign_padding, $a,$fz) {
  .signBox_1 {
      margin:auto;
      margin: right;
      // padding-top: 15px;
      width: $sign_width;
      border-radius: 12px;
      background-color: #ff7a7a;
      display: flex;
      justify-content: center;
      .signBox_2 {
          margin: $sign_margin;
          padding: $sign_padding;
          border-radius: 12px;
          border: 5px solid #ac5454;
          width: $sign_width - $a;
          background-color: #FFFFFF;
          font-size: $fz;
          font-weight: bold;
          text-align: center;
      }
  }
}

// ===================== chan end ===================
