
.shopDet-wrapper{
    // background-image: url('/images/index/pattern.svg');
    // background-repeat: repeat;
    // background-position: center center;
    // background-size: 20%;
    // z-index: 0;

      //背景雲飄移動畫
      .cloud_one{
        background-image: url(../images/moonShopDet/cloud_store_dev_one.png);
        position: absolute;
        top:0px;
        height: 100%;
        width: 100%;
        background-size:cover;
        animation: move 100s infinite linear alternate;
        z-index: -3;
        opacity: .5;
    
        @keyframes move{
            100%{bckground-position: 500% 0;}
        }
      }

      .cloud_second{
        background-image:url(../images/moonShopDet/cloud_store_dev_second.png);
        position: absolute;
        top:0px;
        height: 100%;
        width: 100%;
        background-size:cover;
        animation: move 100s infinite linear alternate;
        z-index: -2;
        opacity: .5;
    
    
        @keyframes move{
            100%{background-position: 500% 0;}
        }
    
      }
      //背景雲飄移動畫結束

 
    #ad {
    padding-top: 170px;
    }

    #product {
    margin-top: 80px;
    }
   
    i{
        cursor: pointer;
    }

    .container {
    // border:1px solid red;
    @include margin_auto();
    max-width: $max-width;
    width: 100%;
    @include signToBox(300px, 7px, 7px, 20px);
    @include proToBox(1);
    @include fontSize(10px);
    position: relative;
    
        .proGroups {
            display: flex;
            // border:1px solid red;
            // flex-direction: column;
        }
        .proImage {
            width: 50%;
            font-size: 16px;
            // border:1px solid blue;
            ul{
                list-style: none;
                display: flex;
                padding: 5px;
                a{
                    text-decoration: none;
                }
            }
            img{
                display: block;
                border-radius: 20px;
                margin: 5% auto 0 auto;
            }
            .detailProImg{
                position: relative;
                .proLuckyImg{
                    position:absolute;
                    left:0;
                    right:0;
                    top:0;
                    bottom:0;
                    margin:auto;
                    width:150px;
                    height:150px;
                }
            }
        }
        
        .proWords {
            width: 50%;
            // border:1px solid green;

            .proTitle1 {
                margin: 50px 0 50px 20px;
                font-size: 30px;
                font-weight: bold;
            }
            .proContent1 {
                margin: 20px 0 20px 20px;
                font-size: 20px;
                padding: 0 50px 0 0;
                font-weight: bold;
            }
            .proPrice1 {
                margin: 20px 0 20px 20px;
                font-size: 20px;
                font-weight: bold;
            }
            .proAmount {
                bottom: 35px;
                margin-left:20px;

                label {
                    font-size: 20px;
                    font-weight: bold;
                }
                .qty {
                    width: 30px;
                    height: 30px;
                    vertical-align: text-bottom;
                }
                i{
                    margin-top:5px;
                    color:#7ed5ea;
                    width: 30px;
                    height: 25px;
                    border-radius: 15%;
                }
            }
            p{
                text-align: left;
                margin: 20px 0px 20px 20px;
                font-size: 20px;
                font-weight: bold;
              
            }

            // button
            .btn_groups {
                text-align: left;
                // position: absolute;
                left: 0px;
                margin:0 0 10px 20px;
                // bottom: -20px;
    
                .btnBlue {
                    @include btnN(10px, #7ed5ea, 0, 48px, 150px, 20px);
                    margin-right: 20px;
                    text-decoration: none;
                }
                .btnBlue:hover{
                    background-color: #599aaa;
                }
                
                .btnRed {
                    @include btnN(10px, #ff7a7a, 0, 48px, 150px, 20px);
                    text-decoration: none;
                }
                .btnRed:hover{
                     background-color:#ac5454;
                }
            }
        }
        // oldman
        .orderImg {
            position: absolute;
            left:-145px;
            bottom: 0;
            // border:1px solid red;
        }
        .cloud2 {
            position: absolute;
            left:50px;
            z-index: 33;
            bottom: 8px;
        }
    }
}

