
.shopDet-wrapper{
    // background-image: url('/images/index/花紋.svg');
    // background-repeat: repeat;
    // background-position: center center;
    // background-size: 20%;
    // z-index: 0;
 
    #ad {
    padding-top: 170px;
    }

    #product {
    margin-top: 80px;
    }
   
    i{
        cursor: pointer;
    }

    .container {
    // border:1px solid red;
    @include margin_auto();
    max-width: $max-width;
    width: 100%;
    @include signToBox(300px, 7px, 7px, 20px);
    @include proToBox(1);
    @include fontSize(10px);
    position: relative;
    
        .proGroups {
            display: flex;
            // border:1px solid red;
            // flex-direction: column;
        }
        .proImage {
            width: 50%;
            font-size: 16px;
            // border:1px solid blue;

            ul{
                list-style: none;
                display: flex;
                padding: 5px;
                a{
                    text-decoration: none;
                }
            }
            img{
                display: block;
                border-radius: 20px;
                margin: 15% auto;
            }
        }
        
        .proWords {
            width: 50%;
            // border:1px solid green;

            .proTitle1 {
                margin-top: 50px;
                font-size: 30px;
                font-weight: bold;
            }
            .proContent1 {
                margin: 20px 0;
                font-size: 20px;
                padding: 0 50px 0 0;
                font-weight: bold;
            }
            .proPrice1 {
                margin: 20px 0 20px 0;
                font-size: 20px;
                font-weight: bold;
            }
            .proAmount {
                bottom: 35px;

                label {
                    font-size: 20px;
                    font-weight: bold;
                }
                .qty {
                    width: 30px;
                    height: 30px;
                    vertical-align: text-bottom;
                }
                i{
                    margin-top:5px;
                    color:#7ed5ea;
                    width: 30px;
                    height: 25px;
                    border-radius: 15%;
                }
            }
            p{
                text-align: right;
                margin: 20px 0;
                font-size: 20px;
                font-weight: bold;
              
            }

            // button
            .btn_groups {
                text-align: left;
                // position: absolute;
                left: 0px;
                margin-bottom:10px;
                // bottom: -20px;
    
                .btnBlue {
                    @include btnN(10px, #7ed5ea, 0, 48px, 150px, 20px);
                    margin-right: 20px;
                    text-decoration: none;
                }
                .btnBlue:hover{
                    background-color: #599aaa;
                }
                
                .btnRed {
                    @include btnN(10px, #ff7a7a, 0, 48px, 150px, 20px);
                    text-decoration: none;
                }
                .btnRed:hover{
                     background-color:#ac5454;
                }
            }
        }
        // oldman
        .orderImg {
            position: absolute;
            left:-70px;
            bottom: 0;
            // border:1px solid red;
        }
        .cloud2 {
            position: absolute;
            left:-20px;
            z-index: 33;
            bottom: 6px;
        }
    }
}

