// * {
//   box-sizing: border-box;
// }

// body {
//   background-color: #f0ded1;
//   margin: 0 auto;
//   overflow: hidden;
// }
// img {
//   width: 100%;
// }


.index-wrapper { 
  background-image: url('/images/index/花紋.svg');
  background-repeat: repeat;
  background-position: center center;
  background-size: 20%;
  z-index: 0;
  img{
    width: 100%;
  }
  .backCloud{
    position: absolute;
    bottom: 0;
    opacity: 0.7;
    background-image: url('/images/index/背景雲.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 0;

  }

  //============= 廟宇======================
  .temple01 {
    max-width: 1200px;
    margin: 0 auto;
    width: $temWd;
    height: 100vh;
    .roofBlock {
      height: 35%;
      .roof {
        position: relative;
        z-index: 3;
      }
  
      .lanternBlock {
        position: relative;
        display: flex;
        width: $temWd;
        margin: 0 auto;
        justify-content: space-between;
        top: -145px;
  
        .lantern {
          width: $lanWd;
          z-index: 1;
          .left {
            position: absolute;
            left: 0;
          }
          .right {
            position: absolute;
            right: 0;
          }
        }
      }
    }
  
    // =======燈籠=============
    .iconBlock {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      height: 50%;
      overflow: hidden;
      margin: 0 auto;
      margin-top: 15px;
      // border: 1px solid black;
  
      // --- swiper css setting
      .swiper-container {
        border: 1px solid #ccc;
        width: 60%;
        height: 500px;
  
        margin: 50px auto;
        overflow: hidden;
      }
      .swiper-slide {
        text-align: center;
       
        display: flex;
        justify-content: center;
        align-items: center;
      }
      // --- swiper css setting end
  
      .icon1 {
       
        margin: 0 auto;
      }
    }
  
    // ==========燈籠光暈=============
    .light {
      border-radius: 50%;
      box-shadow: 0px 0px 80px 30px #d5ff4c;
    }
    .railingBlock {
      position: relative;
      // border: 1px solid red;
      .railing {
        width: 100%;
        position: relative;
        bottom: -20px;
        z-index: 3;
      }
    }
  }
  
  //============左前雲==========
  $cwd:450px;
  .cloud.left {
    position: absolute;
    bottom: -90px;
    left: 8%;
    width: $cwd;
    // border: 1px solid red;
  }
  
  // ===========右前雲============
  .cloud.right {
    position: absolute;
    bottom: -90px;
    right: 8%;
    width: $cwd;
    // border: 1px solid red;
  }
   
  
}

