@mixin iconBlock($width1, $width2) {
  .iconBlock {
    .swiper-slide {
      .icon-list1 {
        width: $width1; // 50%
      }
      .icon-list2 {
        width: $width2; // 30%
      }
      .icon-list3 {
        width: $width1; //50%
      }
    }
  }
}

@mixin iconblock-font($font, $h2width) {
  .iconBlock {
    h2.iconbut {
      font-size: $font;
      width: $h2width;
    }
    .swiper-slide {
      h2.footer {
        font-size: $font;
      }
    }
  }
}
@include rwd(xsmall) {
  .index-wrapper {
    .main {
      .temple01 {
        width: 100%;
        height: 450px;

        .pillar.left,
        .pillar.right {
          display: none;
        }

        .roof {
          top: 0;
          .lantern.left,
          .lantern.right {         
            bottom: -70px;
          }
        }
        .cloud {
          width: 250px;
        }
        .cloud.aheadR {
          right: 10px;
        }
        .cloud.aheadL {
          left: 10px;
        }

        @include iconBlock(60%, 35%);
        @include iconblock-font(12px, 80px);
      }
    }
  }
}

@include rwd(414px) {
  .index-wrapper {
    .main {
      .temple01 {
       

        .iconBlock {
          width: 60%;
          height: 50%;
        }
        
        .roof {
        
         .lantern.left,
         .lantern.right {         
           bottom: -60px;
         }
       }
        .YueLao {
          width: 35%;
        }
        .cloud {
          width: 230px;
        }
      

        @include iconBlock(60%, 35%);
        @include iconblock-font(10px, 80px);
      }
    }
  }
}
