@include rwd(xsmall) {
     // --------------- 廟宇 --------------------------------
     .index-wrapper{
        //============= 廟宇======================
       .temple01 {
      
        width: 70vw;
        height: 70vh;
        top:(100vh - 70vh) / 2;
        left: (100vw - 70vw) / 2;         

       }
   }
}