// 1920px-1366px


// 1366
@include rwd(large) {

    .large_line{

        // 1200區間線
        .middle_line{

             //月老跟對話框調整大小
             .god_talk{
                width:420px;

                .talk{
                    width:200px;
                    transform: translateY(-85px) translateX(85px);

                        h3{
                            padding-right: 10px;
                            padding-bottom: 60px;
                        }
                }

                .MoonOfGod{
                    width:280px;
                }
            }

        }
    }
}



//1210
@include rwd(1210px) {

    .large_line{

        // 1200區間線
      .middle_line{

            //籤筒/雲朵/按鈕變小
            .duelbox{

                .cloud{
                    width:400px;
                    transform: translateY(280px);

                }

                .duel_case{
                    width: 180px;
                    transform: translateY(-140px);


                }

                .btn_go{

                    transform: translateY(-125px);


                }
                
            }

                 //月老跟對話框調整大小
                 .god_talk{
                    width:420px;
    
                    .talk{
                        width:200px;
                        transform: translateY(-85px) translateX(85px);
    
                            h3{
                                padding-right: 10px;
                                padding-bottom: 60px;
                            }
                    }
    
                    .MoonOfGod{
                        width:280px;
                    }
                }
      }

    }
}