@include rwd(large) {
  div.MyMsg-wrapper {
    .pinkBox_MyMsg {
        .inBox_MyMsg {
            .Msg {
                .Mimage {
                    .newMsg {
                        left: 25%;
                    }
                }
                .Mbtn {
                    @include btn(read, 60%, 3%);
                }
    
            }
        }

        .noRelationShip {

            .btnBlue_Link {
                width: 40%;
                padding: 3%;
            }

        }

    }

  }
}
