@mixin signBoxShop( $sign_width, $sign_margin, $sign_padding, $a) {
    .signBox_1 {
        margin: right;
        margin-top: 15px;
        width: $sign_width;
        border-radius: 12px;
        background-color: #ff7a7a;
        display: flex;
        justify-content: center;
        .signBox_2 {
            margin: $sign_margin;
            padding: $sign_padding;
            border-radius: 12px;
            border: 5px solid #ac5454;
            width: $sign_width - $a;
            background-color: #FFFFFF;
            font-size: h3;
            text-align: center;
        }
    }
}


.shop-wrapper{

    margin:auto;
    max-width: $max-width;
    width: 100%;
//shop 招牌用

#CusPictures {
    margin-top: 20px;
}

#CusImages {
    margin-top: 60px;
}

#NonCusImages {
    margin-top: 20px;
}

.container {
    @include container();
    @include signBoxShop(250px, 2px, 5px, 10px);
    position: relative;
    .orderImg {
        position: absolute;
        right: -200px;
        bottom: 0;
        z-index: 0;
    }
    .cloud2 {
        position: absolute;
        right: -20px;
        z-index: 33;
        bottom: 0;
    }
    .item_groups {
        @include item_groups();
        .CusPicture1 {
            @include customerPic();
            .PicContent1 {
                @include PicContent1();
            }
            p {
                text-align: center;
                bottom: 1px;
                font-weight: bold;
                font-size: h4;
            }
            .tran {
                position: absolute;
                bottom: -50px;
                left: 50%;
                transform: translateX(-50%);
                width: 0px;
                height: 0px;
                border-top: 30px solid black;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 20px solid transparent;
            }
            .tran1 {
                position: absolute;
                bottom: -30px;
                left: 50%;
                transform: translateX(-50%);
                width: 0px;
                height: 0px;
                border-top: 20px solid#7ed5ea;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 13px solid transparent;
            }
        }
        .CusPicture2 {
            @include customerPic3();
            .PicContent2 {
                @include PicContent2();
            }
            p {
                bottom: 2px;
                text-align: center;
                font-weight: bold;
                font-size: h4;
            }
        }
        .CusPicture3 {
            @include customerPic3();
            .PicContent2 {
                @include PicContent2();
            }
            p {
                bottom: 2px;
                text-align: center;
                font-weight: bold;
                font-size: h4;
            }
        }
        .CusPicture4 {
            @include customerPic3();
            .PicContent2 {
                @include PicContent2();
            }
            p {
                bottom: 2px;
                text-align: center;
                font-weight: bold;
                font-size: h4;
            }
        }
        // 客制化圖片
        .CusImage1 {
            @include customerImg();
            .easyCard {
                @include easyCard();
            }
            .ImagePrice1 {
                @include ImagePrice1();
            }
            .shopCars {
                @include shopCars();
            }
            .ImageContent1 {
                @include productsImg();
            }
            .qty {
                @include qty();
            }
            .proAmount {
                text-align: center;
                bottom: 35px;
            }
            .qty_plus {
                @include qty_plus();
            }
            .qty_minus {
                @include qty_minus();
            }
        }
        .CusImage2 {
            @include customerImg();
            .easyCard {
                @include easyCard();
            }
            .ImagePrice1 {
                @include ImagePrice1();
            }
            .shopCars {
                @include shopCars();
            }
            .ImageContent1 {
                @include productsImg();
            }
            .qty {
                @include qty();
            }
            .proAmount {
                text-align: center;
                bottom: 35px;
            }
            .qty_plus {
                @include qty_plus();
            }
            .qty_minus {
                @include qty_minus();
            }
        }
        .CusImage3 {
            @include customerImg();
            .easyCard {
                @include easyCard();
            }
            .ImagePrice1 {
                @include ImagePrice1();
            }
            .shopCars {
                @include shopCars();
            }
            .ImageContent1 {
                @include productsImg();
            }
            .qty {
                @include qty();
            }
            .proAmount {
                text-align: center;
                bottom: 35px;
            }
            .qty_plus {
                @include qty_plus();
            }
            .qty_minus {
                @include qty_minus();
            }
        }
        .CusImage4 {
            @include customerImg();
            .easyCard {
                @include easyCard();
            }
            .ImagePrice1 {
                @include ImagePrice1();
            }
            .shopCars {
                @include shopCars();
            }
            .ImageContent1 {
                @include productsImg();
            }
            .qty {
                @include qty();
            }
            .proAmount {
                text-align: center;
                bottom: 35px;
            }
            .qty_plus {
                @include qty_plus();
            }
            .qty_minus {
                @include qty_minus();
            }
        }
        // 非客制化圖片
        .CusImage5 {
            @include customerImg();
            .easyCard {
                @include easyCard();
            }
            .ImagePrice1 {
                @include ImagePrice1();
            }
            .shopCars {
                @include shopCars();
            }
            .ImageContent1 {
                @include productsImg();
            }
            .qty {
                @include qty();
            }
            .proAmount {
                text-align: center;
                bottom: 35px;
            }
            .qty_plus {
                @include qty_plus();
            }
            .qty_minus {
                @include qty_minus();
            }
        }
        .CusImage6 {
            @include customerImg();
            .easyCard {
                @include easyCard();
            }
            .ImagePrice1 {
                @include ImagePrice1();
            }
            .shopCars {
                @include shopCars();
            }
            .ImageContent1 {
                @include productsImg();
            }
            .qty {
                @include qty();
            }
            .proAmount {
                text-align: center;
                bottom: 35px;
            }
            .qty_plus {
                @include qty_plus();
            }
            .qty_minus {
                @include qty_minus();
            }
        }
        .CusImage7 {
            @include customerImg();
            .easyCard {
                @include easyCard();
            }
            .ImagePrice1 {
                @include ImagePrice1();
            }
            .shopCars {
                @include shopCars();
            }
            .ImageContent1 {
                @include productsImg();
            }
            .qty {
                @include qty();
            }
            .proAmount {
                text-align: center;
                bottom: 35px;
            }
            .qty_plus {
                @include qty_plus();
            }
            .qty_minus {
                @include qty_minus();
            }
        }
        .CusImage8 {
            @include customerImg();
            .easyCard {
                @include easyCard();
            }
            .ImagePrice1 {
                @include ImagePrice1();
            }
            .shopCars {
                @include shopCars();
            }
            .ImageContent1 {
                @include productsImg();
            }
            .qty {
                @include qty();
            }
            .proAmount {
                text-align: center;
                bottom: 35px;
            }
            .qty_plus {
                @include qty_plus();
            }
            .qty_minus {
                @include qty_minus();
            }
        }
    }
}
    
}