//以上是992px
 @include rwd(975px){
    .shop-wrapper{
        .container1{
            .item_groups{
                .CusPicture1{
                    margin:0 40px;
                    margin-bottom:30px;
                }
                .CusPicture2{
                    margin:0 40px;
                    margin-bottom:30px;
                }
                 .CusPicture3{                 
                    margin:0 40px;
                }
                .CusPicture4{
                    margin:0 40px;
                }
            }
        }
    }
}

@include rwd(819px){
    .shop-wrapper{
        #ad{
            padding-top:130px;
        }
        .container{
            .item_groups{
                .CusImage1{
                      margin:0 40px;                 
                }
                 .CusImage2{
                      margin:0 40px;              
                }
                 .CusImage3{
                      margin:0 40px;
                      top:20px;
                }
                  .CusImage4{
                     margin:0 40px;
                     top:20px;
                }
                  .CusImage5{
                      margin:0 40px;
                }
                  .CusImage6{
                      margin:0 40px;
                }
                  .CusImage7{
                      margin:0 40px;
                      top:20px;
                }
                  .CusImage8{
                      margin:0 40px;
                      top:20px;
                }
              }
           }
       }
    }

   
 
