//It is 768px
@include rwd(648px) {
    .shop-wrapper{
        .container1{
            .item_groups{      
                .CusPicture4{
                    margin-top:30px;
                }
            }
        }
        #pagination1{
                margin-top:50px;
        }
    }
}



@include rwd(578px){
    .shop-wrapper{
        .container{
            .item_groups{
                .CusImage1{
                    .ImagePrice1 {
                        font-size:30px;
                        padding-top:15px;
                    } 
                    .shopCars {
                        font-size:30px;
                        width:200px;
                        height:40px;
                        margin-bottom:10px;
                        line-height: 30px;
                    }
                }
                .CusImage2{
                    margin-top:20px;  
                    .ImagePrice1 {
                        font-size:30px;
                        padding-top:15px;
                    } 
                    .shopCars {
                        font-size:30px;
                        width:200px;
                        height:40px;
                        margin-bottom:10px;
                        line-height: 30px;
                    }
                }
                .CusImage3{
                    .ImagePrice1 {
                        font-size:30px;
                        padding-top:15px;
                    } 
                    .shopCars {
                        font-size:30px;
                        width:200px;
                        height:40px;
                        margin-bottom:10px;
                        line-height: 30px;
                    }
                }
                .CusImage4{
                    margin-top:20px;    
                    .ImagePrice1 {
                        font-size:30px;
                        padding-top:15px;
                    } 
                    .shopCars {
                        font-size:30px;
                        width:200px;
                        height:40px;
                        margin-bottom:10px;
                        line-height: 30px;
                    }
                }
                .CusImage5{
                    .ImagePrice1 {
                        font-size:30px;
                        padding-top:15px;
                    } 
                    .shopCars {
                        font-size:30px;
                        width:200px;
                        height:40px;
                        margin-bottom:10px;
                        line-height: 30px;
                    }
                }
                .CusImage6{
                    margin-top:20px;  
                    .ImagePrice1 {
                        font-size:30px;
                        padding-top:15px;
                    } 
                    .shopCars {
                        font-size:30px;
                        width:200px;
                        height:40px;
                        margin-bottom:10px;
                        line-height: 30px;
                    }
                }
                .CusImage7{
                    .ImagePrice1 {
                        font-size:30px;
                        padding-top:15px;
                    } 
                    .shopCars {
                        font-size:30px;
                        width:200px;
                        height:40px;
                        margin-bottom:10px;
                        line-height: 30px;
                    }
                }
                .CusImage8{
                    margin-top:20px;  
                    .ImagePrice1 {
                        font-size:30px;
                        padding-top:15px;
                    } 
                    .shopCars {
                        font-size:30px;
                        width:200px;
                        height:40px;
                        margin-bottom:10px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}


@include rwd(576px){
    .shop-wrapper{
        .container{
            .item_groups{
                .CusImage1{
             
                    width:300px;
                    height:390px;
            
                .ImageContent1{
                    border:1px solid blue;
                    width:210px;
                    height:135px;
                    margin-top:30px;
                    // background-size:cover;
                    // background-position: center;
                    // background-repeat: no-repeat;
                    // background-image: url(/images/moonShop/悠遊卡.png);
                }
                img{
                    width:210px;
                    height:135px;
                }
                .ImagePrice1{
                    margin-top:20px;
                }
                .eCard{
                    width:105px;
                    height:105px;
                }
                .qty{
                   width:40px;
                   height:40px;
                   font-size:20px;
                }
                i{
                    font-size:50px;
                }
                .shopCars{
                    bottom:15px;
                }
            }

                .CusImage2{
                    margin-top:20px;
                    width:300px;
                    height:390px;   
                    .ImageContent1{
                        border:1px solid blue;
                        width:210px;
                        height:135px;
                        margin-top:30px;
                        // background-size:cover;
                        // background-position: center;
                        // background-repeat: no-repeat;
                        // background-image: url(/images/moonShop/悠遊卡.png);
                    }
                    img{
                        width:210px;
                        height:135px;
                    }
                    .ImagePrice1{
                        margin-top:20px;
                    }
                    .bigpillow{
                        width:105px;
                        height:105px;
                    }
                    .qty{
                        width:40px;
                        height:40px;
                        font-size:20px;
                     }
                     i{
                         font-size:50px;
                     }
                     .shopCars{
                         bottom:15px;
                     }
                }
                .CusImage3{
                
                    width:300px;
                    height:390px;   
                    .ImageContent1{
                        border:1px solid blue;
                        width:210px;
                        height:135px;
                        margin-top:30px;
                        // background-size:cover;
                        // background-position: center;
                        // background-repeat: no-repeat;
                        // background-image: url(/images/moonShop/悠遊卡.png);
                    }
                    img{
                        width:210px;
                        height:135px;
                    }
                    .ImagePrice1{
                        margin-top:20px;
                    }
                    .bigmask{
                        width:90px;
                        height:90px;
                    }
                    .qty{
                        width:40px;
                        height:40px;
                        font-size:20px;
                     }
                     i{
                         font-size:50px;
                     }
                     .shopCars{
                         bottom:15px;
                     } 
                }
                .CusImage4{
                    margin-top:20px;
                    width:300px;
                    height:390px;   
                    .ImageContent1{
                        border:1px solid blue;
                        width:210px;
                        height:135px;
                        margin-top:30px;
                        // background-size:cover;
                        // background-position: center;
                        // background-repeat: no-repeat;
                        // background-image: url(/images/moonShop/悠遊卡.png);
                    }
                    img{
                        width:210px;
                        height:135px;
                    }
                    .ImagePrice1{
                        margin-top:20px;
                    }
                    .bignotebook{
                        width:105px;
                        height:105px;
                    }
                    .qty{
                        width:40px;
                        height:40px;
                        font-size:20px;
                     }
                     i{
                         font-size:50px;
                     }
                     .shopCars{
                         bottom:15px;
                     }   
                }
                .CusImage5{
            
                    width:300px;
                    height:390px;   
                    .ImageContent1{
                        border:1px solid blue;
                        width:210px;
                        height:135px;
                        margin-top:30px;
                        // background-size:cover;
                        // background-position: center;
                        // background-repeat: no-repeat;
                        // background-image: url(/images/moonShop/悠遊卡.png);
                    }
                    img{
                        width:210px;
                        height:135px;
                    }
                    .ImagePrice1{
                        margin-top:20px;
                    }
                    .qty{
                        width:40px;
                        height:40px;
                        font-size:20px;
                     }
                     i{
                         font-size:50px;
                     }
                     .shopCars{
                         bottom:15px;
                     }   
                }
                .CusImage6{
                    margin-top:20px;
                    width:300px;
                    height:390px;   
                    .ImageContent1{
                        border:1px solid blue;
                        width:210px;
                        height:135px;
                        margin-top:30px;
                        // background-size:cover;
                        // background-position: center;
                        // background-repeat: no-repeat;
                        // background-image: url(/images/moonShop/悠遊卡.png);
                    }
                    img{
                        width:210px;
                        height:135px;
                    }
                    .ImagePrice1{
                        margin-top:20px;
                    }
                    .qty{
                        width:40px;
                        height:40px;
                        font-size:20px;
                     }
                     i{
                         font-size:50px;
                     }
                     .shopCars{
                         bottom:15px;
                     }    
                }
                .CusImage7{
      
                    width:300px;
                    height:390px;   
                    .ImageContent1{
                        border:1px solid blue;
                        width:210px;
                        height:135px;
                        margin-top:30px;
                        // background-size:cover;
                        // background-position: center;
                        // background-repeat: no-repeat;
                        // background-image: url(/images/moonShop/悠遊卡.png);
                    }
                    img{
                        width:210px;
                        height:135px;
                    }
                    .ImagePrice1{
                        margin-top:20px;
                    }
                    .qty{
                        width:40px;
                        height:40px;
                        font-size:20px;
                     }
                     i{
                         font-size:50px;
                     }
                     .shopCars{
                         bottom:15px;
                     }   
                }
                .CusImage8{
                    margin-top:20px;
                    width:300px;
                    height:390px;   
                    .ImageContent1{
                        border:1px solid blue;
                        width:210px;
                        height:135px;
                        margin-top:30px;
                        // background-size:cover;
                        // background-position: center;
                        // background-repeat: no-repeat;
                        // background-image: url(/images/moonShop/悠遊卡.png);
                    }
                    img{
                        width:210px;
                        height:135px;
                    }
                    .ImagePrice1{
                        margin-top:20px;
                    }
                    .qty{
                        width:40px;
                        height:40px;
                        font-size:20px;
                     }
                     i{
                         font-size:50px;
                     }
                     .shopCars{
                         bottom:15px;
                     }   
                }
            }
        }
    }
}