@include rwd(medium) {
    div.MyInfo-wrapper {
        main{
            .ALeft {
                display: none;
            }
            .ARight {
                width : 100% !important;
                form {

                    .inputRow {
                        .more {
                            width : 40%;
                        }
                        .check_box {
                            width : 60%;
                          }
                        .selection {
                            flex-wrap: wrap;
                            width : 50%;

                            select {
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }
        }
   }
}